# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
#Libraries
#Dataframe and arrays
import pandas as pd
import numpy as np


from scipy.spatial.distance import pdist, squareform

In [2]:
df = pd.read_excel('../data/online_fashion.xlsx')

In [3]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [4]:
df.shape

(541909, 8)

In [5]:
df.Quantity.unique()

array([     6,      8,      2,     32,      3,      4,     24,     12,
           48,     18,     20,     36,     80,     64,     10,    120,
           96,     23,      5,      1,     -1,     50,     40,    100,
          192,    432,    144,    288,    -12,    -24,     16,      9,
          128,     25,     30,     28,      7,     56,     72,    200,
          600,    480,     -6,     14,     -2,     11,     33,     13,
           -4,     -5,     -7,     -3,     70,    252,     60,    216,
          384,    -10,     27,     15,     22,     19,     17,     21,
           34,     47,    108,     52,  -9360,    -38,     75,    270,
           42,    240,     90,    320,   1824,    204,     69,    -36,
         -192,   -144,    160,   2880,   1400,     39,    -48,    -50,
           26,   1440,     31,     82,     78,     97,     98,     35,
           57,    -20,    110,    -22,    -30,    -70,   -130,    -80,
         -120,    -40,    -25,    -14,    -15,    -69,   -140,   -320,
           -8,    720,    156,    324,     38,     37,     49,     95,
           -9,    -11,     29,     41,    -72,    -35,    -21,    -43,
          -19,    -18,    -44,    402,    378,    150,    300,     54,
          104,     67,    258,     66,     44,     55,     46,     99,
           61,    408,    972,    208,   1008,   1000,    -77,   1488,
          250,   1394,    400,   -223,   -150,    -13,    -33,   -723,
         -177,     79,     84,    -32,   -100,    -28,    272,   -145,
          -47,    -96,    113,     45,    106,     68,    267,    115,
           65,   1728,    -60,    -16,     53,   -240,     76,    460,
           71,     43,    213,     58,    576,   2400,    500,    180,
         -300,   -500,    -23,    752,    960,   1296,    210,    172,
          215,    129,    138,    116,    135,    197,   -106,    -54,
          -17,   -939,    147,    168,    256,   -201,    -53,    -29,
        -2600,   -990,   -290,    -45,    860,   1010,   1356,   1284,
          186,    114,    360,   1930,   2000,   3114,   1300,    670,
          111,    211,     59,   -310,    -61,    -41,    176,    648,
           62,  74215, -74215,    -64,    -84,     89,  -1400,     73,
          -57,    112,    456,    -59,    -31,   5568,   2560,    136,
          900,   -600,    -42,    -94,   -207,    -52,    130,   -206,
         2592,    420,    800,    101,   1200,    864,   -217,     94,
        -1430,   1287,   -162,   -230,   -173,   -390,   -234,    504,
          123,    118,    -76,   -200,   1056,   1500,    280,    407,
          141,    124,    -99,     51,    -92,   -741,   3906,   -400,
         -114,    102,   1152,    -88,    198,    117,     86,   -720,
          125,    -86,   -391,    -87,   -278,    140,    228,   -154,
        -3000,     81,   -675,   -210,   -345,   -975,  -1200,  -1121,
          -27,   -541,  -1277,   -197,   3000,  -1100,    -63,  -5368,
          219,   -259,    232,    -82,   -178,    170,   -110,    768,
           88,    700,   -102,   2160,   -323,   -450,   -232,    -83,
         -153,   -524,  -2472,    -49,   -105,    342,    304,    167,
          -34,    640,    175,    220,     74,     93,    164,    163,
           63,    637,    122,    158,    165,    350,    -46,    -75,
         -690,    -39,    -66,     83,    312,   -180,    392,   -624,
         -194,    -26,    -62,    -37,    -91,   -139,   -158,  -1479,
          -55,   -576,   -750,    330,    151,    -93,   -432,    -58,
        -1092,   -670,  -1300,  -1930,  -2000,  -3114,    462,    -65,
          -68,    492,   -620,    273,    -90,   -170,  -1512,    -51,
           85,    -56,   -160,   -360,    105,   -960,  -2376,   1350,
          428,  -1350,    336,   -786,   -590,   -168,   -101,    -71,
          132,   -413,   -664,    227,   2700,    222,    246,    906,
          756,    888,    552,    -97,    224,    738,    608,   -212,
         4300,    146,    143,    276,   -125,   -116,   -108,   4000,
         -304,   -272,  -1206,    -95,   1600,    323,   -161,   -472,
         -618,   -204,   1515,  -1515,  -9058,  -9600,    660,   -420,
         -126,   -220,   -271,  -1440,    264,    188,    588,    612,
          152,   -324,   -480,   -164,    -78,   -118,    430,  -1681,
           87,    155,    701,    828,    540,    696,    560,   -250,
         -408,   -179,    121,   -124,    512,   -251,  -3100,   3100,
         -169,    126,    291,   3186,  -2834,   -109,    109,   -121,
         -530,   -227,    261,   -346,    352,    142,    107,   -188,
        -1060,   -342,   -288,    348,   1900,    157,   -343,   -455,
          425,    968,    684,    824,   -828,   -701,    196,    248,
          410,    236,    230,   -156,   -553,    145,    448,    245,
         -252,   -334,   -318,   -113,   -115,    171,   -242,    840,
         -967,   -203,  -3167,   -443,  -1897,    225,   -434,    750,
         -682,   -484,    682,    344,   -635,   -117,  -3667,    450,
          310,    494,   -384,     92,   1788,   -138,    624,    744,
          416,    496,    396,    306,   1878,   1944,    666,    708,
         1428,    852,   1412,    528,   -756,   -752,   -152,    -85,
         -312,    -79,   -147,    -67,   -131,    183,   -209,   -186,
         -231,   -129,   -458,   -275,  -2880,   1540,    672,   -800,
         -430,   -380,    -74,   -840,  -1296,   -365,   -104,   -270,
          -73,   -306,     91,    255,    468,   -468,   -111,   -184,
         -103,   -335,   4800,   -112,  -1000,    912,   1992,    184,
          148,   -657,  -1671,  -1158,  -2618,  -2003,   -674,  -4830,
         -905,  -1128,    832,    992,    630,   1020,   2100,    162,
        -1560,  -1284,    -81,    314,    370,    131,    133,    484,
          149,    153,    257,    139,    137,    628,    179,   1820,
          478,    335,    253,    242,    375,   -276,   -256,    281,
          193,    181,    404,    244,    207,    199,   1130,    326,
          654,    688,    268,    249,   -864,    234,  -1510,   -550,
         -244,   -132,   -327,   -313,    279,   -398,   -280,    374,
         -504,   -696,   -149,   -224,   -428,    212,   -267,   -175,
        12540,    760,    -98,    774,   -151,   2040,  -1131,   -135,
         1120,     77,   -900,    177,    490,    388,    620,   1404,
         -155,   -355,   -337,  -1050,   -338,    205,   -235,    698,
        80995, -80995], dtype=int64)

In [6]:
df.sort_values(by='Quantity')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom
225529,556690,23005,printing smudges/thrown away,-9600,2011-06-14 10:37:00,0.00,NaN,United Kingdom
225530,556691,23005,printing smudges/thrown away,-9600,2011-06-14 10:37:00,0.00,NaN,United Kingdom
4287,C536757,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,-9360,2010-12-02 14:23:00,0.03,15838.0,United Kingdom
225528,556687,23003,Printing smudges/thrown away,-9058,2011-06-14 10:36:00,0.00,NaN,United Kingdom
115818,546152,72140F,throw away,-5368,2011-03-09 17:25:00,0.00,NaN,United Kingdom
431381,573596,79323W,"Unsaleable, destroyed.",-4830,2011-10-31 15:17:00,0.00,NaN,United Kingdom
341601,566768,16045,NaN,-3667,2011-09-14 17:53:00,0.00,NaN,United Kingdom
323458,565304,16259,NaN,-3167,2011-09-02 12:18:00,0.00,NaN,United Kingdom
160145,C550456,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,-3114,2011-04-18 13:08:00,2.10,15749.0,United Kingdom
263884,560039,20713,wrongly marked. 23343 in box,-3100,2011-07-14 14:27:00,0.00,NaN,United Kingdom
113580,545990,84598,check,-3000,2011-03-08 13:07:00,0.00,NaN,United Kingdom
375429,569466,23270,incorrect stock entry.,-2880,2011-10-04 11:42:00,0.00,NaN,United Kingdom
270886,560600,18007,NaN,-2834,2011-07-19 17:04:00,0.00,NaN,United Kingdom
431378,573593,79323LP,"Unsaleable, destroyed.",-2618,2011-10-31 15:16:00,0.00,NaN,United Kingdom
50849,540564,22617,"mouldy, thrown away.",-2600,2011-01-10 10:36:00,0.00,NaN,United Kingdom
131399,547560,72732,thrown away-can't sell,-2472,2011-03-23 17:28:00,0.00,NaN,United Kingdom
185113,552733,23059,Thrown away-rusty,-2376,2011-05-11 10:48:00,0.00,NaN,United Kingdom
431379,573594,79323P,"Unsaleable, destroyed.",-2003,2011-10-31 15:16:00,0.00,NaN,United Kingdom
160144,C550456,21175,GIN + TONIC DIET METAL SIGN,-2000,2011-04-18 13:08:00,1.85,15749.0,United Kingdom
160143,C550456,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-1930,2011-04-18 13:08:00,2.55,15749.0,United Kingdom
323469,565310,21829,?missing,-1897,2011-09-02 12:26:00,0.00,NaN,United Kingdom
242906,558379,22618,"mouldy, unsaleable.",-1681,2011-06-28 16:34:00,0.00,NaN,United Kingdom
431376,573591,79323B,"Unsaleable, destroyed.",-1671,2011-10-31 15:15:00,0.00,NaN,United Kingdom
445127,574816,85036C,damages wax,-1560,2011-11-07 10:37:00,0.00,NaN,United Kingdom
224419,C556522,22920,HERB MARKER BASIL,-1515,2011-06-13 11:21:00,0.55,16938.0,United Kingdom
174654,551837,79164,damages/credits from ASOS.,-1512,2011-05-04 13:23:00,0.00,NaN,United Kingdom
472841,576764,16008,check,-1510,2011-11-16 13:10:00,0.00,NaN,United Kingdom
151033,549527,21620,mystery! Only ever imported 1800,-1479,2011-04-08 16:03:00,0.00,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
160545,550461,21175,GIN + TONIC DIET METAL SIGN,2000,2011-04-18 13:20:00,1.69,15749.0,United Kingdom
177702,552172,16014,SMALL CHINESE STYLE SCISSOR,2000,2011-05-06 13:03:00,0.32,16308.0,United Kingdom
311391,564272,16014,SMALL CHINESE STYLE SCISSOR,2000,2011-08-24 10:52:00,0.32,16308.0,United Kingdom
52710,540815,21175,GIN + TONIC DIET METAL SIGN,2000,2011-01-11 12:55:00,1.85,15749.0,United Kingdom
511421,579498,23084,RABBIT NIGHT LIGHT,2040,2011-11-29 15:52:00,1.79,12798.0,Japan
437480,574294,21915,RED HARMONICA IN BOX,2100,2011-11-03 15:47:00,1.06,16333.0,United Kingdom
125282,547037,21967,PACK OF 12 SKULL TISSUES,2160,2011-03-20 10:37:00,0.25,14101.0,United Kingdom
87631,543669,22693,GROW A FLYTRAP OR SUNFLOWER IN TIN,2400,2011-02-11 11:22:00,0.94,16029.0,United Kingdom
32671,539101,22693,GROW A FLYTRAP OR SUNFLOWER IN TIN,2400,2010-12-16 10:35:00,0.94,16029.0,United Kingdom
91772,544152,18007,ESSENTIAL BALM 3.5g TIN IN ENVELOPE,2400,2011-02-16 12:10:00,0.06,14609.0,United Kingdom
421601,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646.0,Netherlands
74615,542505,79063D,NaN,2560,2011-01-28 12:04:00,0.00,NaN,United Kingdom
80742,543057,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,2592,2011-02-03 10:50:00,0.21,16333.0,United Kingdom
201149,554272,21977,PACK OF 60 PINK PAISLEY CAKE CASES,2700,2011-05-23 13:08:00,0.42,12901.0,United Kingdom
291249,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931.0,United Kingdom
4945,536830,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,2880,2010-12-02 17:38:00,0.18,16754.0,United Kingdom
433788,573995,16014,SMALL CHINESE STYLE SCISSOR,3000,2011-11-02 11:24:00,0.32,16308.0,United Kingdom
115807,546139,84988,?,3000,2011-03-09 16:35:00,0.00,NaN,United Kingdom
263885,560040,23343,came coded as 20713,3100,2011-07-14 14:28:00,0.00,NaN,United Kingdom
52711,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749.0,United Kingdom
160546,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749.0,United Kingdom
270885,560599,18007,ESSENTIAL BALM 3.5g TIN IN ENVELOPE,3186,2011-07-19 17:04:00,0.06,14609.0,United Kingdom
97432,544612,22053,EMPIRE DESIGN ROSETTE,3906,2011-02-22 10:43:00,0.82,18087.0,United Kingdom
220843,556231,85123A,?,4000,2011-06-09 15:04:00,0.00,NaN,United Kingdom
206121,554868,22197,SMALL POPCORN HOLDER,4300,2011-05-27 10:52:00,0.72,13135.0,United Kingdom
421632,573008,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,4800,2011-10-27 12:26:00,0.21,12901.0,United Kingdom
74614,542504,37413,NaN,5568,2011-01-28 12:03:00,0.00,NaN,United Kingdom
502122,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.00,13256.0,United Kingdom
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom

In [7]:
df.isnull().sum() / df.shape[0] * 100.00

InvoiceNo       0.000000
StockCode       0.000000
Description     0.268311
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.926694
Country         0.000000
dtype: float64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [9]:
df.InvoiceDate.min()

Timestamp('2010-12-01 08:26:00')

In [10]:
df.InvoiceDate.max()

Timestamp('2011-12-09 12:50:00')

## Decide what I want to drop

In [11]:
#Country = Unspecified 
#CustomerID
#Description

#####Price
#Unit price of 0 (zero)

#####Quantity
#Massive negative values

#####Items
#POSTAGE
#DOTCOM POSTAGE

In [12]:
df['Rev'] = df['Quantity']*df['UnitPrice']

In [13]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Rev
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [14]:
#Top 10 Countries
df_top_countries_stg = df.groupby(['Country'])['Rev'].agg('sum')
df_top_countries = df_top_countries_stg.sort_values(ascending=False).head(10).to_frame()
df_top_countries

                         Rev
Country
United Kingdom  8.187806e+06
Netherlands     2.846615e+05
EIRE            2.632768e+05
Germany         2.216982e+05
France          1.974039e+05
Australia       1.370773e+05
Switzerland     5.638535e+04
Spain           5.477458e+04
Belgium         4.091096e+04
Sweden          3.659591e+04

In [15]:
df_top_countries = df_top_countries.reset_index()

In [16]:
top_country_rev = []
for i in df_top_countries['Country'][:3]:
    top_country_rev.append(i)
top_country_rev

['United Kingdom', 'Netherlands', 'EIRE']

In [17]:
#Top 10 Description by Revenue - All Countries
df_top_items_rev = df.groupby(['Description'])['Rev'].agg('sum')
df_top_items_rev.sort_values(ascending=False).head(10)

Description
DOTCOM POSTAGE                        206245.48
REGENCY CAKESTAND 3 TIER              164762.19
WHITE HANGING HEART T-LIGHT HOLDER     99668.47
PARTY BUNTING                          98302.98
JUMBO BAG RED RETROSPOT                92356.03
RABBIT NIGHT LIGHT                     66756.59
POSTAGE                                66230.64
PAPER CHAIN KIT 50'S CHRISTMAS         63791.94
ASSORTED COLOUR BIRD ORNAMENT          58959.73
CHILLI LIGHTS                          53768.06
Name: Rev, dtype: float64

In [18]:
#Top 10 Description by Quantity - All Countries
df_top_items_vol = df.groupby(['Description'])['Quantity'].agg('sum')
df_top_items_vol.sort_values(ascending=False).head(10)

Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     53847
JUMBO BAG RED RETROSPOT               47363
ASSORTED COLOUR BIRD ORNAMENT         36381
POPCORN HOLDER                        36334
PACK OF 72 RETROSPOT CAKE CASES       36039
WHITE HANGING HEART T-LIGHT HOLDER    35317
RABBIT NIGHT LIGHT                    30680
MINI PAINT SET VINTAGE                26437
PACK OF 12 LONDON TISSUES             26315
PACK OF 60 PINK PAISLEY CAKE CASES    24753
Name: Quantity, dtype: int64

In [19]:



for i in top_country_rev:
    print(df.loc[df['Country'] == i].groupby(['Description'])['Quantity'].agg('sum').sort_values(ascending=False).head(3))

Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS    48326
JUMBO BAG RED RETROSPOT              43167
POPCORN HOLDER                       34365
Name: Quantity, dtype: int64
Description
RABBIT NIGHT LIGHT      4801
SPACEBOY LUNCH BOX      4528
DOLLY GIRL LUNCH BOX    4132
Name: Quantity, dtype: int64
Description
PACK OF 72 RETROSPOT CAKE CASES    1728
60 TEATIME FAIRY CAKE CASES        1536
VINTAGE SNAP CARDS                 1492
Name: Quantity, dtype: int64

In [20]:
df_days_week = df

In [21]:
df_days_week.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
Rev            541909 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.2+ MB

In [22]:
df_days_week['Weekday'] = df_days_week['InvoiceDate'].dt.day_name()
df_days_week.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Rev,Weekday
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,Wednesday
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Wednesday
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,Wednesday
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Wednesday
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Wednesday

In [23]:
#customers with more than one country
df_cust_country = df.groupby(['CustomerID','Country']).count()
#df_cust_country.to_frame
df_cust_country

                           InvoiceNo  StockCode  Description  Quantity  \
CustomerID Country
12346.0    United Kingdom          2          2            2         2
12347.0    Iceland               182        182          182       182
12348.0    Finland                31         31           31        31
12349.0    Italy                  73         73           73        73
12350.0    Norway                 17         17           17        17
12352.0    Norway                 95         95           95        95
12353.0    Bahrain                 4          4            4         4
12354.0    Spain                  58         58           58        58
12355.0    Bahrain                13         13           13        13
12356.0    Portugal               59         59           59        59
12357.0    Switzerland           131        131          131       131
12358.0    Austria                19         19           19        19
12359.0    Cyprus                254        254          254       254
12360.0    Austria               129        129          129       129
12361.0    Belgium                10         10           10        10
12362.0    Belgium               274        274          274       274
12363.0    Unspecified            23         23           23        23
12364.0    Belgium                85         85           85        85
12365.0    Cyprus                 23         23           23        23
12367.0    Denmark                11         11           11        11
12370.0    Austria                 8          8            8         8
           Cyprus                159        159          159       159
12371.0    Switzerland            63         63           63        63
12372.0    Denmark                52         52           52        52
12373.0    Austria                14         14           14        14
12374.0    Austria                33         33           33        33
12375.0    Finland                18         18           18        18
12377.0    Switzerland            77         77           77        77
12378.0    Switzerland           219        219          219       219
12379.0    Belgium                41         41           41        41
...                              ...        ...          ...       ...
18245.0    United Kingdom        177        177          177       177
18246.0    United Kingdom          4          4            4         4
18248.0    United Kingdom         49         49           49        49
18249.0    United Kingdom          8          8            8         8
18250.0    United Kingdom         22         22           22        22
18251.0    United Kingdom         16         16           16        16
18252.0    United Kingdom         98         98           98        98
18255.0    United Kingdom          6          6            6         6
18256.0    United Kingdom          4          4            4         4
18257.0    United Kingdom        123        123          123       123
18259.0    United Kingdom         42         42           42        42
18260.0    United Kingdom        140        140          140       140
18261.0    United Kingdom         21         21           21        21
18262.0    United Kingdom         13         13           13        13
18263.0    United Kingdom         62         62           62        62
18265.0    United Kingdom         46         46           46        46
18268.0    United Kingdom          2          2            2         2
18269.0    United Kingdom          8          8            8         8
18270.0    United Kingdom         13         13           13        13
18272.0    United Kingdom        170        170          170       170
18273.0    United Kingdom          3          3            3         3
18274.0    United Kingdom         22         22           22        22
18276.0    United Kingdom         16         16           16        16
18277.0    United Kingdom          9          9            9         9
18278.0    United Kingdom          9          9            9         9
18280.0    United Kingdom         10         10           10        10
18281.0    United Kingdom          7          7            7         7
18282.0    United Kingdom         13         13           13        13
18283.0    United Kingdom        756        756          756       756
18287.0    United Kingdom         70         70           70        70

                           InvoiceDate  UnitPrice  Rev  Weekday
CustomerID Country
12346.0    United Kingdom            2          2    2        2
12347.0    Iceland                 182        182  182      182
12348.0    Finland                  31         31   31       31
12349.0    Italy                    73         73   73       73
12350.0    Norway                   17         17   17       17
12352.0    Norway                   95         95   95       95
12353.0    Bahrain                   4          4    4        4
12354.0    Spain                    58         58   58       58
12355.0    Bahrain                  13         13   13       13
12356.0    Portugal                 59         59   59       59
12357.0    Switzerland             131        131  131      131
12358.0    Austria                  19         19   19       19
12359.0    Cyprus                  254        254  254      254
12360.0    Austria                 129        129  129      129
12361.0    Belgium                  10         10   10       10
12362.0    Belgium                 274        274  274      274
12363.0    Unspecified              23         23   23       23
12364.0    Belgium                  85         85   85       85
12365.0    Cyprus                   23         23   23       23
12367.0    Denmark                  11         11   11       11
12370.0    Austria                   8          8    8        8
           Cyprus                  159        159  159      159
12371.0    Switzerland              63         63   63       63
12372.0    Denmark                  52         52   52       52
12373.0    Austria                  14         14   14       14
12374.0    Austria                  33         33   33       33
12375.0    Finland                  18         18   18       18
12377.0    Switzerland              77         77   77       77
12378.0    Switzerland             219        219  219      219
12379.0    Belgium                  41         41   41       41
...                                ...        ...  ...      ...
18245.0    United Kingdom          177        177  177      177
18246.0    United Kingdom            4          4    4        4
18248.0    United Kingdom           49         49   49       49
18249.0    United Kingdom            8          8    8        8
18250.0    United Kingdom           22         22   22       22
18251.0    United Kingdom           16         16   16       16
18252.0    United Kingdom           98         98   98       98
18255.0    United Kingdom            6          6    6        6
18256.0    United Kingdom            4          4    4        4
18257.0    United Kingdom          123        123  123      123
18259.0    United Kingdom           42         42   42       42
18260.0    United Kingdom          140        140  140      140
18261.0    United Kingdom           21         21   21       21
18262.0    United Kingdom           13         13   13       13
18263.0    United Kingdom           62         62   62       62
18265.0    United Kingdom           46         46   46       46
18268.0    United Kingdom            2          2    2        2
18269.0    United Kingdom            8          8    8        8
18270.0    United Kingdom           13         13   13       13
18272.0    United Kingdom          170        170  170      170
18273.0    United Kingdom            3          3    3        3
18274.0    United Kingdom           22         22   22       22
18276.0    United Kingdom           16         16   16       16
18277.0    United Kingdom            9          9    9        9
18278.0    United Kingdom            9          9    9        9
18280.0    United Kingdom           10         10   10       10
18281.0    United Kingdom            7          7    7        7
18282.0    United Kingdom           13         13   13       13
18283.0    United Kingdom          756        756  756      756
18287.0    United Kingdom           70         70   70       70

[4380 rows x 8 columns]

In [24]:
#Revenue by Day of Week - All Countries
df_day_of_week_rev = df_days_week.groupby(['Weekday'])['Rev'].agg('sum')
df_day_of_week_rev.sort_values(ascending=False)#.head(10)

Weekday
Thursday     2112519.000
Tuesday      1966182.791
Wednesday    1734147.010
Monday       1588609.431
Friday       1540610.811
Sunday        805678.891
Name: Rev, dtype: float64

In [25]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Rev,Weekday
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,Wednesday
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Wednesday
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,Wednesday
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Wednesday
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,Wednesday

In [26]:
#Customers with Negative Qty
#Identify Customer/ Product mix that are negative - i.e. potential returns from outside reporting period

df_cust_neg_qty = df.groupby(['CustomerID', 'StockCode'])['Quantity'].agg('sum').to_frame()
df_cust_neg_qty.reset_index(inplace=True)
df_cust_neg_qty = df_cust_neg_qty.loc[(df_cust_neg_qty['Quantity'] <= 0)]
df_cust_neg_qty

df_new = df[~(df['StockCode'].isin(df_cust_neg_qty.StockCode) & df['CustomerID'].isin(df_cust_neg_qty.CustomerID))]

df_new.shape

(434567, 10)

In [27]:
#Find & Remove Strange StockCodes
df_unique_stock_codes = df['StockCode'].unique()
df_unique_stock_codes = pd.DataFrame(df_unique_stock_codes)
df_unique_stock_codes['len'] = df_unique_stock_codes[0].astype(str).str.len()
df_unique_stock_codes.rename(columns={0:'StockCode'}, inplace=True)
df_unique_stock_codes.sort_values(by='len')
df_unique_stock_codes['len'] = df_unique_stock_codes['len'].astype(int)
#df_unique_stock_codes.loc[(df_unique_stock_codes['len'] >= 8) | (df_unique_stock_codes['len'] <= 4)].sort_values(by='len')

df_stock_to_drop_stg = df_unique_stock_codes.loc[(df_unique_stock_codes['len'] >= 8) | (df_unique_stock_codes['len'] <= 4)].sort_values(by='len')
df_stock_to_drop_stg.reset_index(drop=True)
df_stock_to_drop = pd.concat([df_stock_to_drop_stg.iloc[0:10], df_stock_to_drop_stg.iloc[-6:], df_stock_to_drop_stg.iloc[-9:-8] ])
df_stock_to_drop

df_new = df_new[~(df['StockCode'].isin(df_stock_to_drop.StockCode) )]

df_new.shape

C:\Users\ellio\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

(432457, 10)

In [28]:
#Remove rows where the CustomerID is Nan
df_new.dropna(subset=['CustomerID'], inplace=True)

In [29]:
#Stratisfying Customers based on Spend During Reporting Period

# PART 1
rev_by_cust = df_new.groupby("CustomerID")["Rev"].sum().to_frame()
rev_by_cust

rev_by_cust['quantile'] = pd.qcut(rev_by_cust['Rev'], 100, labels=False)
rev_by_cust

# Emanuele's way didnt work. 
conditions = [
    (rev_by_cust['quantile'] >= 75 ) & (rev_by_cust['quantile'] <= 95),
    (rev_by_cust['quantile'] > 95)]
choices = ['Preferred', 'VIP']
rev_by_cust['Status'] = np.select(conditions, choices, default='Regular')
print(rev_by_cust)

                Rev  quantile     Status
CustomerID
12347.0     4310.00        95  Preferred
12348.0     1437.24        79  Preferred
12349.0     1457.55        79  Preferred
12350.0      294.40        28    Regular
12352.0      245.13        24    Regular
12353.0       89.00         4    Regular
12354.0     1079.40        72    Regular
12355.0      459.40        45    Regular
12356.0     2487.43        89  Preferred
12357.0     6207.67        97        VIP
12358.0      928.06        67    Regular
12359.0     1446.13        79  Preferred
12360.0     2302.06        88  Preferred
12361.0      174.90        15    Regular
12362.0     1679.43        82  Preferred
12363.0      552.00        50    Regular
12364.0     1208.10        75  Preferred
12365.0      140.34        11    Regular
12367.0      150.90        12    Regular
12370.0     3425.69        93  Preferred
12371.0     1527.96        80  Preferred
12372.0     1196.04        74    Regular
12373.0      324.60        32    Regular
12374.0      622.93        54    Regular
12375.0      375.42        38    Regular
12377.0     1548.12        80  Preferred
12378.0     4008.62        95  Preferred
12379.0      775.29        62    Regular
12380.0     2423.56        89  Preferred
12381.0      438.56        43    Regular
...             ...       ...        ...
18240.0      422.58        42    Regular
18241.0      475.77        46    Regular
18242.0     2232.49        88  Preferred
18245.0      719.97        60    Regular
18246.0      596.10        53    Regular
18248.0      246.14        24    Regular
18249.0       95.34         5    Regular
18250.0      342.92        35    Regular
18251.0     4314.72        95  Preferred
18252.0      526.67        49    Regular
18255.0      103.30         6    Regular
18257.0      705.40        59    Regular
18259.0     2338.60        88  Preferred
18260.0     2595.00        90  Preferred
18261.0      324.24        32    Regular
18262.0      149.48        12    Regular
18263.0     1211.08        75  Preferred
18265.0      801.51        63    Regular
18269.0       20.10         0    Regular
18270.0      141.90        11    Regular
18272.0     3064.78        92  Preferred
18273.0      204.00        19    Regular
18276.0       52.68         2    Regular
18277.0       21.10         0    Regular
18278.0      173.90        15    Regular
18280.0      180.60        16    Regular
18281.0       80.82         4    Regular
18282.0      176.60        16    Regular
18283.0     2088.93        86  Preferred
18287.0     1837.28        84  Preferred

[4304 rows x 3 columns]

In [30]:
#Top Returning Customers
df_top_returners = df.groupby(['CustomerID'])['Quantity'].agg('sum').to_frame()
df_top_returners.reset_index(inplace=True)
df_top_returners = df_top_returners.loc[(df_top_returners['Quantity'] < 0)].sort_values(by='Quantity', ascending=True)
df_top_returners

      CustomerID  Quantity
3103     16546.0      -303
2578     15823.0      -283
1384     14213.0      -244
3245     16742.0      -189
2892     16252.0      -158
3650     17307.0      -144
3829     17548.0      -132
4350     18256.0       -70
264      12666.0       -56
2436     15638.0       -52
2506     15728.0       -34
3870     17603.0       -31
1200     13958.0       -23
1106     13829.0       -12
4261     18141.0       -12
3126     16579.0       -12
1799     14777.0        -9
1004     13693.0        -6
2900     16262.0        -5
1688     14627.0        -5
4029     17820.0        -5
3828     17547.0        -4
212      12605.0        -4
415      12870.0        -2
1318     14119.0        -2
2802     16138.0        -1
3020     16428.0        -1
467      12943.0        -1
2745     16061.0        -1
991      13672.0        -1
3435     16995.0        -1
3487     17065.0        -1
2560     15802.0        -1
3756     17448.0        -1
2400     15590.0        -1
127      12505.0        -1
2236     15369.0        -1
1727     14679.0        -1
619      13154.0        -1
125      12503.0        -1

In [31]:
#Min Max Mode Median for Each StockCode
#HELP!!!!
df_product_price_variance = df.groupby(['StockCode'])['UnitPrice'].agg('min')
df_product_price_variance

StockCode
10002            0.00
10080            0.00
10120            0.21
10125            0.42
10133            0.00
10134            0.00
10135            0.25
11001            0.83
15030            0.00
15034            0.07
15036            0.00
15039            0.53
16008            0.00
16010            0.00
16011            0.21
16012            0.21
16014            0.32
16015            0.00
16016            0.72
16033            0.00
16043            0.00
16045            0.00
16046            0.00
16048            0.12
16049            0.00
16052            0.00
16053            0.00
16054            0.12
16216            0.06
16218            0.06
                ...
C2               0.00
CRUK             1.60
D                0.01
DCGS0003         0.00
DCGS0004        16.63
DCGS0055         0.00
DCGS0057         0.00
DCGS0066P        0.00
DCGS0067         0.00
DCGS0068         0.00
DCGS0069         0.00
DCGS0070         0.00
DCGS0071         0.00
DCGS0072         0.00
DCGS0073         0.00
DCGS0074         0.00
DCGS0076        16.13
DCGSSBOY         1.25
DCGSSGIRL        1.25
DOT              0.00
M                0.00
PADS             0.00
POST             0.00
S                2.80
gift_0001_10     0.00
gift_0001_20     0.00
gift_0001_30     0.00
gift_0001_40    33.33
gift_0001_50    41.67
m                2.55
Name: UnitPrice, Length: 4070, dtype: float64

In [32]:
#Top Invoice Values by Rev
df_top_invoices_rev = df.groupby(['InvoiceNo', 'CustomerID'])['Rev'].agg('sum').to_frame()
df_top_invoices_rev.reset_index(inplace=True)
df_top_invoices_rev = df_top_invoices_rev.sort_values(by='Rev', ascending=False)
df_top_invoices_rev

      InvoiceNo  CustomerID        Rev
18503    581483     16446.0  168469.60
1909     541431     12346.0   77183.60
7926     556444     15098.0   38970.00
12419    567423     17450.0   31698.16
8112     556917     12415.0   22775.93
14459    572209     18102.0   22206.00
12411    567381     17450.0   22104.80
10843    563614     12415.0   21880.44
5463     550461     15749.0   21535.90
14371    572035     14646.0   20277.92
10612    563076     14646.0   19150.66
10344    562439     12931.0   18841.48
1824     541220     14156.0   16774.72
3494     545475     12415.0   16726.84
7876     556255     18102.0   16488.00
564      537659     18102.0   15885.49
4541     548011     14646.0   15719.56
13388    569650     12415.0   15643.77
1692     540815     15749.0   15160.90
6437     552883     14646.0   14415.74
2843     543989     12415.0   14022.92
13359    569570     16684.0   13760.02
10131    561901     14156.0   13464.26
8746     558526     17949.0   13355.40
12243    566934     18102.0   13249.94
10840    563590     17450.0   13031.50
1659     540689     17450.0   12797.52
10499    562789     14646.0   12341.21
3076     544479     14646.0   11956.10
6731     553546     12415.0   11924.80
...         ...         ...        ...
19047   C542348     12539.0   -1715.85
21086   C566925     12748.0   -1829.84
19659   C549452     17940.0   -1867.86
19619   C548834     12744.0   -2053.07
21414   C570552     16029.0   -2076.00
21533   C572334     14607.0   -2199.12
21976   C578363     15482.0   -2210.64
20831   C563577     17949.0   -2231.30
21750   C575224     17511.0   -2506.00
19293   C545033     14156.0   -2548.80
21314   C569743     15769.0   -2924.00
21534   C572343     14607.0   -2949.28
20601   C560647     18102.0   -3060.60
20755   C562647     15502.0   -3155.95
20935   C564940     12931.0   -3491.02
21474   C571499     12454.0   -3528.34
21139   C567527     17450.0   -3825.36
20958   C565044     12931.0   -3969.93
19618   C548830     12744.0   -4037.77
20567   C560372     17448.0   -4287.63
20736   C562375     14911.0   -4345.10
21489   C571750     12744.0   -6068.06
19849   C551699     16029.0   -6930.00
19848   C551685     16029.0   -8142.75
21589   C573079     12536.0   -8322.12
21416   C570556     16029.0  -11816.64
19744   C550456     15749.0  -22998.40
20237   C556445     15098.0  -38970.00
18958   C541433     12346.0  -77183.60
22185   C581484     16446.0 -168469.60

[22190 rows x 3 columns]

In [33]:
#Top Invoice Values by Qty
df_top_invoices_qty = df.groupby(['InvoiceNo', 'CustomerID'])['Quantity'].agg('sum').to_frame()
df_top_invoices_qty.reset_index(inplace=True)
df_top_invoices_qty = df_top_invoices_qty.sort_values(by='Quantity', ascending=False)
df_top_invoices_qty

      InvoiceNo  CustomerID  Quantity
18503    581483     16446.0     80995
1909     541431     12346.0     74215
8112     556917     12415.0     15049
10612    563076     14646.0     14730
14371    572035     14646.0     13392
12419    567423     17450.0     12572
17360    578841     13256.0     12540
6437     552883     14646.0     12266
10843    563614     12415.0     12196
10344    562439     12931.0     11848
4541     548011     14646.0     11116
3494     545475     12415.0     10272
7884     556267     13694.0      9811
5463     550461     15749.0      9014
8653     558262     14646.0      8998
2843     543989     12415.0      8384
6731     553546     12415.0      8268
1815     541206     14646.0      8210
3076     544479     14646.0      8174
12100    566595     18251.0      7824
10499    562789     14646.0      7807
18363    581175     14646.0      7366
1692     540815     15749.0      7044
13359    569570     16684.0      7020
12352    567280     14646.0      6932
13388    569650     12415.0      6895
12411    567381     17450.0      6760
15867    575508     14646.0      6712
1363     539731     14646.0      6668
5432     550344     12754.0      6432
...         ...         ...       ...
20326   C557508     16684.0      -720
19324   C545478     16422.0      -720
21266   C568879     14680.0      -739
21139   C567527     17450.0      -756
20926   C564899     14646.0      -768
21699   C574584     15482.0      -786
18787   C539329     16013.0      -800
18552   C536812     16546.0      -852
21976   C578363     15482.0      -948
19904   C552568     12901.0      -960
21474   C571499     12454.0     -1006
21852   C576831     12748.0     -1082
20958   C565044     12931.0     -1161
21414   C570552     16029.0     -1164
21305   C569552     14533.0     -1200
21437   C570867     12607.0     -1228
19934   C552995     18133.0     -1350
21750   C575224     17511.0     -1400
21533   C572334     14607.0     -1416
20245   C556522     16938.0     -1515
21314   C569743     15769.0     -1600
20831   C563577     17949.0     -2105
20736   C562375     14911.0     -2270
21534   C572343     14607.0     -2344
20935   C564940     12931.0     -2518
21416   C570556     16029.0     -6480
19744   C550456     15749.0     -9014
18548   C536757     15838.0     -9360
18958   C541433     12346.0    -74215
22185   C581484     16446.0    -80995

[22190 rows x 3 columns]

In [34]:
#Top Customer by Rev
df_top_customer_rev = df.groupby(['CustomerID'])['Rev'].agg('sum').to_frame()
df_top_customer_rev.reset_index(inplace=True)
df_top_customer_rev = df_top_customer_rev.sort_values(by='Rev', ascending=False)
df_top_customer_rev['CustomerID'] = df_top_customer_rev['CustomerID'].astype(int)
df_top_customer_rev

      CustomerID        Rev
1703       14646  279489.02
4233       18102  256438.49
3758       17450  187482.17
1895       14911  132572.62
55         12415  123725.45
1345       14156  113384.14
3801       17511   88125.38
3202       16684   65892.08
1005       13694   62653.10
2192       15311   59419.34
568        13089   57385.88
1300       14096   57120.91
1999       15061   54228.74
4125       17949   52750.84
2537       15769   51823.72
2722       16029   50992.61
1447       14298   50862.44
1295       14088   50415.49
4042       17841   40340.78
1078       13798   36351.42
3014       16422   33805.69
458        12931   33462.81
2708       16013   33366.25
2590       15838   33350.76
3712       17389   31300.08
3722       17404   30300.82
330        12748   29072.10
576        13098   28658.88
564        13081   27964.48
803        13408   27487.41
...          ...        ...
1318       14119     -19.90
1688       14627     -21.85
4029       17820     -24.05
2745       16061     -29.95
2400       15590     -30.19
3126       16579     -30.60
2900       16262     -31.65
1004       13693     -32.00
4261       18141     -35.40
1544       14437     -43.40
4350       18256     -50.10
991        13672     -71.46
2436       15638     -94.00
3103       16546     -95.93
1106       13829    -102.00
1200       13958    -102.45
3487       17065    -112.35
2506       15728    -134.80
3829       17548    -141.48
3650       17307    -152.64
264        12666    -227.44
2892       16252    -295.09
2560       15802    -451.42
619        13154    -611.86
2578       15823    -840.76
125        12503   -1126.00
3870       17603   -1165.30
1384       14213   -1192.20
2236       15369   -1592.49
3756       17448   -4287.63

[4372 rows x 2 columns]

In [35]:
#Find Strange Descriptions
df_unique_descriptions = df['Description'].unique()
df_unique_descriptions = pd.DataFrame(df_unique_descriptions)
df_unique_descriptions['len'] = df_unique_descriptions[0].astype(str).str.len()
df_unique_descriptions.rename(columns={0:'Description'}, inplace=True)
df_unique_descriptions.sort_values(by='len')
df_unique_descriptions['len'] = df_unique_descriptions['len'].astype(int)
df_unique_descriptions.loc[(df_unique_descriptions['len'] >= 36) | (df_unique_descriptions['len'] <= 11)].sort_values(by='len', ascending=False)

#put into consistent case i.e. upper or lower

      Description  len
1615  FROG CANDLE   11
3998  michel oops   11
4139  damages wax   11
2975  thrown away   11
3779  CORDIAL JUG   11
3292  wrong code?   11
4193  ????missing   11
4013  stock check   11
1631  SKULLS TAPE   11
4177  dotcomstock   11
3866  taig adjust   11
3802  crushed ctn   11
572   BUTTON BOX    11
3476  wet damaged   11
3106   Adjustment   10
3114   Dotcom set   10
4018   WET/MOULDY   10
3132   throw away   10
2909   Given away   10
4191   ?? missing   10
4062   Sale error   10
3287   adjustment   10
2212   AMAZON FEE   10
4179   John Lewis   10
4019   can't find   10
4192   wet pallet   10
4194   ???missing   10
3293   wrong code   10
1552   SPACE FROG   10
178    PHOTO CUBE   10
...           ...  ...
4188       check?    6
3131       broken    6
4032       mouldy    6
2910       Dotcom    6
3683       dotcom    6
3879       Amazon    6
1740       amazon    6
3299       adjust    6
4196       AMAZON    6
4214       lost??    6
1108       Manual    6
2394       faulty    6
2727        Found    5
2155        check    5
4111        20713    5
2830        found    5
4124        CHECK    5
3162        ?lost    5
3625        FOUND    5
3854         test    4
4213         wet?    4
3706         ebay    4
4221         lost    4
3104          MIA    3
3692          FBA    3
4215          ???    3
4217          wet    3
395           NaN    3
3870           ??    2
1822            ?    1

[98 rows x 2 columns]

In [36]:
#Find descriptions with negative works like 'damaged' 'fees' 'mouldy', 'faulty', 'wet', 'lost', 'missing','wrong', 'broke'

In [37]:
#Get word frequency to assist with categorisation
#errors out as some descriptons are rubbish
#search lookup string to find counterpart part II: qwerty1wd

from collections import defaultdict

import pandas as pd

text_list = []

#need to get unique descriptions

df_uniq_descs = df['Description'].unique()

for i in df_uniq_descs[:395]:
    text_list.append(i)

word_freq = defaultdict(int)

for text in text_list:
    for word in text.split():
        word_freq[word] += 1

pd.DataFrame.from_dict(word_freq, orient='index') \
.sort_values(0, ascending=False) \
.rename(columns={0: 'abs_freq'})

             abs_freq
RED                36
SET                36
OF                 33
HEART              27
RETROSPOT          26
BAG                26
BOX                24
PINK               23
METAL              17
WHITE              16
CAKE               15
3                  15
VINTAGE            15
HOLDER             15
POLKADOT           14
LUNCH              14
HANGING            13
WATER              12
BOTTLE             12
SIGN               12
SMALL              12
DESIGN             11
CHRISTMAS          11
T-LIGHT            11
ASSORTED           11
JUMBO              11
HOT                11
PACK               11
GLASS              10
FELTCRAFT          10
...               ...
DRESSING            1
RECYCLING           1
CALCULATOR          1
LADDERS             1
SNAKES              1
Discount            1
SWEET               1
FIRE                1
ORGANISER           1
RAIN                1
LES                 1
CUPS                1
SET/20              1
KEEPSAKE            1
BLACK/BLUE          1
GOLD                1
REINDEER            1
CARAVAN             1
ENFANTS             1
HOMEMADE            1
WIRE                1
US                  1
FIVE                1
GINGHAM             1
LETTERS             1
NIGHTLIGHT          1
TALE                1
BUTTERFILES         1
CHILLI              1
SOLDIERS            1

[589 rows x 1 columns]

In [38]:
#same as above - this works too!
#wrod count
#search lookup string to find counterpart part I: qwerty1wd
text_list = []

#need to get unique descriptions

word_freq = defaultdict(int)

for text in df['Description'][:395].unique():
    for word in text.split():
        word_freq[word] += 1

pd.DataFrame.from_dict(word_freq, orient='index') \
.sort_values(0, ascending=False) \
.rename(columns={0: 'abs_freq'})

             abs_freq
RED                26
SET                25
OF                 23
HEART              20
RETROSPOT          20
PINK               19
BAG                16
BOX                16
WHITE              15
VINTAGE            14
METAL              14
SIGN               12
BOTTLE             12
HOT                11
WATER              11
HOLDER             11
ASSORTED           10
LUNCH              10
CAKE               10
SMALL              10
3                   9
DESIGN              9
AND                 8
EDWARDIAN           8
JUMBO               8
CLOCK               8
DRAWER              8
HANGING             8
WITH                7
TEA                 7
...               ...
PAINT               1
GARDEN              1
THERMOMETER         1
PUZZLES             1
SEASIDE             1
NIGHT               1
BASKETS             1
W                   1
LIDS                1
COLOURED            1
LED                 1
BOARD               1
MEDINA              1
CHALKBOARD          1
OWLS                1
LOVEBIRD            1
CLASSIC             1
BIRDCAGE            1
PLANT               1
FLOWER              1
FIRE                1
BUCKET              1
OF4                 1
SNACK               1
ORGANISER           1
WIRE                1
CHILLI              1
ROUND               1
BUTTERFILES         1
CELEBRATION         1

[474 rows x 1 columns]

In [39]:
len(df['StockCode'].unique())

4070

In [40]:
len(df['CustomerID'].unique())

4373

In [41]:
#Finding Customers with more than 1 Country listed
df_customer_stg = df.groupby('CustomerID')['Country'].unique()
df_customer_stg.loc[df_customer_stg.apply(lambda x:len(x)>1)]

CustomerID
12370.0           [Cyprus, Austria]
12394.0          [Belgium, Denmark]
12417.0            [Belgium, Spain]
12422.0    [Australia, Switzerland]
12429.0          [Denmark, Austria]
12431.0        [Australia, Belgium]
12455.0             [Cyprus, Spain]
12457.0       [Switzerland, Cyprus]
Name: Country, dtype: object

In [42]:
pd.DataFrame(df_customer_stg)

                      Country
CustomerID
12346.0      [United Kingdom]
12347.0             [Iceland]
12348.0             [Finland]
12349.0               [Italy]
12350.0              [Norway]
12352.0              [Norway]
12353.0             [Bahrain]
12354.0               [Spain]
12355.0             [Bahrain]
12356.0            [Portugal]
12357.0         [Switzerland]
12358.0             [Austria]
12359.0              [Cyprus]
12360.0             [Austria]
12361.0             [Belgium]
12362.0             [Belgium]
12363.0         [Unspecified]
12364.0             [Belgium]
12365.0              [Cyprus]
12367.0             [Denmark]
12370.0     [Cyprus, Austria]
12371.0         [Switzerland]
12372.0             [Denmark]
12373.0             [Austria]
12374.0             [Austria]
12375.0             [Finland]
12377.0         [Switzerland]
12378.0         [Switzerland]
12379.0             [Belgium]
12380.0             [Belgium]
...                       ...
18245.0      [United Kingdom]
18246.0      [United Kingdom]
18248.0      [United Kingdom]
18249.0      [United Kingdom]
18250.0      [United Kingdom]
18251.0      [United Kingdom]
18252.0      [United Kingdom]
18255.0      [United Kingdom]
18256.0      [United Kingdom]
18257.0      [United Kingdom]
18259.0      [United Kingdom]
18260.0      [United Kingdom]
18261.0      [United Kingdom]
18262.0      [United Kingdom]
18263.0      [United Kingdom]
18265.0      [United Kingdom]
18268.0      [United Kingdom]
18269.0      [United Kingdom]
18270.0      [United Kingdom]
18272.0      [United Kingdom]
18273.0      [United Kingdom]
18274.0      [United Kingdom]
18276.0      [United Kingdom]
18277.0      [United Kingdom]
18278.0      [United Kingdom]
18280.0      [United Kingdom]
18281.0      [United Kingdom]
18282.0      [United Kingdom]
18283.0      [United Kingdom]
18287.0      [United Kingdom]

[4372 rows x 1 columns]

In [43]:
#Finding StockCodes with  more than 1 Description listed
# NOTE THAT I USED THE NEW DATAFRAME HERE
df_inventory_stg = df_new.groupby('StockCode')['Description'].unique()
df_inventory_stg.loc[df_inventory_stg.apply(lambda x:len(x)>1)]

#greater than 1 = 191
#greater than 2 = 16
#greater than 3 = 2

StockCode
20622             [VIPPASSPORT COVER , VIP PASSPORT COVER ]
21109     [LARGE CAKE TOWEL, CHOCOLATE SPOTS, LARGE CAKE...
21112     [SWISS ROLL TOWEL, PINK  SPOTS, SWISS ROLL TOW...
21175     [GIN + TONIC DIET METAL SIGN, GIN AND TONIC DI...
21232     [STRAWBERRY CERAMIC TRINKET BOX, STRAWBERRY CE...
21243         [PINK  POLKADOT PLATE , PINK POLKADOT PLATE ]
21507     [ELEPHANT, BIRTHDAY CARD, , ELEPHANT BIRTHDAY ...
21811     [CHRISTMAS HANGING HEART WITH BELL, HANGING HE...
21818     [GLITTER CHRISTMAS HEART , GLITTER HEART DECOR...
21899             [KEY FOB , GARAGE DESIGN, GARAGE KEY FOB]
21928     [JUMBO BAG SCANDINAVIAN PAISLEY, JUMBO BAG SCA...
22129     [PARTY CONES CANDY TREE DECORATION, PARTY CONE...
22134     [LADLE LOVE HEART RED , MINI LADLE LOVE HEART ...
22135     [LADLE LOVE HEART PINK, MINI LADLE LOVE HEART ...
22179     [SET 10 LIGHTS NIGHT OWL, SET 10 NIGHT OWL LIG...
22197                [SMALL POPCORN HOLDER, POPCORN HOLDER]
22268     [EASTER DECORATION SITTING BUNNY, DECORATION S...
22285     [DECORATION HEN ON NEST, HANGING, HANGING HEN ...
22286     [DECORATION , WOBBLY RABBIT , METAL , DECORATI...
22287     [DECORATION , WOBBLY CHICKEN, METAL , DECORATI...
22383     [LUNCH BAG SUKI  DESIGN , LUNCH BAG SUKI DESIGN ]
22407     [MONEY BOX FIRST ADE DESIGN, MONEY BOX FIRST A...
22416     [SET OF 36 DOILIES SPACEBOY DESIGN , SET OF 36...
22466     [FAIRY TALE COTTAGE NIGHTLIGHT, FAIRY TALE COT...
22584     [PACK OF 6 PANNETONE GIFT BOXES, PACK OF 6 PAN...
22595     [CHRISTMAS GINGHAM HEART, GINGHAM HEART DECORA...
22597     [CHRISTMAS MUSICAL ZINC HEART , MUSICAL ZINC H...
22602     [CHRISTMAS RETROSPOT HEART WOOD, RETROSPOT WOO...
22776     [SWEETHEART CAKESTAND 3 TIER, CAKESTAND, 3 TIE...
22777            [GLASS BELL JAR LARGE, GLASS CLOCHE LARGE]
                                ...
71053     [WHITE METAL LANTERN, WHITE MOROCCAN METAL LAN...
71459     [HANGING JAM JAR T-LIGHT HOLDER, HANGING JAM J...
71477     [COLOUR GLASS. STAR T-LIGHT HOLDER, COLOURED G...
82486     [WOOD S/3 CABINET ANT WHITE FINISH, 3 DRAWER A...
82600        [NO SINGING METAL SIGN, N0 SINGING METAL SIGN]
84228     [HEN HOUSE W CHICK STANDING, HEN HOUSE WITH CH...
84828     [JUNGLE POPSICLES ICE LOLLY HOLDERS, JUNGLE PO...
84906     [PINK B'FLY C/COVER W BOBBLES, PINK BUTTERFLY ...
84946     [ANTIQUE SILVER TEA GLASS ETCHED, ANTIQUE SILV...
85144     [JARDIN ETCHED GLASS BUTTER DISH, JARDIN ETCHE...
16156L                      [WRAP, CAROUSEL, WRAP CAROUSEL]
17107D    [FLOWER FAIRY,5 SUMMER B'DRAW LINERS, FLOWER F...
35817P    [ACRYLIC JEWEL SNOWFLAKE,PINK, PINK ACRYLIC JE...
47310M    [SMALL POP BOX,FUNKY MONKEY, SMALL POP BOX FUN...
79030D                  [TUMBLER, BAROQUE, TUMBLER BAROQUE]
79030G          [TUMBLER, NEW ENGLAND, TUMBLER NEW ENGLAND]
79051A    [SMOKEY GREY COLOUR D.O.F. GLASS, SMOKEY GREY ...
81950V    [FLOWER PURPLE CLOCK W/SUCKER, FLOWER PURPLE C...
82001S    [VINYL RECORD FRAME SILVER, SILVER RECORD COVE...
84247E    [PACK/12 XMAS FUN CARD, PACK OF 12 CHRISTMAS F...
84997A    [GREEN 3 PIECE POLKADOT CUTLERY SET, CHILDRENS...
84997B    [RED 3 PIECE RETROSPOT CUTLERY SET, CHILDRENS ...
84997C    [BLUE 3 PIECE POLKADOT CUTLERY SET, CHILDRENS ...
84997D    [PINK 3 PIECE POLKADOT CUTLERY SET, CHILDRENS ...
85123A    [WHITE HANGING HEART T-LIGHT HOLDER, CREAM HAN...
85184C    [S/4 VALENTINE DECOUPAGE HEART BOX, SET 4 VALE...
85185B    [PINK HORSE SOCK PUPPET, PINK HORSE SOCK PUPPE...
90014A    [SILVER/MOP ORBIT NECKLACE, SILVER M.O.P. ORBI...
90014B    [GOLD M PEARL  ORBIT NECKLACE, GOLD M.O.P. ORB...
90014C    [SILVER/BLACK ORBIT NECKLACE, SILVER AND BLACK...
Name: Description, Length: 191, dtype: object

In [44]:
#df_new['UnitPrice'].loc[(df_new['StockCode'] == 22776)].unique()
df_new.loc[(df_new['StockCode'] == 23126)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Rev,Weekday
107430,545445,23126,DOLLCRAFT GIRL AMELIE KIT,4,2011-03-02 16:26:00,4.95,17738.0,United Kingdom,19.80,Wednesday
113147,545914,23126,DOLLCRAFT GIRL AMELIE KIT,4,2011-03-08 11:39:00,4.95,13340.0,United Kingdom,19.80,Tuesday
113794,545998,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-03-08 14:35:00,4.95,13373.0,United Kingdom,19.80,Tuesday
113900,546000,23126,DOLLCRAFT GIRL AMELIE,4,2011-03-08 14:47:00,4.95,13089.0,United Kingdom,19.80,Tuesday
114675,546037,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-03-09 10:00:00,4.95,14825.0,United Kingdom,19.80,Wednesday
115437,546120,23126,DOLLCRAFT GIRL AMELIE,4,2011-03-09 14:23:00,4.95,16945.0,United Kingdom,19.80,Wednesday
115551,546133,23126,DOLLCRAFT GIRL AMELIE KIT,4,2011-03-09 15:20:00,4.95,14291.0,United Kingdom,19.80,Wednesday
119745,546569,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-03-15 10:53:00,4.95,14016.0,EIRE,19.80,Tuesday
126340,547071,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-03-20 13:59:00,4.95,12693.0,Germany,19.80,Sunday
130312,547485,23126,FELTCRAFT GIRL AMELIE KIT,2,2011-03-23 11:16:00,4.95,17019.0,United Kingdom,9.90,Wednesday
131359,547555,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-03-23 16:35:00,4.95,14075.0,United Kingdom,19.80,Wednesday
131402,547561,23126,DOLLCRAFT GIRL AMELIE,4,2011-03-24 08:44:00,4.95,14129.0,United Kingdom,19.80,Thursday
132341,547663,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-03-24 13:16:00,4.95,16022.0,United Kingdom,4.95,Thursday
132342,547663,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-03-24 13:16:00,4.95,16022.0,United Kingdom,4.95,Thursday
139147,548308,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-03-30 12:00:00,4.95,17220.0,United Kingdom,4.95,Wednesday
139491,548323,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-03-30 13:00:00,4.95,15424.0,United Kingdom,19.80,Wednesday
139555,548327,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-03-30 13:05:00,4.95,16788.0,United Kingdom,4.95,Wednesday
140664,548451,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-03-31 11:25:00,4.95,17365.0,United Kingdom,4.95,Thursday
141072,548497,23126,FELTCRAFT GIRL AMELIE KIT,8,2011-03-31 13:43:00,4.95,13089.0,United Kingdom,39.60,Thursday
142103,548551,23126,DOLLCRAFT GIRL AMELIE,4,2011-04-01 08:56:00,4.95,14886.0,United Kingdom,19.80,Friday
142357,548608,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-04-01 11:20:00,4.95,13462.0,United Kingdom,19.80,Friday
144025,548715,23126,FELTCRAFT GIRL AMELIE KIT,3,2011-04-03 15:22:00,4.95,17758.0,United Kingdom,14.85,Sunday
145139,548868,23126,DOLLCRAFT GIRL AMELIE KIT,4,2011-04-04 14:28:00,4.95,13015.0,United Kingdom,19.80,Monday
146473,548990,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-04-05 13:42:00,4.95,16170.0,United Kingdom,19.80,Tuesday
148254,549193,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-04-07 10:24:00,4.95,12580.0,Germany,19.80,Thursday
148347,549234,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-04-07 11:12:00,4.95,16515.0,United Kingdom,4.95,Thursday
150190,549368,23126,FELTCRAFT GIRL AMELIE KIT,2,2011-04-08 11:26:00,4.95,18036.0,United Kingdom,9.90,Friday
152086,549577,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-04-11 08:16:00,4.95,14286.0,United Kingdom,19.80,Monday
152536,549646,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-04-11 11:51:00,4.95,12982.0,United Kingdom,19.80,Monday
154562,549923,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-04-13 09:59:00,4.95,13138.0,United Kingdom,19.80,Wednesday
...,...,...,...,...,...,...,...,...,...,...
480431,577302,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-11-18 12:57:00,4.95,17904.0,United Kingdom,4.95,Friday
483694,577506,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-11-20 12:40:00,4.95,13212.0,United Kingdom,4.95,Sunday
485451,577602,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-11-21 08:37:00,4.95,16139.0,United Kingdom,19.80,Monday
485739,577633,23126,FELTCRAFT GIRL AMELIE KIT,8,2011-11-21 10:35:00,4.95,14194.0,United Kingdom,39.60,Monday
486324,577724,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-11-21 12:37:00,4.95,12984.0,United Kingdom,19.80,Monday
486603,577741,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-11-21 13:40:00,4.95,12921.0,United Kingdom,19.80,Monday
488154,577796,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-11-21 16:53:00,4.95,15105.0,United Kingdom,19.80,Monday
488602,577841,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-11-22 10:35:00,4.95,14262.0,United Kingdom,19.80,Tuesday
489130,577938,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-11-22 12:07:00,4.95,15525.0,United Kingdom,4.95,Tuesday
489154,577950,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-11-22 12:09:00,4.95,14129.0,United Kingdom,19.80,Tuesday
489335,578009,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-11-22 12:48:00,4.95,14467.0,United Kingdom,4.95,Tuesday
489427,578016,23126,FELTCRAFT GIRL AMELIE KIT,2,2011-11-22 13:02:00,4.95,14506.0,United Kingdom,9.90,Tuesday
497329,578362,23126,FELTCRAFT GIRL AMELIE KIT,16,2011-11-24 10:39:00,4.95,12913.0,United Kingdom,79.20,Thursday
500374,578781,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-11-25 11:54:00,4.95,15872.0,United Kingdom,4.95,Friday
503402,578925,23126,FELTCRAFT GIRL AMELIE KIT,3,2011-11-27 12:13:00,4.95,17365.0,United Kingdom,14.85,Sunday
508655,579258,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-11-29 08:21:00,4.95,15148.0,United Kingdom,19.80,Tuesday
509960,579412,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-11-29 12:47:00,4.95,14125.0,United Kingdom,19.80,Tuesday
510062,579414,23126,FELTCRAFT GIRL AMELIE KIT,2,2011-11-29 12:52:00,4.95,14719.0,United Kingdom,9.90,Tuesday
516040,579846,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-11-30 16:22:00,4.95,12921.0,United Kingdom,19.80,Wednesday
517690,580075,23126,FELTCRAFT GIRL AMELIE KIT,6,2011-12-01 14:09:00,4.95,17014.0,United Kingdom,29.70,Thursday
517915,580101,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-12-01 15:12:00,4.95,15144.0,United Kingdom,19.80,Thursday
518009,580107,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-12-01 15:32:00,4.95,15948.0,United Kingdom,19.80,Thursday
521316,580358,23126,FELTCRAFT GIRL AMELIE KIT,2,2011-12-02 16:07:00,4.95,17238.0,United Kingdom,9.90,Friday
524209,580538,23126,FELTCRAFT GIRL AMELIE KIT,8,2011-12-05 08:38:00,4.95,14075.0,United Kingdom,39.60,Monday
525348,580615,23126,FELTCRAFT GIRL AMELIE KIT,8,2011-12-05 12:05:00,4.95,16873.0,United Kingdom,39.60,Monday
525810,580639,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-12-05 12:46:00,4.95,17254.0,United Kingdom,4.95,Monday
531247,580908,23126,FELTCRAFT GIRL AMELIE KIT,1,2011-12-06 13:20:00,4.95,16495.0,United Kingdom,4.95,Tuesday
537315,581252,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-12-08 11:02:00,4.95,14129.0,United Kingdom,19.80,Thursday
537971,581378,23126,FELTCRAFT GIRL AMELIE KIT,2,2011-12-08 12:50:00,4.95,17673.0,United Kingdom,9.90,Thursday
540380,581478,23126,FELTCRAFT GIRL AMELIE KIT,4,2011-12-09 08:59:00,4.95,17364.0,United Kingdom,19.80,Friday

In [45]:
#df_new['CustomerID'].isna().sum()

In [46]:
#df_new.dropna(subset=['CustomerID'],inplace=True)

In [47]:
#Calculate Weighted Average Price (AWP) Part I
## NOTE USED DF_NEW
df_awp_trial = df_new[['StockCode','Quantity','Rev']]
df_awp_trial.groupby('StockCode').agg({'Quantity': ['sum'], 'Rev': ['sum']})
##need to divide SUM by QTY to give AWP

          Quantity      Rev
               sum      sum
StockCode
10002          823   699.55
10080          291   114.41
10120          193    40.53
10125         1226   930.30
10133         1839   876.87
10135         1937  1785.44
11001          458   774.02
15030          143    41.47
15034         2493   315.42
15036        13211  9649.29
15039         1533  1111.05
16008         2892   360.71
16010           30     3.60
16011         1773   372.33
16012         1244   261.24
16014        13328  4335.76
16015          662   289.98
16016         1273  1053.45
16033          840   100.80
16043           98    11.76
16045         8900   380.00
16046           67    56.95
16048         1437   186.84
16049          504    82.08
16052          467   105.29
16054          688    82.56
16216         3316   227.14
16218         3760   253.20
16219         2003   247.98
16225          762   599.34
...            ...      ...
90210C          94   115.90
90210D         104   125.00
90211A           5    29.75
90211B           2    11.90
90212B           3    11.25
90212C           6    22.50
90214A          63    55.71
90214B          13     4.73
90214C          52    40.04
90214D          39    25.71
90214E          41    27.25
90214F          13     3.77
90214G          34    18.50
90214H          22    15.02
90214I          25    18.77
90214J          23    17.23
90214K          47    34.75
90214L          51    29.19
90214M          27    22.23
90214N          18    10.02
90214O          12     3.48
90214P          28    11.00
90214R          15     6.27
90214S          40    26.00
90214T          12     3.48
90214U          12     3.48
90214V          14     5.98
90214W          12     3.48
90214Y          61    18.65
90214Z          12     3.48

[3636 rows x 2 columns]

In [48]:
#Calculate Weighted Average Price (AWP) PArt II
#df_AWP_stg = df.groupby(['StockCode'])['Quantity','UnitPrice'].agg('sum',count)
#df_AWP_stg


df.groupby('StockCode').agg({'Quantity': ['sum','count'], 'UnitPrice': ['sum','count']})

# sum(qty*unit_price - by row) / sum(total Qty)


#df_AWP = df_AWP_stg[lambda x: x<=0]
#df_AWP = pd.DataFrame(df_AWP)
#df_AWP

             Quantity         UnitPrice
                  sum count         sum count
StockCode
10002            1037    73      77.150    73
10080             495    24       9.040    24
10120             193    30       6.300    30
10125            1296    94      80.810    94
10133            2775   200     129.160   200
10134             -19     1       0.000     1
10135            2230   180     253.830   180
11001            1430   120     225.380   120
15030             293    14       3.770    14
15034            5206   142      52.030   142
15036           22552   524     557.230   524
15039            2065   149     183.530   149
16008            1382    71       9.530    71
16010              23     4       0.360     4
16011            1773    47       9.870    47
16012            1244    37       7.770    37
16014           13328    54      21.680    54
16015             373    27      11.720    27
16016            1273    65      54.990    65
16033             960     5       0.480     5
16043              53     3       0.240     3
16045            4333    71       3.000    71
16046              89    18      14.450    18
16048            1461    69      22.430    69
16049             547     7       1.200     7
16052             463    14       7.660    14
16053            -102     1       0.000     1
16054            1058    34       4.380    34
16216            3333    45       6.860    45
16218            3821    64      17.270    64
...               ...   ...         ...   ...
C2                290   144    7098.000   144
CRUK              -16    16    7933.430    16
D               -1194    77    5581.310    77
DCGS0003           -3     5       9.940     5
DCGS0004            1     1      16.630     1
DCGS0055           -1     1       0.000     1
DCGS0057           -6     1       0.000     1
DCGS0066P          -3     1       0.000     1
DCGS0067          -11     1       0.000     1
DCGS0068          -10     1       0.000     1
DCGS0069           -4     2      15.790     2
DCGS0070           -7     2      12.720     2
DCGS0071           -2     1       0.000     1
DCGS0072           -1     1       0.000     1
DCGS0073           -4     1       0.000     1
DCGS0074           -1     1       0.000     1
DCGS0076            3     2      32.260     2
DCGSSBOY           47    11      34.150    11
DCGSSGIRL          47    13      40.730    13
DOT              1707   710  206252.060   710
M                3164   571  214448.410   571
PADS                4     4       0.003     4
POST             6353  1256   46388.470  1256
S                 -59    63    3175.490    63
gift_0001_10       39     9      66.640     9
gift_0001_20       20    10     150.380    10
gift_0001_30       37     8     175.530     8
gift_0001_40        3     3     100.700     3
gift_0001_50        4     4     167.560     4
m                   1     1       2.550     1

[4070 rows x 4 columns]

#Calculate Weighted Average Price (AWP) PArt III
grouped = df.groupby('Date')

def wavg(group):
    d = group['value']
    w = group['wt']
    return (d * w).sum() / w.sum()

grouped.apply(wavg)

In [49]:
#Find Min, Max, Mean of StockCodes
df_item_prices = df[['StockCode', 'UnitPrice']]
df_item_prices.groupby(by='StockCode').agg([min, max, 'mean'])

             UnitPrice
                   min        max        mean
StockCode
10002             0.00      1.660    1.056849
10080             0.00      0.850    0.376667
10120             0.21      0.210    0.210000
10125             0.42      1.660    0.859681
10133             0.00      1.660    0.645800
10134             0.00      0.000    0.000000
10135             0.25      2.510    1.410167
11001             0.83      3.360    1.878167
15030             0.00      0.290    0.269286
15034             0.07      0.850    0.366408
15036             0.00      1.630    1.063416
15039             0.53      1.660    1.231745
16008             0.00      0.250    0.134225
16010             0.00      0.120    0.090000
16011             0.21      0.210    0.210000
16012             0.21      0.210    0.210000
16014             0.32      0.420    0.401481
16015             0.00      0.500    0.434074
16016             0.72      0.850    0.846000
16033             0.00      0.120    0.096000
16043             0.00      0.120    0.080000
16045             0.00      0.120    0.042254
16046             0.00      0.850    0.802778
16048             0.12      0.850    0.325072
16049             0.00      0.420    0.171429
16052             0.00      0.840    0.547143
16053             0.00      0.000    0.000000
16054             0.12      0.420    0.128824
16216             0.06      1.250    0.152444
16218             0.06      2.130    0.269844
...                ...        ...         ...
C2                0.00    150.000   49.291667
CRUK              1.60   1100.440  495.839375
D                 0.01   1867.860   72.484545
DCGS0003          0.00      2.510    1.988000
DCGS0004         16.63     16.630   16.630000
DCGS0055          0.00      0.000    0.000000
DCGS0057          0.00      0.000    0.000000
DCGS0066P         0.00      0.000    0.000000
DCGS0067          0.00      0.000    0.000000
DCGS0068          0.00      0.000    0.000000
DCGS0069          0.00     15.790    7.895000
DCGS0070          0.00     12.720    6.360000
DCGS0071          0.00      0.000    0.000000
DCGS0072          0.00      0.000    0.000000
DCGS0073          0.00      0.000    0.000000
DCGS0074          0.00      0.000    0.000000
DCGS0076         16.13     16.130   16.130000
DCGSSBOY          1.25      3.290    3.104545
DCGSSGIRL         1.25      3.290    3.133077
DOT               0.00   4505.170  290.495859
M                 0.00  38970.000  375.566392
PADS              0.00      0.001    0.000750
POST              0.00   8142.750   36.933495
S                 2.80    570.000   50.404603
gift_0001_10      0.00      8.330    7.404444
gift_0001_20      0.00     17.020   15.038000
gift_0001_30      0.00     25.530   21.941250
gift_0001_40     33.33     34.040   33.566667
gift_0001_50     41.67     42.550   41.890000
m                 2.55      2.550    2.550000

[4070 rows x 3 columns]

In [50]:
df_new.to_csv('../data/cleaned_df2.csv')

def tagforremoval_negqty(row):
    '''
    Input: Row (which will be slicked into columns)
    Output: 1 or 0 depening on if row is to be deleted
    
    The purpose of this function is to tag rows for deletion.
    '''
    if row['CustomerID'].isin(df_cust_neg_qty.CustomerID) & row['StockCode'].isin(df_cust_neg_qty.StockCode):
        return 1
    else:
        return 0