# Exploratory Data Analysis and Cleaning

The raw data file will be loaded and interogated obtain preliminary insights and identify and erroneous date for update or removal.

In [1]:
#Libraries
#Dataframe and arrays
import pandas as pd
import numpy as np

#Graphing/ Charting/ Visualisations
import matplotlib as plt

In [2]:
df = pd.read_excel('../data/online_fashion.xlsx')

In [3]:
df.shape

(541909, 8)

In [4]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [5]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [7]:
#Cast Description to Uppercase
df.Description = df.Description.str.upper()

In [8]:
#Convert datetime field to Day, Month and Year
df['Day'] = df['InvoiceDate'].dt.day_name()
df['Month'] = df['InvoiceDate'].dt.month_name()
df['Year'] = pd.DatetimeIndex(df['InvoiceDate']).year
df['WeekNum'] = df['InvoiceDate'].dt.week
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Wednesday,December,2010,48
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Wednesday,December,2010,48
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48

In [9]:
df.Day.value_counts()

Thursday     103857
Tuesday      101808
Monday        95111
Wednesday     94565
Friday        82193
Sunday        64375
Name: Day, dtype: int64

In [10]:
#Calculation of Revenue per Transaction
df['Rev'] = df['Quantity']*df['UnitPrice']
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Wednesday,December,2010,48,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Wednesday,December,2010,48,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34

In [11]:
#Identify if Return(1) or Sale(0)
def transtype(row): 
    """
    Input:
    Output:
    
    The purpose of this function is to .....
    """
    if row['Quantity'] <= 0 : 
        return 1
    else: 
        return 0

df['Return'] = df.apply(transtype, axis=1)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Wednesday,December,2010,48,15.30,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Wednesday,December,2010,48,22.00,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0

In [12]:
#Check Return Flag Worked (Part One)
df.loc[(df['Return'] == 1)].head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return
141,C536379,D,DISCOUNT,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom,Wednesday,December,2010,48,-27.50,1
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,Wednesday,December,2010,48,-4.65,1
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,Wednesday,December,2010,48,-19.80,1

In [13]:
#Check Return Flag Worked (Part Two)
df.loc[(df['Return'] == 0)].head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Wednesday,December,2010,48,15.30,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Wednesday,December,2010,48,22.00,0

In [14]:
#Find & Remove Strange StockCodes
df_unique_stock_codes = df['StockCode'].unique()
df_unique_stock_codes = pd.DataFrame(df_unique_stock_codes)
df_unique_stock_codes['len'] = df_unique_stock_codes[0].astype(str).str.len()
df_unique_stock_codes.rename(columns={0:'StockCode'}, inplace=True)
df_unique_stock_codes.sort_values(by='len')
df_unique_stock_codes['len'] = df_unique_stock_codes['len'].astype(int)
df_stock_to_drop_stg = df_unique_stock_codes.loc[(df_unique_stock_codes['len'] >= 8) | (df_unique_stock_codes['len'] <= 4)].sort_values(by='len')
df_stock_to_drop_stg.reset_index(drop=True)
df_stock_to_drop = pd.concat([df_stock_to_drop_stg.iloc[0:10], df_stock_to_drop_stg.iloc[-6:], df_stock_to_drop_stg.iloc[-9:-8] ])
df_stock_to_drop

df = df[~(df['StockCode'].isin(df_stock_to_drop.StockCode) )]

df.shape

(538959, 14)

In [15]:
#Customer Type - Part 1 of 3

df_custtype = df.groupby('CustomerID').agg({'Rev': ['sum'], 'Quantity':['sum']})
df_custtype = df_custtype.reset_index(drop=False)
df_custtype.columns = ['CustomerID','Rev','Quantity']
df_custtype.head()

   CustomerID      Rev  Quantity
0     12346.0     0.00         0
1     12347.0  4310.00      2458
2     12348.0  1437.24      2332
3     12349.0  1457.55       630
4     12350.0   294.40       196

In [16]:
#Customer Type - Part 2 of 3

def customertype(row):
    """
    Input: Revenue and Total Quantity of Units Purchased
    Output: Flag to determing if a business (B2B) or regular (B2C) customer
    
    The purpose of this funtion is to determine if the customer ID belongs to a business or regular customer
    """
    #try:
        
    if row.Rev > 2500 or  row.Quantity > 50:
        return 1
    else:
        return 0
    #except:
        #pass
    
df_custtype['B2B'] = df_custtype.apply(customertype, axis=1)
df_custtype.head()

   CustomerID      Rev  Quantity  B2B
0     12346.0     0.00         0    0
1     12347.0  4310.00      2458    1
2     12348.0  1437.24      2332    1
3     12349.0  1457.55       630    1
4     12350.0   294.40       196    1

In [17]:
#Customer Type - Part 3 of 3

def customertypelookup(row):
    """
    Input: CustomerID
    Output: Flat to identify if B2B customer or not (1 or 0)
    
    The purpose of this funtion is to vlookup if the customer ID belongs to a business or regular customer
    """
    try:
        return int(df_custtype.loc[df_custtype['CustomerID'] == row]["B2B"])
    except:
        pass
    
df['B2B'] = df['CustomerID'].apply(customertypelookup)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Wednesday,December,2010,48,15.30,0,1.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0,1.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Wednesday,December,2010,48,22.00,0,1.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0,1.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0,1.0

In [18]:
#Export customer type for Recommender System
df_custtype.to_csv('../data/dataframe_customer_type.csv', index=False)

In [19]:
#Export this cleaned dataframe for use in Tableau
#df.to_csv('../data/dataframe_cleaned.csv')
df.to_excel('../data/dataframe_cleaned.xlsx', engine='xlsxwriter')

In order to prepare the data for the recommender system it it necessary to remove Nan CustomerIDs and Customers with net negative(or zero) transactions during the reported period.

In [20]:
#Customers with Negative Qty - Prep for Recommender System Part 1 or x
#Identify Customer/ Product mix that are negative - i.e. potential returns from outside reporting period

df_cust_neg_qty = df.groupby(['CustomerID', 'StockCode'])['Quantity'].agg('sum').to_frame()
df_cust_neg_qty.reset_index(inplace=True)
df_cust_neg_qty = df_cust_neg_qty.loc[(df_cust_neg_qty['Quantity'] <= 0)]
df_cust_neg_qty

df_cust_no_net_negative = df[~(df['StockCode'].isin(df_cust_neg_qty.StockCode) & df['CustomerID'].isin(df_cust_neg_qty.CustomerID))]

df_cust_no_net_negative.shape #(also called df_cnn)

(441526, 15)

In [21]:
df_cust_no_net_negative.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,Wednesday,December,2010,48,54.08,0,1.0
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,Wednesday,December,2010,48,12.60,0,1.0
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,Wednesday,December,2010,48,12.60,0,1.0
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom,Wednesday,December,2010,48,30.00,0,1.0
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom,Wednesday,December,2010,48,9.90,0,1.0

In [22]:
#xport here for Returns Analysis
df_cust_no_net_negative.to_csv('../data/data_for_returns_analysis.csv', index=False)

In [23]:
#Remove transactions with no CustomerID - Prep for Recommender System Part 2 or x
df_cust_no_net_negative.dropna(subset=['CustomerID'], inplace=True)

C:\Users\ellio\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
#Export this cleaned dataframe for use in Recommender System (With returns)
df_cust_no_net_negative.to_csv('../data/dataframe_recom_system.csv')
df_cust_no_net_negative.to_csv('../data/dataframe_awp_staging.csv')

In [25]:
def abstransamt(row): 
    """
    Input:
    Output:
    
    The purpose of this function is to .....
    """
    if row['Quantity'] <= 0 : 
        return -1*row['Quantity'] * row['UnitPrice'] 
    else: 
        return row['Quantity'] * row['UnitPrice'] 

#df_raw['AbsTrans'] = df.apply(abstransamt, axis=1)
#df_raw.head()

In [26]:
df_cust_no_net_negative_NR = df_cust_no_net_negative

In [27]:
df_cust_no_net_negative_NR['AbsTrans'] = df_cust_no_net_negative_NR.apply(abstransamt, axis=1)

C:\Users\ellio\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [28]:
df_cust_no_net_negative_NR = df_cust_no_net_negative_NR.sort_values(['CustomerID', 'StockCode','AbsTrans','InvoiceDate'], ascending=[True, False,True, True])

In [29]:
df_cust_no_net_negative_NR.reset_index(drop=True, inplace=True)

In [30]:
df_cust_no_net_negative_NR['remove'] = (((df_cust_no_net_negative_NR.InvoiceDate.shift() - df_cust_no_net_negative_NR.InvoiceDate) < pd.to_timedelta('36h')) & 
                 ((df_cust_no_net_negative_NR.StockCode.shift() == df_cust_no_net_negative_NR.StockCode)) & ((df_cust_no_net_negative_NR.CustomerID.shift() == df_cust_no_net_negative_NR.CustomerID)) & 
                 ((df_cust_no_net_negative_NR.AbsTrans.shift() == df_cust_no_net_negative_NR.AbsTrans)) & ((df_cust_no_net_negative_NR.Quantity.shift() == -1*df_cust_no_net_negative_NR.Quantity)) ) | (((df_cust_no_net_negative_NR.InvoiceDate.shift(-1) - df_cust_no_net_negative_NR.InvoiceDate) < pd.to_timedelta('36h')) & 
                         ((df_cust_no_net_negative_NR.StockCode.shift(-1) == df_cust_no_net_negative_NR.StockCode)) & ((df_cust_no_net_negative_NR.CustomerID.shift(-1) == df_cust_no_net_negative_NR.CustomerID)) & 
                         ((df_cust_no_net_negative_NR.AbsTrans.shift(-1) == df_cust_no_net_negative_NR.AbsTrans)) & ((df_cust_no_net_negative_NR.Quantity.shift(-1) == -1*df_cust_no_net_negative_NR.Quantity)) )

In [31]:
df_cust_no_net_negative_NR = df_cust_no_net_negative_NR[df_cust_no_net_negative_NR.remove != True]

In [32]:
#Export this cleaned dataframe for use in Recommender System (No same day returns)
df_cust_no_net_negative_NR.to_csv('../data/dataframe_recom_system_NR.csv')

In [33]:
#need to learn more about transactions with no customer ID before I decice to simply drop them
# there are 135,080 rows out of 541,909
# there are 1,719 rows of Nan customer and Qty 0 or a return (across 1,518 unique invoices)

In [34]:
df.sort_values(by='Quantity').head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,Friday,December,2011,49,-168469.6,1,0.0
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,Tuesday,January,2011,3,-77183.6,1,0.0
225530,556691,23005,PRINTING SMUDGES/THROWN AWAY,-9600,2011-06-14 10:37:00,0.00,NaN,United Kingdom,Tuesday,June,2011,24,-0.0,1,NaN
225529,556690,23005,PRINTING SMUDGES/THROWN AWAY,-9600,2011-06-14 10:37:00,0.00,NaN,United Kingdom,Tuesday,June,2011,24,-0.0,1,NaN
4287,C536757,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,-9360,2010-12-02 14:23:00,0.03,15838.0,United Kingdom,Thursday,December,2010,48,-280.8,1,1.0

In [35]:
df.isnull().sum() / df.shape[0] * 100.00

InvoiceNo       0.000000
StockCode       0.000000
Description     0.268481
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.872022
Country         0.000000
Day             0.000000
Month           0.000000
Year            0.000000
WeekNum         0.000000
Rev             0.000000
Return          0.000000
B2B            24.872022
dtype: float64

In [36]:
#Find Strange Descriptions
df_unique_descriptions = df['Description'].unique()
df_unique_descriptions = pd.DataFrame(df_unique_descriptions)
df_unique_descriptions['len'] = df_unique_descriptions[0].astype(str).str.len()
df_unique_descriptions.rename(columns={0:'Description'}, inplace=True)
df_unique_descriptions.sort_values(by='len')
df_unique_descriptions['len'] = df_unique_descriptions['len'].astype(int)
df_unique_descriptions.loc[(df_unique_descriptions['len'] >= 36) | (df_unique_descriptions['len'] <= 11)].sort_values(by='len', ascending=False)

#put into consistent case i.e. upper or lower

      Description  len
3840  TAIG ADJUST   11
4160  ????MISSING   11
3458  WET DAMAGED   11
4107  DAMAGES WAX   11
3985  STOCK CHECK   11
4144  DOTCOMSTOCK   11
3970  MICHEL OOPS   11
2962  THROWN AWAY   11
1625  SKULLS TAPE   11
1609  FROG CANDLE   11
3777  CRUSHED CTN   11
3755  CORDIAL JUG   11
3274  WRONG CODE?   11
570   BUTTON BOX    11
3990   WET/MOULDY   10
3118   THROW AWAY   10
3100   DOTCOM SET   10
3093   ADJUSTMENT   10
176    PHOTO CUBE   10
4034   SALE ERROR   10
3991   CAN'T FIND   10
2896   GIVEN AWAY   10
4146   JOHN LEWIS   10
4158   ?? MISSING   10
4159   WET PALLET   10
4161   ???MISSING   10
1546   SPACE FROG   10
3275   WRONG CODE   10
4078    BREAKAGES    9
4136    WET RUSTY    9
...           ...  ...
3893      DAGAMED    7
3290      CRUSHED    7
3258      MISSING    7
3431      SMASHED    7
3327      MAILOUT    7
3187      DAMAGED    7
3180      CRACKED    7
3255      DISPLAY    7
2386       FAULTY    6
1734       AMAZON    6
3281       ADJUST    6
4155       CHECK?    6
4180       LOST??    6
2897       DOTCOM    6
4004       MOULDY    6
3117       BROKEN    6
2718        FOUND    5
2149        CHECK    5
3148        ?LOST    5
3683         EBAY    4
3828         TEST    4
4179         WET?    4
4187         LOST    4
4183          WET    3
393           NaN    3
3669          FBA    3
4181          ???    3
3091          MIA    3
3844           ??    2
1816            ?    1

[79 rows x 2 columns]

In [37]:
#Find descriptions with negative works like 'damaged' 'fees' 'mouldy', 'faulty', 'wet', 'lost', 'missing','wrong', 'broke'

In [38]:
#Finding Customers with more than 1 Country listed
df_customer_stg = df.groupby('CustomerID')['Country'].unique()
df_customer_stg.loc[df_customer_stg.apply(lambda x:len(x)>1)]

CustomerID
12370.0           [Cyprus, Austria]
12394.0          [Belgium, Denmark]
12417.0            [Belgium, Spain]
12422.0    [Australia, Switzerland]
12429.0          [Denmark, Austria]
12431.0        [Australia, Belgium]
12455.0             [Cyprus, Spain]
12457.0       [Switzerland, Cyprus]
Name: Country, dtype: object

In [40]:
#Finding StockCodes with  more than 1 Description listed
# NOTE THAT I USED THE NEW DATAFRAME HERE
df_inventory_stg = df.groupby('StockCode')['Description'].unique()
df_inventory_stg.loc[df_inventory_stg.apply(lambda x:len(x)>1)]

#greater than 1 = 191
#greater than 2 = 16
#greater than 3 = 2

StockCode
10002                      [INFLATABLE POLITICAL GLOBE , nan]
10080                  [GROOVY CACTUS INFLATABLE, nan, CHECK]
10133                 [COLOURING PENCILS BROWN TUBE, DAMAGED]
15030                                 [FAN BLACK FRAME , nan]
15036                        [ASSORTED COLOURS SILK FAN, nan]
16008            [SMALL FOLDING SCISSOR(POINTED EDGE), CHECK]
16010               [FOLDING CAMPING SCISSOR W/KNIF & S, nan]
16015                     [MEDIUM CHINESE STYLE SCISSOR, nan]
16033                            [MINI HIGHLIGHTER PENS, nan]
16043                        [POP ART PUSH DOWN RUBBER , nan]
16045                [POPART WOODEN PENCILS ASST, nan, CHECK]
16046                          [TEATIME PEN CASE & PENS, nan]
16049                            [TEATIME GEL PENS ASST, nan]
16052                         [TEATIME PUSH DOWN RUBBER, nan]
16254               [nan, TRANSPARENT ACRYLIC TAPE DISPENSER]
16259                     [PIECE OF CAMO STATIONERY SET, nan]
17096                [ASSORTED LAQUERED INCENSE HOLDERS, nan]
18007              [ESSENTIAL BALM 3.5G TIN IN ENVELOPE, nan]
20622               [VIPPASSPORT COVER , VIP PASSPORT COVER ]
20652                     [BLUE POLKADOT LUGGAGE TAG , CHECK]
20658                        [RED RETROSPOT LUGGAGE TAG, nan]
20664                          [TROPICAL HOLIDAY PURSE , nan]
20665         [RED RETROSPOT PURSE , nan, DOTCOM, ADJUSTMENT]
20666                            [ECONOMY HOLIDAY PURSE, nan]
20669                            [RED HEART LUGGAGE TAG, nan]
20671                         [BLUE TEATIME PRINT BOWL , nan]
20681            [PINK POLKADOT CHILDRENS UMBRELLA, MIA, nan]
20684                 [STRAWBERRY DREAM CHILDS UMBRELLA, nan]
20686                [DOLLY MIXTURE CHILDREN'S UMBRELLA, nan]
20694                                [FLORAL PINK MONSTER, ?]
                                  ...
85231G         [ORANGE SCENTED SET/9 T-LIGHTS, CHECK, AMAZON]
85232A                    [SET/3 POLKADOT STACKING TINS, nan]
85232B                 [SET OF 3 BABUSHKA STACKING TINS, nan]
85232D      [SET/3 DECOUPAGE STACKING TINS, MIX UP WITH C,...
90002D                [FLOWER BURST SILVER RING CRYSTAL, nan]
90005A                     [JADE GREEN ENAMEL HAIR COMB, nan]
90010A             [MIDNIGHT BLUE GLASS/SILVER BRACELET, nan]
90010B               [BLACK/WHITE GLASS/SILVER BRACELET, nan]
90012A      [MIDNIGHT BLUE DROP CRYSTAL NECKLACE, STOCK CH...
90012B                   [BLACK DROP CRYSTAL NECKLACE, CHECK]
90014A      [SILVER/MOP ORBIT NECKLACE, CHECK, SILVER M.O....
90014B      [GOLD M PEARL  ORBIT NECKLACE, nan, GOLD M.O.P...
90014C      [SILVER/BLACK ORBIT NECKLACE, nan, SILVER AND ...
90035A                   [PEARL & SHELL 42"NECKL. GREEN, nan]
90042C                 [nan, FRESHWATER PEARL BRACELET IVORY]
90082B                  [DIAMANTE BOW BROOCH RED COLOUR, nan]
90082D                [DIAMANTE BOW BROOCH BLACK COLOUR, nan]
90120D                     [WHITE MURANO TWIST BRACELET, nan]
90164A                     [PINK ROSEBUD PEARL BRACELET, nan]
90164B                   [WHITE  ROSEBUD PEARL BRACELET, nan]
90180A           [BLACK+WHITE NECKLACE W TASSEL, STOCK CHECK]
90195A                      [PURPLE GEMSTONE BRACELET, CHECK]
90200C                        [BLUE SWEETHEART BRACELET, nan]
90209B                    [GREEN ENAMEL+GLASS HAIR COMB, nan]
90209C                     [PINK ENAMEL+GLASS HAIR COMB, nan]
90210C                    [RED   ACRYLIC FACETED BANGLE, nan]
90210D                 [PURPLE ACRYLIC FACETED BANGLE, CHECK]
DCGS0003                          [BOXED GLASS ASHTRAY, EBAY]
DCGS0069                        [OOH LA LA DOGS COLLAR, EBAY]
DCGS0070                         [CAMOUFLAGE DOG COLLAR, nan]
Name: Description, Length: 1318, dtype: object

In [41]:
#Find Min, Max, Mean of StockCodes
df_item_prices = df[['StockCode', 'UnitPrice']]
df_item_prices.groupby(by='StockCode').agg([min, max, 'mean'])

          UnitPrice
                min    max       mean
StockCode
10002          0.00   1.66   1.056849
10080          0.00   0.85   0.376667
10120          0.21   0.21   0.210000
10125          0.42   1.66   0.859681
10133          0.00   1.66   0.645800
10134          0.00   0.00   0.000000
10135          0.25   2.51   1.410167
11001          0.83   3.36   1.878167
15030          0.00   0.29   0.269286
15034          0.07   0.85   0.366408
15036          0.00   1.63   1.063416
15039          0.53   1.66   1.231745
16008          0.00   0.25   0.134225
16010          0.00   0.12   0.090000
16011          0.21   0.21   0.210000
16012          0.21   0.21   0.210000
16014          0.32   0.42   0.401481
16015          0.00   0.50   0.434074
16016          0.72   0.85   0.846000
16033          0.00   0.12   0.096000
16043          0.00   0.12   0.080000
16045          0.00   0.12   0.042254
16046          0.00   0.85   0.802778
16048          0.12   0.85   0.325072
16049          0.00   0.42   0.171429
16052          0.00   0.84   0.547143
16053          0.00   0.00   0.000000
16054          0.12   0.42   0.128824
16216          0.06   1.25   0.152444
16218          0.06   2.13   0.269844
...             ...    ...        ...
90214K         0.29   1.25   0.891579
90214L         0.29   1.25   0.838649
90214M         0.29   1.25   0.874286
90214N         0.29   1.25   0.841667
90214O         0.29   0.85   0.726000
90214P         0.29   1.25   0.812500
90214R         0.29   1.25   0.825200
90214S         0.29   1.25   0.825122
90214T         0.29   0.85   0.782727
90214U         0.29   0.29   0.290000
90214V         0.29   1.25   0.854286
90214W         0.29   0.85   0.726000
90214Y         0.29   1.25   0.752500
90214Z         0.29   0.85   0.782000
DCGS0003       0.00   2.51   1.988000
DCGS0004      16.63  16.63  16.630000
DCGS0055       0.00   0.00   0.000000
DCGS0057       0.00   0.00   0.000000
DCGS0066P      0.00   0.00   0.000000
DCGS0067       0.00   0.00   0.000000
DCGS0068       0.00   0.00   0.000000
DCGS0069       0.00  15.79   7.895000
DCGS0070       0.00  12.72   6.360000
DCGS0071       0.00   0.00   0.000000
DCGS0072       0.00   0.00   0.000000
DCGS0073       0.00   0.00   0.000000
DCGS0074       0.00   0.00   0.000000
DCGS0076      16.13  16.13  16.130000
DCGSSBOY       1.25   3.29   3.104545
DCGSSGIRL      1.25   3.29   3.133077

[4053 rows x 3 columns]

def tagforremoval_negqty(row):
    '''
    Input: Row (which will be slicked into columns)
    Output: 1 or 0 depening on if row is to be deleted
    
    The purpose of this function is to tag rows for deletion.
    '''
    if row['CustomerID'].isin(df_cust_neg_qty.CustomerID) & row['StockCode'].isin(df_cust_neg_qty.StockCode):
        return 1
    else:
        return 0

In [42]:
len(df.Country.unique())

38

In [43]:
df.Rev.sum()

9792708.879999999

In [44]:
df.loc[\
       #(df.Country == 'United Kingdom') & 
       (df.Return == 0)].Rev.sum()# / df.Rev.sum()

10271433.059999999

In [45]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Wednesday,December,2010,48,15.30,0,1.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0,1.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Wednesday,December,2010,48,22.00,0,1.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0,1.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0,1.0

In [57]:
df[df['InvoiceNo'].str.contains("C", na=False)]
#df.InvoiceNo.str.contains("C", na=False).value_counts()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,Wednesday,December,2010,48,-4.65,1,1.0
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,Wednesday,December,2010,48,-19.80,1,0.0
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,Wednesday,December,2010,48,-6.96,1,0.0
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,Wednesday,December,2010,48,-6.96,1,0.0
238,C536391,21980,PACK OF 12 RED RETROSPOT TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,Wednesday,December,2010,48,-6.96,1,0.0
239,C536391,21484,CHICK GREY HOT WATER BOTTLE,-12,2010-12-01 10:24:00,3.45,17548.0,United Kingdom,Wednesday,December,2010,48,-41.40,1,0.0
240,C536391,22557,PLASTERS IN TIN VINTAGE PAISLEY,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,Wednesday,December,2010,48,-19.80,1,0.0
241,C536391,22553,PLASTERS IN TIN SKULLS,-24,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,Wednesday,December,2010,48,-39.60,1,0.0
939,C536506,22960,JAM MAKING SET WITH JARS,-6,2010-12-01 12:38:00,4.25,17897.0,United Kingdom,Wednesday,December,2010,48,-25.50,1,1.0
1441,C536543,22632,HAND WARMER RED RETROSPOT,-1,2010-12-01 14:30:00,2.10,17841.0,United Kingdom,Wednesday,December,2010,48,-2.10,1,1.0
1442,C536543,22355,CHARLOTTE BAG SUKI DESIGN,-2,2010-12-01 14:30:00,0.85,17841.0,United Kingdom,Wednesday,December,2010,48,-1.70,1,1.0
1973,C536548,22244,3 HOOK HANGER MAGIC GARDEN,-4,2010-12-01 14:33:00,1.95,12472.0,Germany,Wednesday,December,2010,48,-7.80,1,1.0
1974,C536548,22242,5 HOOK HANGER MAGIC TOADSTOOL,-5,2010-12-01 14:33:00,1.65,12472.0,Germany,Wednesday,December,2010,48,-8.25,1,1.0
1975,C536548,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-1,2010-12-01 14:33:00,2.95,12472.0,Germany,Wednesday,December,2010,48,-2.95,1,1.0
1976,C536548,22892,SET OF SALT AND PEPPER TOADSTOOLS,-7,2010-12-01 14:33:00,1.25,12472.0,Germany,Wednesday,December,2010,48,-8.75,1,1.0
1977,C536548,22654,DELUXE SEWING KIT,-1,2010-12-01 14:33:00,5.95,12472.0,Germany,Wednesday,December,2010,48,-5.95,1,1.0
1978,C536548,22767,TRIPLE PHOTO FRAME CORNICE,-2,2010-12-01 14:33:00,9.95,12472.0,Germany,Wednesday,December,2010,48,-19.90,1,1.0
1979,C536548,22333,RETROSPOT PARTY BAG + STICKER SET,-1,2010-12-01 14:33:00,1.65,12472.0,Germany,Wednesday,December,2010,48,-1.65,1,1.0
1980,C536548,22245,"HOOK, 1 HANGER ,MAGIC GARDEN",-2,2010-12-01 14:33:00,0.85,12472.0,Germany,Wednesday,December,2010,48,-1.70,1,1.0
1981,C536548,22077,6 RIBBONS RUSTIC CHARM,-6,2010-12-01 14:33:00,1.65,12472.0,Germany,Wednesday,December,2010,48,-9.90,1,1.0
1982,C536548,22631,CIRCUS PARADE LUNCH BOX,-1,2010-12-01 14:33:00,1.95,12472.0,Germany,Wednesday,December,2010,48,-1.95,1,1.0
1983,C536548,22168,ORGANISER WOOD ANTIQUE WHITE,-2,2010-12-01 14:33:00,8.50,12472.0,Germany,Wednesday,December,2010,48,-17.00,1,1.0
1984,C536548,21218,RED SPOTTY BISCUIT TIN,-3,2010-12-01 14:33:00,3.75,12472.0,Germany,Wednesday,December,2010,48,-11.25,1,1.0
1985,C536548,20957,PORCELAIN HANGING BELL SMALL,-1,2010-12-01 14:33:00,1.45,12472.0,Germany,Wednesday,December,2010,48,-1.45,1,1.0
1986,C536548,22580,ADVENT CALENDAR GINGHAM SACK,-4,2010-12-01 14:33:00,5.95,12472.0,Germany,Wednesday,December,2010,48,-23.80,1,1.0
3170,C536606,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-2,2010-12-02 09:10:00,2.95,14092.0,United Kingdom,Thursday,December,2010,48,-5.90,1,1.0
3338,C536622,22752,SET 7 BABUSHKA NESTING BOXES,-2,2010-12-02 10:37:00,8.50,12471.0,Germany,Thursday,December,2010,48,-17.00,1,1.0
3410,C536625,22839,3 TIER CAKE TIN GREEN AND CREAM,-2,2010-12-02 10:46:00,14.95,14766.0,United Kingdom,Thursday,December,2010,48,-29.90,1,1.0
3693,C536642,21463,MIRRORED DISCO BALL,-1,2010-12-02 11:56:00,5.95,14390.0,United Kingdom,Thursday,December,2010,48,-5.95,1,1.0
3911,C536734,22780,LIGHT GARLAND BUTTERFILES PINK,-4,2010-12-02 12:50:00,4.25,16042.0,United Kingdom,Thursday,December,2010,48,-17.00,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538563,C581409,82484,WOOD BLACK BOARD ANT WHITE FINISH,-1,2011-12-08 14:08:00,7.95,12476.0,Germany,Thursday,December,2011,49,-7.95,1,1.0
538564,C581409,82482,WOODEN PICTURE FRAME WHITE FINISH,-1,2011-12-08 14:08:00,2.95,12476.0,Germany,Thursday,December,2011,49,-2.95,1,1.0
538565,C581409,22173,METAL 4 HOOK HANGER FRENCH CHATEAU,-2,2011-12-08 14:08:00,3.29,12476.0,Germany,Thursday,December,2011,49,-6.58,1,1.0
538566,C581409,85199L,LARGE HANGING IVORY & RED WOOD BIRD,-1,2011-12-08 14:08:00,0.65,12476.0,Germany,Thursday,December,2011,49,-0.65,1,1.0
538567,C581409,85127,SMALL SQUARE CUT GLASS CANDLESTICK,-5,2011-12-08 14:08:00,4.95,12476.0,Germany,Thursday,December,2011,49,-24.75,1,1.0
540072,C581460,22197,POPCORN HOLDER,-5,2011-12-08 18:48:00,0.72,13078.0,United Kingdom,Thursday,December,2011,49,-3.60,1,1.0
540073,C581460,22107,PIZZA PLATE IN BOX,-1,2011-12-08 18:48:00,1.25,13078.0,United Kingdom,Thursday,December,2011,49,-1.25,1,1.0
540078,C581462,16219,HOUSE SHAPE PENCIL SHARPENER,-48,2011-12-08 18:51:00,0.06,12985.0,United Kingdom,Thursday,December,2011,49,-2.88,1,1.0
540079,C581462,21642,ASSORTED TUTTI FRUTTI PEN,-72,2011-12-08 18:51:00,0.29,12985.0,United Kingdom,Thursday,December,2011,49,-20.88,1,1.0
540080,C581463,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,-2,2011-12-08 18:56:00,7.95,17526.0,United Kingdom,Thursday,December,2011,49,-15.90,1,1.0
540081,C581464,23458,DOLLY CABINET 3 DRAWERS,-1,2011-12-08 18:57:00,14.95,15951.0,United Kingdom,Thursday,December,2011,49,-14.95,1,1.0
540082,C581464,71477,COLOURED GLASS STAR T-LIGHT HOLDER,-6,2011-12-08 18:57:00,3.95,15951.0,United Kingdom,Thursday,December,2011,49,-23.70,1,1.0
540083,C581465,23660,HENRIETTA HEN MUG,-2,2011-12-08 18:59:00,1.65,15755.0,United Kingdom,Thursday,December,2011,49,-3.30,1,1.0
540084,C581465,22171,3 HOOK PHOTO SHELF ANTIQUE WHITE,-1,2011-12-08 18:59:00,8.50,15755.0,United Kingdom,Thursday,December,2011,49,-8.50,1,1.0
540085,C581465,21876,POTTERING MUG,-4,2011-12-08 18:59:00,1.65,15755.0,United Kingdom,Thursday,December,2011,49,-6.60,1,1.0
540086,C581465,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-3,2011-12-08 18:59:00,2.95,15755.0,United Kingdom,Thursday,December,2011,49,-8.85,1,1.0
540087,C581466,22838,3 TIER CAKE TIN RED AND CREAM,-1,2011-12-08 19:20:00,14.95,13883.0,United Kingdom,Thursday,December,2011,49,-14.95,1,1.0
540088,C581466,22720,SET OF 3 CAKE TINS PANTRY DESIGN,-2,2011-12-08 19:20:00,4.95,13883.0,United Kingdom,Thursday,December,2011,49,-9.90,1,1.0
540089,C581466,21216,"SET 3 RETROSPOT TEA,COFFEE,SUGAR",-1,2011-12-08 19:20:00,4.95,13883.0,United Kingdom,Thursday,December,2011,49,-4.95,1,1.0
540090,C581466,21535,RED RETROSPOT SMALL MILK JUG,-2,2011-12-08 19:20:00,2.55,13883.0,United Kingdom,Thursday,December,2011,49,-5.10,1,1.0
540091,C581466,21232,STRAWBERRY CERAMIC TRINKET POT,-1,2011-12-08 19:20:00,1.25,13883.0,United Kingdom,Thursday,December,2011,49,-1.25,1,1.0
540141,C581468,21314,SMALL GLASS HEART TRINKET POT,-10,2011-12-08 19:26:00,2.10,13599.0,United Kingdom,Thursday,December,2011,49,-21.00,1,1.0
540142,C581468,22098,BOUDOIR SQUARE TISSUE BOX,-12,2011-12-08 19:26:00,0.39,13599.0,United Kingdom,Thursday,December,2011,49,-4.68,1,1.0
540176,C581470,23084,RABBIT NIGHT LIGHT,-4,2011-12-08 19:28:00,2.08,17924.0,United Kingdom,Thursday,December,2011,49,-8.32,1,1.0
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,Friday,December,2011,49,-168469.60,1,0.0
540448,C581490,22178,VICTORIAN GLASS HANGING T-LIGHT,-12,2011-12-09 09:57:00,1.95,14397.0,United Kingdom,Friday,December,2011,49,-23.40,1,1.0
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom,Friday,December,2011,49,-9.13,1,1.0
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom,Friday,December,2011,49,-54.75,1,1.0
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,Friday,December,2011,49,-1.25,1,1.0
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,Friday,December,2011,49,-6.25,1,1.0

In [62]:
df.loc[(df['CustomerID'] == 15311) & (df['StockCode'] == '35004C') ]
#15311

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,Wednesday,December,2010,48,-4.65,1,1.0
9200,537195,35004C,SET OF 3 COLOURED FLYING DUCKS,12,2010-12-05 13:55:00,4.65,15311.0,United Kingdom,Sunday,December,2010,48,55.80,0,1.0
18196,C537805,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-08 13:18:00,4.65,15311.0,United Kingdom,Wednesday,December,2010,49,-4.65,1,1.0
28630,538651,35004C,SET OF 3 COLOURED FLYING DUCKS,12,2010-12-13 15:07:00,4.65,15311.0,United Kingdom,Monday,December,2010,50,55.80,0,1.0
39381,C539640,35004C,SET OF 3 COLOURED FLYING DUCKS,-3,2010-12-20 15:27:00,4.65,15311.0,United Kingdom,Monday,December,2010,51,-13.95,1,1.0
44157,540157,35004C,SET OF 3 COLOURED FLYING DUCKS,12,2011-01-05 11:41:00,4.65,15311.0,United Kingdom,Wednesday,January,2011,1,55.80,0,1.0
59542,541293,35004C,SET OF 3 COLOURED FLYING DUCKS,12,2011-01-17 13:39:00,4.65,15311.0,United Kingdom,Monday,January,2011,3,55.80,0,1.0
78333,C542866,35004C,SET OF 3 COLOURED FLYING DUCKS,-2,2011-02-01 12:14:00,4.65,15311.0,United Kingdom,Tuesday,February,2011,5,-9.30,1,1.0

In [59]:
df[df['CustomerID'].isna()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom,Wednesday,December,2010,48,0.00,0,NaN
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,Wednesday,December,2010,48,2.51,0,NaN
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,Wednesday,December,2010,48,5.02,0,NaN
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom,Wednesday,December,2010,48,3.40,0,NaN
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom,Wednesday,December,2010,48,3.32,0,NaN
1447,536544,21790,VINTAGE SNAP CARDS,9,2010-12-01 14:32:00,1.66,NaN,United Kingdom,Wednesday,December,2010,48,14.94,0,NaN
1448,536544,21791,VINTAGE HEADS AND TAILS CARD GAME,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,Wednesday,December,2010,48,5.02,0,NaN
1449,536544,21801,CHRISTMAS TREE DECORATION WITH BELL,10,2010-12-01 14:32:00,0.43,NaN,United Kingdom,Wednesday,December,2010,48,4.30,0,NaN
1450,536544,21802,CHRISTMAS TREE HEART DECORATION,9,2010-12-01 14:32:00,0.43,NaN,United Kingdom,Wednesday,December,2010,48,3.87,0,NaN
1451,536544,21803,CHRISTMAS TREE STAR DECORATION,11,2010-12-01 14:32:00,0.43,NaN,United Kingdom,Wednesday,December,2010,48,4.73,0,NaN
1452,536544,21809,CHRISTMAS HANGING TREE WITH BELL,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,Wednesday,December,2010,48,2.51,0,NaN
1453,536544,21810,CHRISTMAS HANGING STAR WITH BELL,3,2010-12-01 14:32:00,2.51,NaN,United Kingdom,Wednesday,December,2010,48,7.53,0,NaN
1454,536544,21811,CHRISTMAS HANGING HEART WITH BELL,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,Wednesday,December,2010,48,2.51,0,NaN
1455,536544,21821,GLITTER STAR GARLAND WITH BELLS,1,2010-12-01 14:32:00,7.62,NaN,United Kingdom,Wednesday,December,2010,48,7.62,0,NaN
1456,536544,21822,GLITTER CHRISTMAS TREE WITH BELLS,1,2010-12-01 14:32:00,4.21,NaN,United Kingdom,Wednesday,December,2010,48,4.21,0,NaN
1457,536544,21823,PAINTED METAL HEART WITH HOLLY BELL,2,2010-12-01 14:32:00,2.98,NaN,United Kingdom,Wednesday,December,2010,48,5.96,0,NaN
1458,536544,21844,RED RETROSPOT MUG,2,2010-12-01 14:32:00,5.91,NaN,United Kingdom,Wednesday,December,2010,48,11.82,0,NaN
1459,536544,21851,LILAC DIAMANTE PEN IN GIFT BOX,1,2010-12-01 14:32:00,4.21,NaN,United Kingdom,Wednesday,December,2010,48,4.21,0,NaN
1460,536544,21870,I CAN ONLY PLEASE ONE PERSON MUG,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom,Wednesday,December,2010,48,3.36,0,NaN
1461,536544,21871,SAVE THE PLANET MUG,5,2010-12-01 14:32:00,3.36,NaN,United Kingdom,Wednesday,December,2010,48,16.80,0,NaN
1462,536544,21874,GIN AND TONIC MUG,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom,Wednesday,December,2010,48,3.36,0,NaN
1463,536544,21879,HEARTS GIFT TAPE,1,2010-12-01 14:32:00,1.66,NaN,United Kingdom,Wednesday,December,2010,48,1.66,0,NaN
1464,536544,21884,CAKES AND BOWS GIFT TAPE,1,2010-12-01 14:32:00,1.66,NaN,United Kingdom,Wednesday,December,2010,48,1.66,0,NaN
1465,536544,21888,BINGO SET,1,2010-12-01 14:32:00,7.62,NaN,United Kingdom,Wednesday,December,2010,48,7.62,0,NaN
1466,536544,21889,WOODEN BOX OF DOMINOES,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,Wednesday,December,2010,48,5.02,0,NaN
1467,536544,21892,TRADITIONAL WOODEN CATCH CUP GAME,3,2010-12-01 14:32:00,2.51,NaN,United Kingdom,Wednesday,December,2010,48,7.53,0,NaN
1468,536544,21894,POTTING SHED SEED ENVELOPES,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,Wednesday,December,2010,48,2.51,0,NaN
1469,536544,21911,GARDEN METAL SIGN,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom,Wednesday,December,2010,48,3.36,0,NaN
1470,536544,21912,VINTAGE SNAKES & LADDERS,3,2010-12-01 14:32:00,7.62,NaN,United Kingdom,Wednesday,December,2010,48,22.86,0,NaN
1471,536544,21913,VINTAGE SEASIDE JIGSAW PUZZLES,1,2010-12-01 14:32:00,7.62,NaN,United Kingdom,Wednesday,December,2010,48,7.62,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541510,581498,48138,DOORMAT UNION FLAG,1,2011-12-09 10:26:00,14.13,NaN,United Kingdom,Friday,December,2011,49,14.13,0,NaN
541511,581498,71053,WHITE MOROCCAN METAL LANTERN,1,2011-12-09 10:26:00,8.29,NaN,United Kingdom,Friday,December,2011,49,8.29,0,NaN
541512,581498,72349b,SET/6 PURPLE BUTTERFLY T-LIGHTS,2,2011-12-09 10:26:00,4.13,NaN,United Kingdom,Friday,December,2011,49,8.26,0,NaN
541513,581498,79321,CHILLI LIGHTS,10,2011-12-09 10:26:00,12.46,NaN,United Kingdom,Friday,December,2011,49,124.60,0,NaN
541514,581498,82001s,SILVER RECORD COVER FRAME,2,2011-12-09 10:26:00,7.46,NaN,United Kingdom,Friday,December,2011,49,14.92,0,NaN
541515,581498,82482,WOODEN PICTURE FRAME WHITE FINISH,4,2011-12-09 10:26:00,4.96,NaN,United Kingdom,Friday,December,2011,49,19.84,0,NaN
541516,581498,82552,WASHROOM METAL SIGN,1,2011-12-09 10:26:00,2.46,NaN,United Kingdom,Friday,December,2011,49,2.46,0,NaN
541517,581498,82580,BATHROOM METAL SIGN,1,2011-12-09 10:26:00,1.25,NaN,United Kingdom,Friday,December,2011,49,1.25,0,NaN
541518,581498,82581,TOILET METAL SIGN,1,2011-12-09 10:26:00,1.25,NaN,United Kingdom,Friday,December,2011,49,1.25,0,NaN
541519,581498,82600,N0 SINGING METAL SIGN,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom,Friday,December,2011,49,16.52,0,NaN
541520,581498,84029E,RED WOOLLY HOTTIE WHITE HEART.,4,2011-12-09 10:26:00,8.29,NaN,United Kingdom,Friday,December,2011,49,33.16,0,NaN
541521,581498,84032A,CHARLIE+LOLA PINK HOT WATER BOTTLE,4,2011-12-09 10:26:00,5.79,NaN,United Kingdom,Friday,December,2011,49,23.16,0,NaN
541522,581498,84032B,CHARLIE + LOLA RED HOT WATER BOTTLE,3,2011-12-09 10:26:00,3.29,NaN,United Kingdom,Friday,December,2011,49,9.87,0,NaN
541523,581498,84375,SET OF 20 KIDS COOKIE CUTTERS,3,2011-12-09 10:26:00,4.13,NaN,United Kingdom,Friday,December,2011,49,12.39,0,NaN
541524,581498,84509a,SET OF 4 ENGLISH ROSE PLACEMATS,1,2011-12-09 10:26:00,7.46,NaN,United Kingdom,Friday,December,2011,49,7.46,0,NaN
541525,581498,84558a,3D DOG PICTURE PLAYING CARDS,1,2011-12-09 10:26:00,5.79,NaN,United Kingdom,Friday,December,2011,49,5.79,0,NaN
541526,581498,84832,ZINC WILLIE WINKIE CANDLE STICK,26,2011-12-09 10:26:00,1.63,NaN,United Kingdom,Friday,December,2011,49,42.38,0,NaN
541527,581498,84968e,SET OF 16 VINTAGE BLACK CUTLERY,1,2011-12-09 10:26:00,24.96,NaN,United Kingdom,Friday,December,2011,49,24.96,0,NaN
541528,581498,84970s,HANGING HEART ZINC T-LIGHT HOLDER,1,2011-12-09 10:26:00,2.08,NaN,United Kingdom,Friday,December,2011,49,2.08,0,NaN
541529,581498,84997a,CHILDRENS CUTLERY POLKADOT GREEN,2,2011-12-09 10:26:00,8.29,NaN,United Kingdom,Friday,December,2011,49,16.58,0,NaN
541530,581498,84997b,CHILDRENS CUTLERY RETROSPOT RED,3,2011-12-09 10:26:00,8.29,NaN,United Kingdom,Friday,December,2011,49,24.87,0,NaN
541531,581498,84997d,CHILDRENS CUTLERY POLKADOT PINK,1,2011-12-09 10:26:00,8.29,NaN,United Kingdom,Friday,December,2011,49,8.29,0,NaN
541532,581498,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,1,2011-12-09 10:26:00,4.13,NaN,United Kingdom,Friday,December,2011,49,4.13,0,NaN
541533,581498,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,1,2011-12-09 10:26:00,16.63,NaN,United Kingdom,Friday,December,2011,49,16.63,0,NaN
541534,581498,85049a,TRADITIONAL CHRISTMAS RIBBONS,5,2011-12-09 10:26:00,3.29,NaN,United Kingdom,Friday,December,2011,49,16.45,0,NaN
541535,581498,85049e,SCANDINAVIAN REDS RIBBONS,4,2011-12-09 10:26:00,3.29,NaN,United Kingdom,Friday,December,2011,49,13.16,0,NaN
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom,Friday,December,2011,49,20.65,0,NaN
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom,Friday,December,2011,49,16.52,0,NaN
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom,Friday,December,2011,49,4.96,0,NaN
541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom,Friday,December,2011,49,10.79,0,NaN

In [53]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1447
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     134050
Country             0
Day                 0
Month               0
Year                0
WeekNum             0
Rev                 0
Return              0
B2B            134050
dtype: int64