# Exploratory Data Analysis and Cleaning

The raw data file will be loaded and interogated obtain preliminary insights and identify and erroneous date for update or removal.

In [1]:
#Libraries
#Dataframe and arrays
import pandas as pd
import numpy as np

#Graphing/ Charting/ Visualisations
import matplotlib as plt

In [81]:
df = pd.read_excel('../data/online_fashion.xlsx')

In [82]:
df.shape

(541909, 8)

In [114]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
Day                    object
Month                  object
Year                    int64
WeekNum                 int64
Rev                   float64
Return                  int64
B2B                   float64
dtype: object

In [84]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [85]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [86]:
#Cast Description to Uppercase
df.Description = df.Description.str.upper()

In [87]:
#Convert datetime field to Day, Month and Year
df['Day'] = df['InvoiceDate'].dt.day_name()
df['Month'] = df['InvoiceDate'].dt.month_name()
df['Year'] = pd.DatetimeIndex(df['InvoiceDate']).year
df['WeekNum'] = df['InvoiceDate'].dt.week
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Wednesday,December,2010,48
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Wednesday,December,2010,48
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48

In [88]:
df.Day.value_counts()

Thursday     103857
Tuesday      101808
Monday        95111
Wednesday     94565
Friday        82193
Sunday        64375
Name: Day, dtype: int64

In [89]:
#Calculation of Revenue per Transaction
df['Rev'] = df['Quantity']*df['UnitPrice']
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Wednesday,December,2010,48,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Wednesday,December,2010,48,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34

In [90]:
#Identify if Return(1) or Sale(0)
def transtype(row): 
    """
    Input:
    Output:
    
    The purpose of this function is to .....
    """
    if row['Quantity'] <= 0 : 
        return 1
    else: 
        return 0

df['Return'] = df.apply(transtype, axis=1)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Wednesday,December,2010,48,15.30,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Wednesday,December,2010,48,22.00,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0

In [91]:
#Check Return Flag Worked (Part One)
df.loc[(df['Return'] == 1)].head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return
141,C536379,D,DISCOUNT,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom,Wednesday,December,2010,48,-27.50,1
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,Wednesday,December,2010,48,-4.65,1
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,Wednesday,December,2010,48,-19.80,1

In [92]:
#Check Return Flag Worked (Part Two)
df.loc[(df['Return'] == 0)].head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Wednesday,December,2010,48,15.30,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Wednesday,December,2010,48,22.00,0

In [93]:
#Find & Remove Strange StockCodes
df_unique_stock_codes = df['StockCode'].unique()
df_unique_stock_codes = pd.DataFrame(df_unique_stock_codes)
df_unique_stock_codes['len'] = df_unique_stock_codes[0].astype(str).str.len()
df_unique_stock_codes.rename(columns={0:'StockCode'}, inplace=True)
df_unique_stock_codes.sort_values(by='len')
df_unique_stock_codes['len'] = df_unique_stock_codes['len'].astype(int)
df_stock_to_drop_stg = df_unique_stock_codes.loc[(df_unique_stock_codes['len'] >= 8) | (df_unique_stock_codes['len'] <= 4)].sort_values(by='len')
df_stock_to_drop_stg.reset_index(drop=True)
df_stock_to_drop = pd.concat([df_stock_to_drop_stg.iloc[0:10], df_stock_to_drop_stg.iloc[-6:], df_stock_to_drop_stg.iloc[-9:-8] ])
df_stock_to_drop

df = df[~(df['StockCode'].isin(df_stock_to_drop.StockCode) )]

df.shape

(538959, 14)

In [94]:
#Customer Type - Part 1 of 3

df_custtype = df.groupby('CustomerID').agg({'Rev': ['sum'], 'Quantity':['sum']})
df_custtype = df_custtype2.reset_index(drop=False)
df_custtype.columns = ['CustomerID','Rev','Quantity']
df_custtype.head()

   CustomerID      Rev  Quantity
0     12346.0     0.00         0
1     12347.0  4310.00      2458
2     12348.0  1797.24      2341
3     12349.0  1757.55       631
4     12350.0   334.40       197

In [95]:
#Customer Type - Part 2 of 3

def customertype(row):
    """
    Input: Revenue and Total Quantity of Units Purchased
    Output: Flag to determing if a business (B2B) or regular (B2C) customer
    
    The purpose of this funtion is to determine if the customer ID belongs to a business or regular customer
    """
    #try:
        
    if row.Rev > 2500 or  row.Quantity > 50:
        return 1
    else:
        return 0
    #except:
        #pass
    
df_custtype['B2B'] = df_custtype.apply(customertype, axis=1)
df_custtype.head()

   CustomerID      Rev  Quantity  B2B
0     12346.0     0.00         0    0
1     12347.0  4310.00      2458    1
2     12348.0  1797.24      2341    1
3     12349.0  1757.55       631    1
4     12350.0   334.40       197    1

In [96]:
#Customer Type - Part 3 of 3

def customertypelookup(row):
    """
    Input: CustomerID
    Output: Flat to identify if B2B customer or not (1 or 0)
    
    The purpose of this funtion is to vlookup if the customer ID belongs to a business or regular customer
    """
    try:
        return int(df_custtype.loc[df_custtype['CustomerID'] == row]["B2B"])
    except:
        pass
    
df['B2B'] = df['CustomerID'].apply(customertypelookup)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Wednesday,December,2010,48,15.30,0,1.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0,1.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Wednesday,December,2010,48,22.00,0,1.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0,1.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Wednesday,December,2010,48,20.34,0,1.0

In [116]:
#Export customer type for Recommender System
df_custtype.to_csv('../data/dataframe_customer_type.csv', index=False)

In [97]:
#Export this cleaned dataframe for use in Tableau
df.to_csv('../data/dataframe_cleaned.csv')

In order to prepare the data for the recommender system it it necessary to remove Nan CustomerIDs and Customers with net negative(or zero) transactions during the reported period.

In [99]:
#Customers with Negative Qty - Prep for Recommender System Part 1 or x
#Identify Customer/ Product mix that are negative - i.e. potential returns from outside reporting period

df_cust_neg_qty = df.groupby(['CustomerID', 'StockCode'])['Quantity'].agg('sum').to_frame()
df_cust_neg_qty.reset_index(inplace=True)
df_cust_neg_qty = df_cust_neg_qty.loc[(df_cust_neg_qty['Quantity'] <= 0)]
df_cust_neg_qty

df_cust_no_net_negative = df[~(df['StockCode'].isin(df_cust_neg_qty.StockCode) & df['CustomerID'].isin(df_cust_neg_qty.CustomerID))]

df_cust_no_net_negative.shape #(also called df_cnn)

(441526, 15)

In [107]:
df_cust_no_net_negative.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,WeekNum,Rev,Return,B2B
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,Wednesday,December,2010,48,54.08,0,1.0
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,Wednesday,December,2010,48,12.60,0,1.0
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,Wednesday,December,2010,48,12.60,0,1.0
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom,Wednesday,December,2010,48,30.00,0,1.0
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom,Wednesday,December,2010,48,9.90,0,1.0

In [110]:
#Remove transactions with no CustomerID - Prep for Recommender System Part 2 or x
df_cust_no_net_negative.dropna(subset=['CustomerID'], inplace=True)

C:\Users\ellio\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [112]:
#Export this cleaned dataframe for use in Recommender System
df_cust_no_net_negative.to_csv('../data/dataframe_recom_system.csv')
df_cust_no_net_negative.to_csv('../data/dataframe_awp_staging.csv')

In [13]:
#need to learn more about transactions with no customer ID before I decice to simply drop them
# there are 135,080 rows out of 541,909
# there are 1,719 rows of Nan customer and Qty 0 or a return (across 1,518 unique invoices)

In [19]:
df.sort_values(by='Quantity').head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Rev,Return
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,Friday,-168469.6,1
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,Tuesday,-77183.6,1
225529,556690,23005,printing smudges/thrown away,-9600,2011-06-14 10:37:00,0.00,NaN,United Kingdom,Tuesday,-0.0,1
225530,556691,23005,printing smudges/thrown away,-9600,2011-06-14 10:37:00,0.00,NaN,United Kingdom,Tuesday,-0.0,1
4287,C536757,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,-9360,2010-12-02 14:23:00,0.03,15838.0,United Kingdom,Thursday,-280.8,1

In [20]:
df.isnull().sum() / df.shape[0] * 100.00

InvoiceNo       0.000000
StockCode       0.000000
Description     0.268311
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.926694
Country         0.000000
Day             0.000000
Rev             0.000000
Return          0.000000
dtype: float64

In [31]:
#Find Strange Descriptions
df_unique_descriptions = df['Description'].unique()
df_unique_descriptions = pd.DataFrame(df_unique_descriptions)
df_unique_descriptions['len'] = df_unique_descriptions[0].astype(str).str.len()
df_unique_descriptions.rename(columns={0:'Description'}, inplace=True)
df_unique_descriptions.sort_values(by='len')
df_unique_descriptions['len'] = df_unique_descriptions['len'].astype(int)
df_unique_descriptions.loc[(df_unique_descriptions['len'] >= 36) | (df_unique_descriptions['len'] <= 11)].sort_values(by='len', ascending=False)

#put into consistent case i.e. upper or lower

      Description  len
1615  FROG CANDLE   11
3998  michel oops   11
4139  damages wax   11
2975  thrown away   11
3779  CORDIAL JUG   11
3292  wrong code?   11
4193  ????missing   11
4013  stock check   11
1631  SKULLS TAPE   11
4177  dotcomstock   11
3866  taig adjust   11
3802  crushed ctn   11
572   BUTTON BOX    11
3476  wet damaged   11
3106   Adjustment   10
3114   Dotcom set   10
4018   WET/MOULDY   10
3132   throw away   10
2909   Given away   10
4191   ?? missing   10
4062   Sale error   10
3287   adjustment   10
2212   AMAZON FEE   10
4179   John Lewis   10
4019   can't find   10
4192   wet pallet   10
4194   ???missing   10
3293   wrong code   10
1552   SPACE FROG   10
178    PHOTO CUBE   10
...           ...  ...
4188       check?    6
3131       broken    6
4032       mouldy    6
2910       Dotcom    6
3683       dotcom    6
3879       Amazon    6
1740       amazon    6
3299       adjust    6
4196       AMAZON    6
4214       lost??    6
1108       Manual    6
2394       faulty    6
2727        Found    5
2155        check    5
4111        20713    5
2830        found    5
4124        CHECK    5
3162        ?lost    5
3625        FOUND    5
3854         test    4
4213         wet?    4
3706         ebay    4
4221         lost    4
3104          MIA    3
3692          FBA    3
4215          ???    3
4217          wet    3
395           NaN    3
3870           ??    2
1822            ?    1

[98 rows x 2 columns]

In [32]:
#Find descriptions with negative works like 'damaged' 'fees' 'mouldy', 'faulty', 'wet', 'lost', 'missing','wrong', 'broke'

In [35]:
#Finding Customers with more than 1 Country listed
df_customer_stg = df.groupby('CustomerID')['Country'].unique()
df_customer_stg.loc[df_customer_stg.apply(lambda x:len(x)>1)]

CustomerID
12370.0           [Cyprus, Austria]
12394.0          [Belgium, Denmark]
12417.0            [Belgium, Spain]
12422.0    [Australia, Switzerland]
12429.0          [Denmark, Austria]
12431.0        [Australia, Belgium]
12455.0             [Cyprus, Spain]
12457.0       [Switzerland, Cyprus]
Name: Country, dtype: object

In [37]:
#Finding StockCodes with  more than 1 Description listed
# NOTE THAT I USED THE NEW DATAFRAME HERE
df_inventory_stg = df_new.groupby('StockCode')['Description'].unique()
df_inventory_stg.loc[df_inventory_stg.apply(lambda x:len(x)>1)]

#greater than 1 = 191
#greater than 2 = 16
#greater than 3 = 2

StockCode
20622             [VIPPASSPORT COVER , VIP PASSPORT COVER ]
21109     [LARGE CAKE TOWEL, CHOCOLATE SPOTS, LARGE CAKE...
21112     [SWISS ROLL TOWEL, PINK  SPOTS, SWISS ROLL TOW...
21175     [GIN + TONIC DIET METAL SIGN, GIN AND TONIC DI...
21232     [STRAWBERRY CERAMIC TRINKET BOX, STRAWBERRY CE...
21243         [PINK  POLKADOT PLATE , PINK POLKADOT PLATE ]
21507     [ELEPHANT, BIRTHDAY CARD, , ELEPHANT BIRTHDAY ...
21811     [CHRISTMAS HANGING HEART WITH BELL, HANGING HE...
21818     [GLITTER CHRISTMAS HEART , GLITTER HEART DECOR...
21899             [KEY FOB , GARAGE DESIGN, GARAGE KEY FOB]
21928     [JUMBO BAG SCANDINAVIAN PAISLEY, JUMBO BAG SCA...
22129     [PARTY CONES CANDY TREE DECORATION, PARTY CONE...
22134     [LADLE LOVE HEART RED , MINI LADLE LOVE HEART ...
22135     [LADLE LOVE HEART PINK, MINI LADLE LOVE HEART ...
22179     [SET 10 LIGHTS NIGHT OWL, SET 10 NIGHT OWL LIG...
22197                [SMALL POPCORN HOLDER, POPCORN HOLDER]
22268     [EASTER DECORATION SITTING BUNNY, DECORATION S...
22285     [DECORATION HEN ON NEST, HANGING, HANGING HEN ...
22286     [DECORATION , WOBBLY RABBIT , METAL , DECORATI...
22287     [DECORATION , WOBBLY CHICKEN, METAL , DECORATI...
22383     [LUNCH BAG SUKI  DESIGN , LUNCH BAG SUKI DESIGN ]
22407     [MONEY BOX FIRST ADE DESIGN, MONEY BOX FIRST A...
22416     [SET OF 36 DOILIES SPACEBOY DESIGN , SET OF 36...
22466     [FAIRY TALE COTTAGE NIGHTLIGHT, FAIRY TALE COT...
22584     [PACK OF 6 PANNETONE GIFT BOXES, PACK OF 6 PAN...
22595     [CHRISTMAS GINGHAM HEART, GINGHAM HEART DECORA...
22597     [CHRISTMAS MUSICAL ZINC HEART , MUSICAL ZINC H...
22602     [CHRISTMAS RETROSPOT HEART WOOD, RETROSPOT WOO...
22776     [SWEETHEART CAKESTAND 3 TIER, CAKESTAND, 3 TIE...
22777            [GLASS BELL JAR LARGE, GLASS CLOCHE LARGE]
                                ...
71053     [WHITE METAL LANTERN, WHITE MOROCCAN METAL LAN...
71459     [HANGING JAM JAR T-LIGHT HOLDER, HANGING JAM J...
71477     [COLOUR GLASS. STAR T-LIGHT HOLDER, COLOURED G...
82486     [WOOD S/3 CABINET ANT WHITE FINISH, 3 DRAWER A...
82600        [NO SINGING METAL SIGN, N0 SINGING METAL SIGN]
84228     [HEN HOUSE W CHICK STANDING, HEN HOUSE WITH CH...
84828     [JUNGLE POPSICLES ICE LOLLY HOLDERS, JUNGLE PO...
84906     [PINK B'FLY C/COVER W BOBBLES, PINK BUTTERFLY ...
84946     [ANTIQUE SILVER TEA GLASS ETCHED, ANTIQUE SILV...
85144     [JARDIN ETCHED GLASS BUTTER DISH, JARDIN ETCHE...
16156L                      [WRAP, CAROUSEL, WRAP CAROUSEL]
17107D    [FLOWER FAIRY,5 SUMMER B'DRAW LINERS, FLOWER F...
35817P    [ACRYLIC JEWEL SNOWFLAKE,PINK, PINK ACRYLIC JE...
47310M    [SMALL POP BOX,FUNKY MONKEY, SMALL POP BOX FUN...
79030D                  [TUMBLER, BAROQUE, TUMBLER BAROQUE]
79030G          [TUMBLER, NEW ENGLAND, TUMBLER NEW ENGLAND]
79051A    [SMOKEY GREY COLOUR D.O.F. GLASS, SMOKEY GREY ...
81950V    [FLOWER PURPLE CLOCK W/SUCKER, FLOWER PURPLE C...
82001S    [VINYL RECORD FRAME SILVER, SILVER RECORD COVE...
84247E    [PACK/12 XMAS FUN CARD, PACK OF 12 CHRISTMAS F...
84997A    [GREEN 3 PIECE POLKADOT CUTLERY SET, CHILDRENS...
84997B    [RED 3 PIECE RETROSPOT CUTLERY SET, CHILDRENS ...
84997C    [BLUE 3 PIECE POLKADOT CUTLERY SET, CHILDRENS ...
84997D    [PINK 3 PIECE POLKADOT CUTLERY SET, CHILDRENS ...
85123A    [WHITE HANGING HEART T-LIGHT HOLDER, CREAM HAN...
85184C    [S/4 VALENTINE DECOUPAGE HEART BOX, SET 4 VALE...
85185B    [PINK HORSE SOCK PUPPET, PINK HORSE SOCK PUPPE...
90014A    [SILVER/MOP ORBIT NECKLACE, SILVER M.O.P. ORBI...
90014B    [GOLD M PEARL  ORBIT NECKLACE, GOLD M.O.P. ORB...
90014C    [SILVER/BLACK ORBIT NECKLACE, SILVER AND BLACK...
Name: Description, Length: 191, dtype: object

In [41]:
#Find Min, Max, Mean of StockCodes
df_item_prices = df[['StockCode', 'UnitPrice']]
df_item_prices.groupby(by='StockCode').agg([min, max, 'mean'])

             UnitPrice
                   min        max        mean
StockCode
10002             0.00      1.660    1.056849
10080             0.00      0.850    0.376667
10120             0.21      0.210    0.210000
10125             0.42      1.660    0.859681
10133             0.00      1.660    0.645800
10134             0.00      0.000    0.000000
10135             0.25      2.510    1.410167
11001             0.83      3.360    1.878167
15030             0.00      0.290    0.269286
15034             0.07      0.850    0.366408
15036             0.00      1.630    1.063416
15039             0.53      1.660    1.231745
16008             0.00      0.250    0.134225
16010             0.00      0.120    0.090000
16011             0.21      0.210    0.210000
16012             0.21      0.210    0.210000
16014             0.32      0.420    0.401481
16015             0.00      0.500    0.434074
16016             0.72      0.850    0.846000
16033             0.00      0.120    0.096000
16043             0.00      0.120    0.080000
16045             0.00      0.120    0.042254
16046             0.00      0.850    0.802778
16048             0.12      0.850    0.325072
16049             0.00      0.420    0.171429
16052             0.00      0.840    0.547143
16053             0.00      0.000    0.000000
16054             0.12      0.420    0.128824
16216             0.06      1.250    0.152444
16218             0.06      2.130    0.269844
...                ...        ...         ...
C2                0.00    150.000   49.291667
CRUK              1.60   1100.440  495.839375
D                 0.01   1867.860   72.484545
DCGS0003          0.00      2.510    1.988000
DCGS0004         16.63     16.630   16.630000
DCGS0055          0.00      0.000    0.000000
DCGS0057          0.00      0.000    0.000000
DCGS0066P         0.00      0.000    0.000000
DCGS0067          0.00      0.000    0.000000
DCGS0068          0.00      0.000    0.000000
DCGS0069          0.00     15.790    7.895000
DCGS0070          0.00     12.720    6.360000
DCGS0071          0.00      0.000    0.000000
DCGS0072          0.00      0.000    0.000000
DCGS0073          0.00      0.000    0.000000
DCGS0074          0.00      0.000    0.000000
DCGS0076         16.13     16.130   16.130000
DCGSSBOY          1.25      3.290    3.104545
DCGSSGIRL         1.25      3.290    3.133077
DOT               0.00   4505.170  290.495859
M                 0.00  38970.000  375.566392
PADS              0.00      0.001    0.000750
POST              0.00   8142.750   36.933495
S                 2.80    570.000   50.404603
gift_0001_10      0.00      8.330    7.404444
gift_0001_20      0.00     17.020   15.038000
gift_0001_30      0.00     25.530   21.941250
gift_0001_40     33.33     34.040   33.566667
gift_0001_50     41.67     42.550   41.890000
m                 2.55      2.550    2.550000

[4070 rows x 3 columns]

def tagforremoval_negqty(row):
    '''
    Input: Row (which will be slicked into columns)
    Output: 1 or 0 depening on if row is to be deleted
    
    The purpose of this function is to tag rows for deletion.
    '''
    if row['CustomerID'].isin(df_cust_neg_qty.CustomerID) & row['StockCode'].isin(df_cust_neg_qty.StockCode):
        return 1
    else:
        return 0