In [1]:
##Libraries
#Dataframe & Arrays
import pandas as pd
import numpy as np

df = pd.read_csv('../data/cleaned_df2.csv')

In [10]:
df = df.sort_values(by=['StockCode','UnitPrice'], ascending=False)

In [12]:
df_pricing_file = df.groupby(['StockCode','UnitPrice']).agg({'Rev': ['sum','count'],'Quantity':['sum']}).reset_index()
df_pricing_file = df_pricing_file.sort_values(by=['StockCode','UnitPrice'], ascending=False)

     StockCode UnitPrice    Rev       Quantity
                            sum count      sum
7287    90214Z      0.29   3.48     1       12
7286    90214Y      1.25   1.25     1        1
7285    90214Y      0.29  17.40     2       60
7284    90214W      0.29   3.48     1       12
7283    90214V      1.25   2.50     2        2

In [15]:
df_pricing_file.columns = ['StockCode','UnitPrice','Rev','Count','Qty']
df_pricing_file.head()

  StockCode  UnitPrice     Rev  Count  Qty
0     10002       0.85  699.55     49  823
1     10080       0.39  112.71     20  289
2     10080       0.85    1.70      1    2
3     10120       0.21   40.53     30  193
4    10123C       0.65    3.25      3    5

In [20]:
df_awp = df_pricing_file.groupby(['StockCode']).agg({'Rev': ['sum'],'Qty':['sum']})
df_awp.columns = ['Rev','Qty']

In [21]:
df_awp.head()

              Rev  Qty
StockCode
10002      699.55  823
10080      114.41  291
10120       40.53  193
10123C       3.25    5
10124A       6.72   16

In [22]:
def AWP(row):
    return (row['Rev'] / row['Qty'])

In [23]:
df_awp['AWP'] = (df_awp['Rev'] / df_awp['Qty'])
df_awp.head()

              Rev  Qty       AWP
StockCode
10002      699.55  823  0.850000
10080      114.41  291  0.393162
10120       40.53  193  0.210000
10123C       3.25    5  0.650000
10124A       6.72   16  0.420000

In [25]:
df_awp.to_csv('../data/df_awp.csv', index=True)

In [26]:
df_awp

                Rev    Qty       AWP
StockCode
10002        699.55    823  0.850000
10080        114.41    291  0.393162
10120         40.53    193  0.210000
10123C         3.25      5  0.650000
10124A         6.72     16  0.420000
10124G         7.14     17  0.420000
10125        930.30   1226  0.758809
10133        876.87   1839  0.476819
10135       1785.44   1937  0.921755
11001        774.02    458  1.690000
15030         41.47    143  0.290000
15034        315.42   2493  0.126522
15036       9649.29  13211  0.730398
15039       1111.05   1533  0.724755
15044A      1245.33    427  2.916464
15044B       525.75    185  2.841892
15044C       774.35    269  2.878625
15044D      1307.45    479  2.729541
15056BL    14566.17   2649  5.498743
15056N     20430.66   3781  5.403507
15056P      2652.20    476  5.571849
15058A       536.55     69  7.776087
15058B       828.90    110  7.535455
15058C       894.35    193  4.633938
15060B      1479.12    410  3.607610
16008        360.71   2892  0.124727
16010          3.60     30  0.120000
16011        372.33   1773  0.210000
16012        261.24   1244  0.210000
16014       4335.76  13328  0.325312
...             ...    ...       ...
90210C       115.90     94  1.232979
90210D       125.00    104  1.201923
90211A        29.75      5  5.950000
90211B        11.90      2  5.950000
90212B        11.25      3  3.750000
90212C        22.50      6  3.750000
90214A        55.71     63  0.884286
90214B         4.73     13  0.363846
90214C        40.04     52  0.770000
90214D        25.71     39  0.659231
90214E        27.25     41  0.664634
90214F         3.77     13  0.290000
90214G        18.50     34  0.544118
90214H        15.02     22  0.682727
90214I        18.77     25  0.750800
90214J        17.23     23  0.749130
90214K        34.75     47  0.739362
90214L        29.19     51  0.572353
90214M        22.23     27  0.823333
90214N        10.02     18  0.556667
90214O         3.48     12  0.290000
90214P        11.00     28  0.392857
90214R         6.27     15  0.418000
90214S        26.00     40  0.650000
90214T         3.48     12  0.290000
90214U         3.48     12  0.290000
90214V         5.98     14  0.427143
90214W         3.48     12  0.290000
90214Y        18.65     61  0.305738
90214Z         3.48     12  0.290000

[3636 rows x 3 columns]