# Creation of Insights 

This file contains all the code required to generate bsuiness insights. The code below relies on a clean transaction dataset being loaded. The dataset is cleaned in ''.

In [1]:
#Libraries
#Dataframe and Array
import pandas as pd
import numpy as np

#Graphing/ Charting/ Visualisations
import matplotlib as plt

In [4]:
df = pd.read_csv('../data/dataframe_cleaned.csv')

In [7]:
#Revenue by Day of Week - All Countries
df_day_of_week_rev = df.groupby(['Day'])['Rev'].agg('sum')
df_day_of_week_rev.sort_values(ascending=False)#.head(10)

Day
Thursday     2084304.65
Tuesday      1968552.79
Wednesday    1742899.40
Monday       1625570.39
Friday       1573562.33
Sunday        797819.32
Name: Rev, dtype: float64

In [8]:
df.InvoiceDate.min()

'2010-12-01 08:26:00'

In [9]:
df.InvoiceDate.max()

'2011-12-09 12:50:00'

In [10]:
#Top 10 Countries
df_top_countries_stg = df.groupby(['Country'])['Rev'].agg('sum')
df_top_countries = df_top_countries_stg.sort_values(ascending=False).head(10).to_frame()
df_top_countries

                         Rev
Country
United Kingdom  8.301718e+06
Netherlands     2.834795e+05
EIRE            2.596635e+05
Germany         2.008084e+05
France          1.821634e+05
Australia       1.369900e+05
Switzerland     5.250535e+04
Spain           5.176520e+04
Belgium         3.666296e+04
Japan           3.541979e+04

In [11]:
df_top_countries = df_top_countries.reset_index()

In [12]:
top_country_rev = []
for i in df_top_countries['Country'][:3]:
    top_country_rev.append(i)
top_country_rev

['United Kingdom', 'Netherlands', 'EIRE']

In [13]:
#Top 10 Description by Revenue - All Countries
df_top_items_rev = df.groupby(['Description'])['Rev'].agg('sum')
df_top_items_rev.sort_values(ascending=False).head(10)

Description
REGENCY CAKESTAND 3 TIER              164762.19
WHITE HANGING HEART T-LIGHT HOLDER     99668.47
PARTY BUNTING                          98302.98
JUMBO BAG RED RETROSPOT                92356.03
RABBIT NIGHT LIGHT                     66756.59
PAPER CHAIN KIT 50'S CHRISTMAS         63791.94
ASSORTED COLOUR BIRD ORNAMENT          58959.73
CHILLI LIGHTS                          53768.06
SPOTTY BUNTING                         42065.32
JUMBO BAG PINK POLKADOT                41619.66
Name: Rev, dtype: float64

In [14]:
#Top 10 Description by Quantity - All Countries
df_top_items_vol = df.groupby(['Description'])['Quantity'].agg('sum')
df_top_items_vol.sort_values(ascending=False).head(10)

Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     53847
JUMBO BAG RED RETROSPOT               47363
ASSORTED COLOUR BIRD ORNAMENT         36381
POPCORN HOLDER                        36334
PACK OF 72 RETROSPOT CAKE CASES       36039
WHITE HANGING HEART T-LIGHT HOLDER    35317
RABBIT NIGHT LIGHT                    30680
MINI PAINT SET VINTAGE                26437
PACK OF 12 LONDON TISSUES             26315
PACK OF 60 PINK PAISLEY CAKE CASES    24753
Name: Quantity, dtype: int64

In [18]:



for i in top_country_rev:
    print(i.upper())
    print(df.loc[df['Country'] == i].groupby(['Description'])['Quantity'].agg('sum').sort_values(ascending=False).head(3))

UNITED KINGDOM
Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS    48326
JUMBO BAG RED RETROSPOT              43167
POPCORN HOLDER                       34365
Name: Quantity, dtype: int64
NETHERLANDS
Description
RABBIT NIGHT LIGHT      4801
SPACEBOY LUNCH BOX      4528
DOLLY GIRL LUNCH BOX    4132
Name: Quantity, dtype: int64
EIRE
Description
PACK OF 72 RETROSPOT CAKE CASES    1728
60 TEATIME FAIRY CAKE CASES        1536
VINTAGE SNAP CARDS                 1492
Name: Quantity, dtype: int64

In [24]:
#Revenue by Day of Week - All Countries
df_day_of_week_rev = df_days_week.groupby(['Weekday'])['Rev'].agg('sum')
df_day_of_week_rev.sort_values(ascending=False)#.head(10)

Weekday
Thursday     2112519.000
Tuesday      1966182.791
Wednesday    1734147.010
Monday       1588609.431
Friday       1540610.811
Sunday        805678.891
Name: Rev, dtype: float64

In [19]:
#Customers with Negative Qty
#Identify Customer/ Product mix that are negative - i.e. potential returns from outside reporting period

df_cust_neg_qty = df.groupby(['CustomerID', 'StockCode'])['Quantity'].agg('sum').to_frame()
df_cust_neg_qty.reset_index(inplace=True)
df_cust_neg_qty = df_cust_neg_qty.loc[(df_cust_neg_qty['Quantity'] <= 0)]
df_cust_neg_qty

df_new = df[~(df['StockCode'].isin(df_cust_neg_qty.StockCode) & df['CustomerID'].isin(df_cust_neg_qty.CustomerID))]

df_new.shape

(441526, 16)

In [20]:
#Stratisfying Customers based on Spend During Reporting Period

# PART 1
rev_by_cust = df_new.groupby("CustomerID")["Rev"].sum().to_frame()
rev_by_cust

rev_by_cust['quantile'] = pd.qcut(rev_by_cust['Rev'], 100, labels=False)
rev_by_cust

# Emanuele's way didnt work. 
conditions = [
    (rev_by_cust['quantile'] >= 75 ) & (rev_by_cust['quantile'] <= 95),
    (rev_by_cust['quantile'] > 95)]
choices = ['Preferred', 'VIP']
rev_by_cust['Status'] = np.select(conditions, choices, default='Regular')
print(rev_by_cust)

                Rev  quantile     Status
CustomerID
12347.0     4310.00        95  Preferred
12348.0     1437.24        78  Preferred
12349.0     1457.55        78  Preferred
12350.0      294.40        28    Regular
12352.0     1265.41        75  Preferred
12353.0       89.00         4    Regular
12354.0     1079.40        71    Regular
12355.0      459.40        44    Regular
12356.0     2487.43        89  Preferred
12357.0     6207.67        97        VIP
12358.0      928.06        66    Regular
12359.0     1446.13        78  Preferred
12360.0     2302.06        88  Preferred
12361.0      174.90        15    Regular
12362.0     1679.43        82  Preferred
12363.0      552.00        50    Regular
12364.0     1208.10        74    Regular
12365.0      320.69        32    Regular
12367.0      150.90        11    Regular
12370.0     3425.69        93  Preferred
12371.0     1527.96        80  Preferred
12372.0     1196.04        74    Regular
12373.0      324.60        32    Regular
12374.0      622.93        54    Regular
12375.0      375.42        38    Regular
12377.0     1548.12        80  Preferred
12378.0     4008.62        94  Preferred
12379.0      775.29        61    Regular
12380.0     2423.56        89  Preferred
12381.0      438.56        43    Regular
...             ...       ...        ...
18240.0      422.58        42    Regular
18241.0      475.77        45    Regular
18242.0     2232.49        87  Preferred
18245.0      719.97        59    Regular
18246.0      596.10        52    Regular
18248.0      246.14        24    Regular
18249.0       95.34         5    Regular
18250.0      342.92        34    Regular
18251.0     4314.72        95  Preferred
18252.0      526.67        48    Regular
18255.0      103.30         6    Regular
18257.0      705.40        58    Regular
18259.0     2338.60        88  Preferred
18260.0     2595.00        89  Preferred
18261.0      324.24        32    Regular
18262.0      149.48        11    Regular
18263.0     1211.08        74    Regular
18265.0      801.51        62    Regular
18269.0       20.10         0    Regular
18270.0      141.90        10    Regular
18272.0     3064.78        91  Preferred
18273.0      204.00        19    Regular
18276.0       52.68         1    Regular
18277.0       21.10         0    Regular
18278.0      173.90        15    Regular
18280.0      180.60        16    Regular
18281.0       80.82         4    Regular
18282.0      176.60        15    Regular
18283.0     2088.93        86  Preferred
18287.0     1837.28        83  Preferred

[4311 rows x 3 columns]

In [21]:
#Top Returning Customers
df_top_returners = df.groupby(['CustomerID'])['Quantity'].agg('sum').to_frame()
df_top_returners.reset_index(inplace=True)
df_top_returners = df_top_returners.loc[(df_top_returners['Quantity'] < 0)].sort_values(by='Quantity', ascending=True)
df_top_returners

      CustomerID  Quantity
3097     16546.0      -303
2572     15823.0      -282
1381     14213.0      -244
3239     16742.0      -190
2886     16252.0      -158
3643     17307.0      -144
3821     17548.0      -132
4341     18256.0       -70
262      12666.0       -56
2431     15638.0       -52
2501     15728.0       -34
1197     13958.0       -23
4252     18141.0       -12
3120     16579.0       -12
1103     13829.0       -12
1796     14777.0        -9
1001     13693.0        -6
4021     17820.0        -5
2894     16262.0        -5
1685     14627.0        -5
3820     17547.0        -4
210      12605.0        -4
413      12870.0        -2
1315     14119.0        -2
3014     16428.0        -1
2796     16138.0        -1
2739     16061.0        -1
465      12943.0        -1
3429     16995.0        -1
1724     14679.0        -1

In [22]:
#Top Invoice Values by Rev
df_top_invoices_rev = df.groupby(['InvoiceNo', 'CustomerID'])['Rev'].agg('sum').to_frame()
df_top_invoices_rev.reset_index(inplace=True)
df_top_invoices_rev = df_top_invoices_rev.sort_values(by='Rev', ascending=False)
df_top_invoices_rev

      InvoiceNo  CustomerID        Rev
18372    581483     16446.0  168469.60
1903     541431     12346.0   77183.60
7880     556444     15098.0   38970.00
12336    567423     17450.0   31698.16
8066     556917     12415.0   22775.93
14355    572209     18102.0   22206.00
12328    567381     17450.0   22104.80
10780    563614     12415.0   21880.44
5430     550461     15749.0   21535.90
14268    572035     14646.0   20277.92
10550    563076     14646.0   19150.66
10285    562439     12931.0   18841.48
1818     541220     14156.0   16774.72
3477     545475     12415.0   16726.84
7830     556255     18102.0   16488.00
563      537659     18102.0   15885.49
4517     548011     14646.0   15719.56
13297    569650     12415.0   15643.77
1686     540815     15749.0   15160.90
6399     552883     14646.0   14415.74
2831     543989     12415.0   14022.92
13269    569570     16684.0   13760.02
10073    561901     14156.0   13464.26
8698     558526     17949.0   13355.40
12161    566934     18102.0   13249.94
10777    563590     17450.0   13031.50
1653     540689     17450.0   12797.52
10438    562789     14646.0   12341.21
3062     544479     14646.0   11956.10
6690     553546     12415.0   11924.80
...         ...         ...        ...
19406   C548532     14031.0   -1170.00
18592   C538847     17404.0   -1188.00
18433   C536850     14213.0   -1192.20
18913   C542426     14146.0   -1241.43
21477   C576831     12748.0   -1301.00
20847   C567706     15769.0   -1326.00
20961   C569387     14031.0   -1416.00
18648   C539329     16013.0   -1491.00
18747   C540417     13680.0   -1520.11
21098   C570867     12607.0   -1579.51
19428   C548731     12755.0   -1591.20
20572   C564081     17949.0   -1642.50
21336   C574584     15482.0   -1652.80
21078   C570552     16029.0   -2076.00
21185   C572334     14607.0   -2199.12
21587   C578363     15482.0   -2210.64
20537   C563577     17949.0   -2231.30
21384   C575224     17511.0   -2506.00
19128   C545033     14156.0   -2548.80
20983   C569743     15769.0   -2924.00
21186   C572343     14607.0   -2949.28
20632   C564940     12931.0   -3491.02
21131   C571499     12454.0   -3528.34
20820   C567527     17450.0   -3825.36
20655   C565044     12931.0   -3969.93
20456   C562375     14911.0   -4345.10
21080   C570556     16029.0  -11816.64
19547   C550456     15749.0  -22998.40
18811   C541433     12346.0  -77183.60
21784   C581484     16446.0 -168469.60

[21788 rows x 3 columns]

In [23]:
#Top Invoice Values by Qty
df_top_invoices_qty = df.groupby(['InvoiceNo', 'CustomerID'])['Quantity'].agg('sum').to_frame()
df_top_invoices_qty.reset_index(inplace=True)
df_top_invoices_qty = df_top_invoices_qty.sort_values(by='Quantity', ascending=False)
df_top_invoices_qty

      InvoiceNo  CustomerID  Quantity
18372    581483     16446.0     80995
1903     541431     12346.0     74215
8066     556917     12415.0     15049
10550    563076     14646.0     14730
14268    572035     14646.0     13392
12336    567423     17450.0     12572
17233    578841     13256.0     12540
6399     552883     14646.0     12266
10780    563614     12415.0     12196
10285    562439     12931.0     11848
4517     548011     14646.0     11116
3477     545475     12415.0     10272
7838     556267     13694.0      9811
5430     550461     15749.0      9014
8606     558262     14646.0      8998
2831     543989     12415.0      8384
6690     553546     12415.0      8268
1809     541206     14646.0      8210
3062     544479     14646.0      8174
12021    566595     18251.0      7824
10438    562789     14646.0      7807
18232    581175     14646.0      7366
1686     540815     15749.0      7044
13269    569570     16684.0      7020
12270    567280     14646.0      6932
13297    569650     12415.0      6895
12328    567381     17450.0      6760
15748    575508     14646.0      6712
1357     539731     14646.0      6668
5400     550344     12754.0      6432
...         ...         ...       ...
18747   C540417     13680.0      -669
19128   C545033     14156.0      -672
18880   C542138     17368.0      -711
20079   C557508     16684.0      -720
20938   C568879     14680.0      -739
20820   C567527     17450.0      -756
21336   C574584     15482.0      -786
18648   C539329     16013.0      -800
18420   C536812     16546.0      -852
21587   C578363     15482.0      -948
19694   C552568     12901.0      -960
21131   C571499     12454.0     -1006
21477   C576831     12748.0     -1082
20655   C565044     12931.0     -1161
21078   C570552     16029.0     -1164
20974   C569552     14533.0     -1200
21098   C570867     12607.0     -1228
21384   C575224     17511.0     -1400
21185   C572334     14607.0     -1416
20004   C556522     16938.0     -1515
20983   C569743     15769.0     -1600
20537   C563577     17949.0     -2105
20456   C562375     14911.0     -2270
21186   C572343     14607.0     -2344
20632   C564940     12931.0     -2518
21080   C570556     16029.0     -6480
19547   C550456     15749.0     -9014
18416   C536757     15838.0     -9360
18811   C541433     12346.0    -74215
21784   C581484     16446.0    -80995

[21788 rows x 3 columns]

In [24]:
#Top Customer by Rev
df_top_customer_rev = df.groupby(['CustomerID'])['Rev'].agg('sum').to_frame()
df_top_customer_rev.reset_index(inplace=True)
df_top_customer_rev = df_top_customer_rev.sort_values(by='Rev', ascending=False)
df_top_customer_rev['CustomerID'] = df_top_customer_rev['CustomerID'].astype(int)
df_top_customer_rev

      CustomerID        Rev
1700       14646  278778.02
4224       18102  259657.30
3750       17450  189735.53
1892       14911  128882.13
55         12415  123638.18
1342       14156  113855.32
3793       17511   88138.20
3196       16684   65920.12
1002       13694   62924.10
2189       15311   59419.34
2716       16029   58193.85
566        13089   57385.88
1996       15061   54250.34
1297       14096   53258.43
4116       17949   53215.74
2532       15769   51823.72
1444       14298   50862.44
1292       14088   50415.49
4034       17841   40333.22
2024       15098   39619.50
1075       13798   36351.42
3008       16422   34311.00
456        12931   33544.81
2702       16013   33453.45
2584       15838   33362.28
3705       17389   31317.48
328        12748   30486.53
3715       17404   30175.82
574        13098   28658.88
562        13081   27972.08
...          ...        ...
3429       16995      -1.25
1724       14679      -2.55
3014       16428      -2.95
465        12943      -3.75
210        12605      -7.50
2796       16138      -7.95
3820       17547     -11.80
413        12870     -14.90
1796       14777     -17.45
1315       14119     -19.90
1685       14627     -21.85
4021       17820     -24.05
2739       16061     -29.95
3120       16579     -30.60
2894       16262     -31.65
1001       13693     -32.00
4252       18141     -35.40
4341       18256     -50.10
2431       15638     -94.00
3097       16546     -95.93
1103       13829    -102.00
1197       13958    -102.45
2501       15728    -134.80
3821       17548    -141.48
3643       17307    -152.64
262        12666    -227.44
2886       16252    -295.09
3239       16742    -464.90
2572       15823    -811.86
1381       14213   -1192.20

[4363 rows x 2 columns]

In [36]:
#Find descriptions with negative works like 'damaged' 'fees' 'mouldy', 'faulty', 'wet', 'lost', 'missing','wrong', 'broke'

In [45]:
#df_new['CustomerID'].isna().sum()

In [46]:
#df_new.dropna(subset=['CustomerID'],inplace=True)

In [50]:
#df_new.to_csv('../data/cleaned_df2.csv')