# Recommender System | Revenue Potential 

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
##Libraries
#Dataframe & Arrays
import pandas as pd
import numpy as np

#SCiPy for Cluster Distance Analysis
from scipy.spatial.distance import pdist, squareform

In [2]:
#df = pd.read_excel('../data/online_fashion.xlsx')

In [3]:
df = pd.read_csv('../data/cleaned_df2.csv')

In [4]:
df['CustomerID'].isna().sum()

0

In [5]:
df['CustomerID'] = df['CustomerID'].astype(int)

In [6]:
df.shape

(298407, 11)

In [7]:
##Just weighted average price

In [8]:
#data.rename(columns={'Description':'ProductName'}, inplace=True)

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [9]:
df_cust_prod_grouped = pd.DataFrame(df.groupby(['CustomerID', 'StockCode'])['Quantity'].agg('sum'))
df_cust_prod_grouped.head()

                      Quantity
CustomerID StockCode
12347      16008            24
           17021            36
           20665             6
           20719            40
           20780            12

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [10]:
df_cust_matrix = df_cust_prod_grouped.pivot_table('Quantity', 'StockCode', 'CustomerID', aggfunc='sum', fill_value = 0)
df_cust_matrix.head()

CustomerID,12347,12348,12349,12350,12352,12353,12354,12355,12356,12357,...,18272,18273,18276,18277,18278,18280,18281,18282,18283,18287
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10080,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10123C,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10124A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [11]:
# I need to transpose the matrix, otherwise I get the distance for products, not customers.
# First applying pdist, gives an 1D array.
# Then applying squareform to turn it into a squareform
# Finally convert it into a DataFrame

df_distance_matrix = pd.DataFrame(squareform(pdist(df_cust_matrix.T, metric='euclidean')), index=df_cust_matrix.columns, columns=df_cust_matrix.columns)
df_distance_matrix.head()

CustomerID,12347,12348,12349,12350,12352,12353,12354,12355,12356,12357,...,18272,18273,18276,18277,18278,18280,18281,18282,18283,18287
CustomerID,,,,,,,,,,,,,,,,,,,,,
12347,0.000000,635.655567,401.766101,394.970885,394.313327,392.573560,401.880579,347.997126,447.187880,490.658741,...,474.527133,400.492197,378.457395,392.593938,392.802749,392.149206,393.146283,394.717621,405.086411,451.182890
12348,635.655567,0.000000,569.817515,564.191457,563.220206,562.003559,569.092260,540.118506,574.054875,637.457450,...,617.243874,567.563212,559.489053,562.017793,562.419772,562.105862,562.403770,563.897154,554.340148,595.815408
12349,401.766101,569.817515,0.000000,106.113147,102.239914,95.310020,134.773885,150.943698,300.444670,306.065352,...,274.779912,123.951603,98.590060,95.393920,97.365292,95.911417,97.642204,105.280578,158.874164,283.591255
12350,394.970885,564.191457,106.113147,0.000000,63.820060,52.000000,108.967885,128.093716,304.018092,301.502902,...,271.834508,94.783965,57.792733,52.153619,56.320511,53.094256,56.160484,69.541355,142.313035,274.218891
12352,394.313327,563.220206,102.239914,63.820060,0.000000,40.112342,103.474635,123.745707,301.734983,303.501236,...,270.279485,88.820043,47.381431,40.311289,45.574115,41.521079,45.376205,61.163715,139.168962,272.214989

In [12]:
# The distances I have doesn't tell me much. I will normalize to a value between 0 and 1,
# and inverse them: The closer to 1, the more similar they are

df_distance_matrix_norm = pd.DataFrame(1/(1 + df_distance_matrix))
df_distance_matrix_norm.head()

CustomerID,12347,12348,12349,12350,12352,12353,12354,12355,12356,12357,...,18272,18273,18276,18277,18278,18280,18281,18282,18283,18287
CustomerID,,,,,,,,,,,,,,,,,,,,,
12347,1.000000,0.001571,0.002483,0.002525,0.002530,0.002541,0.002482,0.002865,0.002231,0.002034,...,0.002103,0.002491,0.002635,0.002541,0.002539,0.002544,0.002537,0.002527,0.002463,0.002211
12348,0.001571,1.000000,0.001752,0.001769,0.001772,0.001776,0.001754,0.001848,0.001739,0.001566,...,0.001617,0.001759,0.001784,0.001776,0.001775,0.001776,0.001775,0.001770,0.001801,0.001676
12349,0.002483,0.001752,1.000000,0.009336,0.009686,0.010383,0.007365,0.006581,0.003317,0.003257,...,0.003626,0.008003,0.010041,0.010374,0.010166,0.010319,0.010138,0.009409,0.006255,0.003514
12350,0.002525,0.001769,0.009336,1.000000,0.015427,0.018868,0.009094,0.007746,0.003278,0.003306,...,0.003665,0.010440,0.017009,0.018813,0.017446,0.018486,0.017495,0.014176,0.006978,0.003633
12352,0.002530,0.001772,0.009686,0.015427,1.000000,0.024324,0.009572,0.008016,0.003303,0.003284,...,0.003686,0.011133,0.020669,0.024206,0.021471,0.023518,0.021563,0.016087,0.007134,0.003660

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [13]:
#select a random customer_id from unique customer IDs in 'df'
# this will help you find the best customer: df_distance_matrix_norm.columns.unique()   random
df_top5_recs_spec_customer = df_distance_matrix_norm[12350].sort_values(ascending = False).head(6)
df_top5_recs_spec_customer

CustomerID
12350    1.000000
15180    0.020469
15422    0.020460
15435    0.019740
16484    0.019289
17956    0.019289
Name: 12350, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [14]:
# I select index from 1 because I don't want to get the first input, 
# as it is the customer itself

df_sample_similar_cust_recomms = df_cust_prod_grouped.loc[(df_top5_recs_spec_customer.index[1:],)]
df_sample_similar_cust_recomms.head()

                      Quantity
CustomerID StockCode
15180      22112             3
           22113             4
           22114             4
           22348            12
           22835             4

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [15]:
df_agg_similar_prod_ranked = df_sample_similar_cust_recomms.groupby('StockCode')[['Quantity']].sum()\
                .sort_values(by = 'Quantity', ascending = False)
df_agg_similar_prod_ranked.head()

           Quantity
StockCode
22348            28
72741             9
21531             8
21218             7
21844             6

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [16]:
df_product_recomms = pd.concat([df_agg_similar_prod_ranked, df_cust_matrix[12350]], axis=1, sort=False)
df_product_recomms.rename(columns = {12350:'test_customer'}, inplace = True)
df_product_recomms

        Quantity  test_customer
22348       28.0             24
72741        9.0              0
21531        8.0              0
21218        7.0              0
21844        6.0              0
22417        6.0              0
22964        4.0              0
22835        4.0              0
22113        4.0              0
22114        4.0              0
22199        4.0              0
22203        4.0              0
21212        3.0              0
22112        3.0              0
22667        2.0              0
22367        2.0              0
22629        2.0              0
22476        2.0              0
23392        2.0              0
21035        2.0              0
79066K       2.0             10
21154        2.0              0
22115        2.0              0
21156        2.0              0
22072        2.0              0
21042        1.0              0
21533        1.0              0
48138        1.0              0
23554        1.0              0
23073        1.0              0
...          ...            ...
90210C       NaN              0
90210D       NaN              0
90211A       NaN              0
90211B       NaN              0
90212B       NaN              0
90212C       NaN              0
90214A       NaN              0
90214B       NaN              0
90214C       NaN              0
90214D       NaN              0
90214E       NaN              0
90214F       NaN              0
90214G       NaN              0
90214H       NaN              0
90214I       NaN              0
90214J       NaN              0
90214K       NaN              0
90214L       NaN              0
90214M       NaN              0
90214N       NaN              0
90214O       NaN              0
90214P       NaN              0
90214R       NaN              0
90214S       NaN              0
90214T       NaN              0
90214U       NaN              0
90214V       NaN              0
90214W       NaN              0
90214Y       NaN              0
90214Z       NaN              0

[3636 rows x 2 columns]

In [17]:
df_top5_recomm = df_product_recomms.query('Quantity > 0 and test_customer == 0').head(5)
df_top5_recomm

       Quantity  test_customer
72741       9.0              0
21531       8.0              0
21218       7.0              0
21844       6.0              0
22417       6.0              0

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [18]:
dict_recommendations = {}
unique_ID = df_distance_matrix_norm.columns.unique()

In [33]:
#df['CustomerID'].unique()

In [19]:
for customer in unique_ID:
    head = df_distance_matrix_norm[customer].sort_values(ascending = False).head(6)
    df_sample_similar_cust_recomms = df_cust_prod_grouped.loc[(head.index[1:],)]
    df_agg_similar_prod_ranked = df_sample_similar_cust_recomms.groupby('StockCode')[['Quantity']].sum()\
                .sort_values(by = 'Quantity', ascending = False)
    df_product_recomms = pd.concat([df_agg_similar_prod_ranked, df_cust_matrix[customer]], axis=1, sort=False)
    df_product_recomms.rename(columns = {customer:'customer'}, inplace = True)
    dict_recommendations[customer] = list(df_product_recomms.query('Quantity > 0 and customer == 0').head(5).index)

In [20]:
dict_recommendations

{12347: ['23077', '22418', '22614', '22029', '84375'],
 12348: ['15056N', '22693', '21829', '22384', '20727'],
 12349: ['85194S', '22265', '22851', '22322', '72741'],
 12350: ['72741', '21531', '21218', '21844', '22417'],
 12352: ['22915', '21733', '23321', '23322', '22469'],
 12353: ['22485', '22802', '22803', '22982', '23073'],
 12354: ['20979', '21245', '20674', '22993', '22962'],
 12355: ['71477', '21167', '21381', '21380', '20829'],
 12356: ['16161P', '21210', '22961', '22952', '22986'],
 12357: ['72351B', '85034B', '21108', '72349B', '72225C'],
 12358: ['16008', '85015', '84946', '15044D', '85048'],
 12359: ['16156S', '23170', '22915', '84947', '22921'],
 12360: ['22631', '22993', '22962', '22966', '22659'],
 12361: ['20979', '23371', '22352', '22138', '22617'],
 12362: ['79190B', '85040A', '84569D', '82552', '22973'],
 12363: ['22961', '22909', '21975', '21880', '47591D'],
 12364: ['23077', '23080', '21231', '23076', '21232'],
 12365: ['22485', '22802', '22803', '22982', '23073'],
 12367: ['22329', '15058A', '22491', '23073', '22982'],
 12370: ['22951', '22066', '21985', '85078', '22265'],
 12371: ['23284', '22112', '22481', '10133', '23293'],
 12372: ['22492', '22099', '21981', '21986', '21212'],
 12373: ['20978', '20979', '23282', '22621', '22386'],
 12374: ['16216', '84946', '22307', '21147', '85203'],
 12375: ['23199', '85099F', '85099B', '22386', '23165'],
 12377: ['22492', '16161U', '22045', '21121', '21212'],
 12378: ['22741', '22066', '22951', '84212', '84596B'],
 12379: ['84799', '23172', '23171', '21980', '21985'],
 12380: ['22418', '23445', '85099C', '21695', '22629'],
 12381: ['22485', '22802', '22803', '23073', '46775D'],
 12383: ['21790', '84946', '16161U', '23230', '22045'],
 12384: ['21429', '21669', '23531', '23525', '23200'],
 12386: ['22675', '22595', '22645', '22646', '22670'],
 12388: ['85188A', '22219', '85186A', '85049E', '23307'],
 12390: ['22530', '16218', '17003', '22554', '22984'],
 12391: ['84596F', '21670', '82494L', '82482', '21671'],
 12393: ['23206', '22355', '22630', '22417', '22629'],
 12394: ['23294', '23297', '84991', '22893', '21975'],
 12395: ['23308', '22999', '22982', '21212', '21975'],
 12397: ['22555', '21790', '23271', '22966', '22813'],
 12398: ['84991', '22993', '85123A', '22938', '21232'],
 12399: ['21977', '21215', '22610', '20977', '20979'],
 12401: ['22221', '22485', '22982', '23073', '84629'],
 12402: ['82486', '22433', '82483', '90098', '23319'],
 12403: ['22975', '84997B', '20828', '22383', '23256'],
 12405: ['21212', '21788', '21240', '21239', '21789'],
 12406: ['22720', '22722', '47591D', '84536B', '84997D'],
 12407: ['22969', '20829', '21499', '23078', '84375'],
 12408: ['22382', '20726', '22555', '22631', '21731'],
 12409: ['20718', '21213', '84992', '21669', '21975'],
 12410: ['82580', '21907', '22853', '22798', '21415'],
 12412: ['22610', '22561', '23376', '23365', '21889'],
 12413: ['22386', '22385', '22969', '21929', '21928'],
 12414: ['21497', '21967', '21982', '20727', '15036'],
 12415: ['22996', '22437', '23005', '22713', '22705'],
 12417: ['16169E', '16161P', '23301', '84946', '23240'],
 12418: ['21889', '21786', '22561', '17021', '22077'],
 12420: ['21809', '22161', '22578', '22579', '22342'],
 12421: ['22645', '22644', '22915', '22650', '22021'],
 12422: ['23329', '23322', '85123A', '23154', '22617'],
 12423: ['22161', '22355', '23240', '22973', '22908'],
 12424: ['85123A', '22521', '22804', '21169', '22988'],
 12425: ['22969', '20829', '84755', '84050', '23176'],
 12426: ['22630', '22421', '20725', '20726', '22382'],
 12427: ['22197', '84945', '23201', '22639', '84279B'],
 12428: ['21318', '20803', '23307', '22907', '21400'],
 12429: ['23307', '21110', '23212', '23213', '22551'],
 12430: ['22485', '22802', '22803', '22982', '23073'],
 12431: ['22982', '22759', '22639', '22431', '22196'],
 12432: ['21786', '46000S', '22457', '22734', '84755'],
 12433: ['20725', '84755', '71459', '22383', '22384'],
 12434: ['22300', '22301', '23287', '23293', '22823'],
 12435: ['21889', '16218', '22615', '84077', '23310'],
 12436: ['21094', '21086', '21034', '23090', '22090'],
 12437: ['22907', '21746', '22489', '21916', '21977'],
 12438: ['22561', '22540', '21790', '21977', '23076'],
 12441: ['47566', '22222', '22485', '22726', '22776'],
 12442: ['22558', '22268', '22286', '22287', '71459'],
 12444: ['21668', '23035', '22180', '22224', '22774'],
 12445: ['72349B', '22154', '23103', '23321', '20828'],
 12446: ['22354', '22147', '20726', '22150', '22149'],
 12447: ['23194', '15044D', '21718', '23193', '22329'],
 12448: ['22907', '22417', '22348', '22964', '47566'],
 12449: ['22659', '22384', '20978', '22791', '84836'],
 12450: ['23084', '22028', '23282', '22716', '22699'],
 12451: ['16235', '22631', '47421', '22549', '22176'],
 12452: ['21213', '22565', '21989', '23241', '23058'],
 12453: ['23231', '22704', '22151', '23432', '22595'],
 12455: ['21390', '22294', '23269', '23217', '22219'],
 12456: ['23367', '21509', '21403', '21830', '22489'],
 12457: ['21936', '23310', '21928', '21933', '23437'],
 12458: ['21830', '22609', '23078', '71459', '21634'],
 12461: ['48138', '48188', '22570', '22568', '21955'],
 12462: ['85230A', '22851', '72800E', '21126', '23269'],
 12463: ['22907', '85176', '22565', '21213', '21356'],
 12464: ['21845', '22730', '22728', '22725', '22084'],
 12465: ['21213', '21080', '84799', '20750', '21980'],
 12468: ['22530', '16218', '17003', '22555', '84375'],
 12471: ['22740', '85061W', '20992', '35954', '21986'],
 12472: ['23310', '16169E', '20973', '22999', '23241'],
 12473: ['16156S', '22969', '21390', '21175', '22469'],
 12474: ['23310', '16011', '20984', '35911A', '22163'],
 12475: ['16011', '20984', '35911A', '22489', '22163'],
 12476: ['22716', '22306', '21506', '22028', '22816'],
 12477: ['22072', '35810A', '21843', '22423', '22699'],
 12478: ['23371', '20979', '22629', '22352', '20726'],
 12479: ['22319', '23681', '21889', '21790', '21080'],
 12480: ['22631', '21718', '22860', '22559', '21716'],
 12481: ['23298', '16169E', '22051', '22489', '22960'],
 12483: ['23280', '23256', '23365', '21791', '22992'],
 12484: ['22185', '16169M', '21497', '21495', '21503'],
 12488: ['23082', '84347', '23170', '22178', '20932'],
 12489: ['21658', '22934', '84987', '84629', '84378'],
 12490: ['22740', '23076', '22597', '22598', '23480'],
 12491: ['22492', '84347', '16169E', '22711', '84992'],
 12492: ['23323', '21677', '22419', '22677', '22195'],
 12493: ['22485', '22802', '22803', '22982', '23073'],
 12494: ['21992', '22287', '22286', '22268', '84755'],
 12497: ['23546', '21506', '84879', '79000', '22609'],
 12498: ['22382', '23282', '23209', '23208', '22383'],
 12500: ['23269', '84347', '23194', '22311', '23268'],
 12501: ['21499', '23027', '21680', '21945', '21942'],
 12502: ['85123A', '23300', '22617', '23188', '22969'],
 12506: ['22485', '22802', '22803', '22982', '23073'],
 12507: ['84991', '22944', '22952', '21977', '21975'],
 12508: ['84818', '23322', '22457', '22844', '85048'],
 12509: ['22457', '21381', '22499', '21411', '21770'],
 12510: ['22197', '47570B', '23539', '82001S', '79160'],
 12512: ['22485', '22802', '22803', '22982', '23073'],
 12513: ['23271', '23352', '23274', '23192', '82583'],
 12514: ['22631', '22326', '22328', '22555', '21914'],
 12515: ['22556', '22993', '22737', '23040', '22739'],
 12516: ['21931', '21928', '22355', '22383', '23201'],
 12517: ['20724', '21559', '21043', '22659', '22631'],
 12518: ['20979', '20977', '22966', '21891', '20719'],
 12519: ['22417', '22964', '22348', '22072', '23392'],
 12520: ['75049L', '51014C', '21356', '82552', '22533'],
 12521: ['22431', '21928', '23200', '22385', '85099B'],
 12522: ['23310', '16011', '20984', '35911A', '23249'],
 12523: ['21398', '16169E', '23545', '23232', '21916'],
 12524: ['84836', '35970', '23381', '23380', '23378'],
 12526: ['20978', '22555', '22746', '22745', '22748'],
 12527: ['22993', '85039B', '85039A', '84988', '22982'],
 12528: ['21231', '21880', '22898', '21210', '22907'],
 12530: ['23327', '23310', '85188A', '23295', '23307'],
 12531: ['22485', '22802', '22803', '22982', '23073'],
 12532: ['22158', '23360', '23067', '20750', '21217'],
 12534: ['22704', '21967', '21945', '22631', '23432'],
 12535: ['85017B', '22980', '22791', '22469', '22113'],
 12536: ['15036', '22565', '47503A', '23352', '23351'],
 12538: ['22834', '21677', '21944', '20973', '22195'],
 12539: ['23182', '21907', '22855', '21326', '22672'],
 12540: ['16161P', '22709', '22710', '22040', '21500'],
 12541: ['22046', '21498', '16161G', '22709', '22959'],
 12544: ['23238', '22488', '22469', '22147', '22178'],
 12545: ['84692', '21210', '22151', '21108', '84380'],
 12546: ['85203', '22066', '21809', '22161', '21390'],
 12547: ['22437', '22319', '22341', '84879', '22423'],
 12548: ['21658', '22934', '84987', '84629', '84378'],
 12550: ['22268', '22319', '22287', '22286', '23431'],
 12551: ['22174', '21733', '37475', '23301', '23300'],
 12552: ['21136', '22178', '22469', '22488', '22457'],
 12553: ['85099B', '22356', '22386', '20978', '20979'],
 12556: ['21730', '22028', '84946', '23274', '22158'],
 12557: ['20726', '23209', '22382', '20972', '20971'],
 12559: ['22287', '22286', '22268', '22110', '23123'],
 12560: ['84799', '22285', '23360', '21980', '21985'],
 12561: ['21945', '23432', '21967', '21942', '22595'],
 12562: ['22910', '21481', '23177', '22109', '22697'],
 12564: ['22382', '21915', '21914', '22555', '20725'],
 12565: ['22766', '85032D', '21992', '84970S', '22464'],
 12566: ['23271', '22565', '23170', '22924', '21213'],
 12567: ['22710', '23077', '22988', '23311', '22493'],
 12569: ['16156S', '21716', '21715', '20750', '23545'],
 12571: ['21975', '22555', '22966', '22556', '22816'],
 12572: ['22441', '22488', '84947', '23190', '22421'],
 12573: ['22485', '22802', '22803', '22982', '23073'],
 12574: ['84947', '23029', '23570', '23392', '22773'],
 12576: ['23166', '22979', '22561', '23165', '23167'],
 12577: ['22485', '22802', '22803', '22982', '23073'],
 12578: ['22559', '21239', '21243', '20677', '22197'],
 12579: ['22485', '22802', '22803', '22982', '23073'],
 12580: ['21069', '47590A', '21731', '22274', '90184C'],
 12581: ['22077', '22469', '23469', '23479', '23456'],
 12582: ['22962', '22993', '22386', '23286', '21245'],
 12583: ['22609', '22197', '16235', '16237', '21829'],
 12584: ['22485', '22802', '22803', '22982', '23073'],
 12585: ['21326', '71459', '21984', '22460', '21983'],
 12586: ['22485', '22802', '22803', '22982', '23073'],
 12587: ['85099B', '23199', '20749', '21115', '21624'],
 12588: ['22485', '23073', '84629'],
 12589: ['22558', '22915', '22650', '21993', '20724'],
 12590: ['15034', '15039', '21112', '21231', '21232'],
 12591: ['21210', '21211', '84380', '21679', '22960'],
 12592: ['20728', '22630', '20725', '21731', '22662'],
 12593: ['22631', '23207', '22329', '22555', '22328'],
 12594: ['22382', '20723', '21731', '22629', '22661'],
 12596: ['22818', '23232', '21584', '23215', '20801'],
 12597: ['21499', '84926A', '21642', '22599', '23204'],
 12598: ['23205', '22355', '22356', '23310', '23344'],
 12599: ['22492', '21213', '22610', '22045', '16161U'],
 12600: ['15056N', '22059', '22646', '15056P', '16008'],
 12601: ['22084', '22993', '23048', '21907', '22138'],
 12602: ['22485', '22802', '22803', '22982', '23073'],
 12603: ['22697', '22699', '22907', '23089', '23161'],
 12604: ['21975', '22417', '20724', '21043', '21080'],
 12609: ['21212', '21240', '21239', '21243', '21238'],
 12610: ['23333', '16161U', '21495', '21500', '21882'],
 12611: ['22616', '23500', '20975', '84077', '22536'],
 12612: ['15036', '22969', '21634', '37342', '22023'],
 12613: ['22319', '22431', '21989', '21967', '23681'],
 12614: ['22485', '22802', '22803', '22982', '23073'],
 12615: ['22791', '17003', '22610', '22608', '16046'],
 12616: ['22553', '22969', '22915', '22631', '21790'],
 12617: ['22222', '22355', '23238', '23240', '15060B'],
 12618: ['21967', '21942', '21945', '84692', '23392'],
 12619: ['23296', '23293', '23297', '23294', '21213'],
 12620: ['21395', '21212', '21238', '21239', '21240'],
 12621: ['85123A', '84212', '20828', '23378', '22816'],
 12622: ['23166', '22694', '71053', '22488', '23169'],
 12623: ['23323', '21069', '21226', '22078', '47590A'],
 12624: ['22437', '23371', '22749', '22751', '22197'],
 12625: ['22693', '23308', '22621', '22629', '22982'],
 12626: ['23211', '23293', '23294', '23295', '22561'],
 12627: ['16054', '16218', '16011', '22610', '22609'],
 12628: ['22969', '23076', '21014', '20829', '23334'],
 12630: ['21786', '21791', '22549', '22661', '47559B'],
 12631: ['22361', '22417', '22348', '84879', '21136'],
 12633: ['21386', '21986', '20982', '82613D', '20677'],
 12635: ['23310', '16011', '35911A', '22489', '22163'],
 12637: ['22534', '22540', '22951', '21976', '21212'],
 12638: ['21786', '71459', '22716', '21791', '22549'],
 12639: ['85123A', '23167', '22938', '23154', '22978'],
 12640: ['21071', '21844', '21218', '21467', '23285'],
 12641: ['22993', '22739', '22737', '85032D', '22960'],
 12642: ['22738', '23438', '23437', '22079', '23253'],
 12643: ['84991', '22952', '21977', '21749', '84992'],
 12644: ['85017B', '22622', '21912', '21155', '23166'],
 12645: ['85198', '22621', '85200', '22356', '22355'],
 12646: ['22646', '22952', '22269', '22571', '22266'],
 12647: ['16238', '21086', '22489', '21504', '21213'],
 12648: ['22727', '22726', '22729', '21544', '22725'],
 12649: ['22820', '85040A', '22817', '84569D', '23551'],
 12650: ['21982', '20659', '20828', '22450', '22834'],
 12651: ['22485', '22802', '22803', '22982', '23073'],
 12652: ['22645', '22646', '22488', '23323', '84946'],
 12653: ['22697', '23175', '23161', '23089', '22555'],
 12654: ['84879', '22139', '22158', '21069', '47590A'],
 12656: ['20728', '21933', '21932', '22386', '20719'],
 12657: ['84077', '22097', '23350', '22711', '16169E'],
 12658: ['22621', '22910', '22907', '23512', '23511'],
 12659: ['22577', '23076', '21824', '22340', '22304'],
 12660: ['22530', '16218', '17003', '21790', '20992'],
 12662: ['84755', '84692', '22908', '79190B', '22378'],
 12664: ['20972', '20971', '85099B', '21086', '21080'],
 12665: ['22055', '21360', '22659', '22064', '72741'],
 12667: ['21175', '35970', '23075', '22791', '22197'],
 12668: ['21883', '21918', '23308', '21790', '21356'],
 12669: ['22268', '22286', '22287', '22110', '23084'],
 12670: ['23280', '22492', '21212', '21084', '85015'],
 12672: ['21733', '23298', '22469', '82482', '72819'],
 12673: ['23377', '22439', '23323', '85071D', '21992'],
 12674: ['23077', '22046', '21124', '21122', '21121'],
 12676: ['21967', '21945', '22584', '21942', '23432'],
 12678: ['21731', '22467', '22027', '21121', '22976'],
 12679: ['22329', '15058A', '23073', '22982', '22802'],
 12680: ['22382', '22328', '22329', '22553', '22620'],
 12681: ['20726', '22740', '20712', '22704', '22598'],
 12682: ['22865', '21481', '85123A', '22632', '79321'],
 12683: ['21213', '23332', '22594', '21679', '21497'],
 12684: ['22544', '16045', '22178', '22547', '23310'],
 12685: ['23545', '23233', '23096', '22563', '23294'],
 12686: ['22485', '22802', '22803', '22982', '23073'],
 12688: ['20726', '22382', '22356', '23206', '72351B'],
 12689: ['22969', '84535B', '23170', '22699', '21695'],
 12690: ['22697', '22423', '21086', '23172', '22090'],
 12691: ['23084', '21672', '21670', '20726', '23365'],
 12693: ['22084', '21586', '21878', '22993', '22457'],
 12694: ['22530', '16218', '22554', '17003', '22556'],
 12695: ['22596', '21086', '21094', '22111', '20914'],
 12697: ['22340', '22577', '21824', '85015', '23076'],
 12700: ['20712', '23271', '22385', '20728', '23346'],
 12701: ['16169E', '23078', '22951', '21213', '84991'],
 12702: ['23300', '22982', '23073', '84629'],
 12703: ['22694', '23166', '71053', '22488', '23169'],
 12704: ['22492', '23280', '85015', '21402', '22537'],
 12705: ['23480', '22436', '23310', '22386', '22382'],
 12707: ['37327', '21679', '21677', '21372', '22766'],
 12708: ['21212', '22558', '22771', '21731', '22693'],
 12709: ['21080', '21746', '22544', '22957', '20975'],
 12710: ['21088', '21976', '21156', '22383', '23370'],
 12712: ['85015', '23166', '22979', '16008', '22993'],
 12713: ['84832', '23176', '23167', '23321', '23455'],
 12714: ['16156S', '21390', '21212', '23199', '21175'],
 12715: ['22286', '22268', '22287', '23200', '85099F'],
 12716: ['84879', '15036', '23351', '22816', '22818'],
 12717: ['82578', '22469', '82580', '15036', '17021'],
 12718: ['22907', '20975', '22197', '22439', '16216'],
 12719: ['21889', '22271', '23242', '21918', '23569'],
 12720: ['84991', '21976', '21975', '47593B', '22951'],
 12721: ['23121', '16161P', '22489', '21790', '23307'],
 12722: ['85183B', '20724', '22210', '84596F', '84596B'],
 12723: ['84879', '22902', '22148', '22555', '22557'],
 12724: ['22328', '22329', '22555', '22384', '23207'],
 12725: ['22698', '35970', '23320', '23056', '21770'],
 12726: ['21746', '22556', '21976', '22417', '21975'],
 12727: ['22418', '22610', '85071C', '20668', '20971'],
 12728: ['22469', '22969', '23439', '23103', '23377'],
 12729: ['20978', '23483', '22621', '23371', '23323'],
 12731: ['23212', '23211', '21811', '35954', '23227'],
 12732: ['20978', '22621', '20719', '20724', '23371'],
 12733: ['22927', '22617', '22138', '22925', '22928'],
 12734: ['10135', '84766', '22646', '20718', '22355'],
 12735: ['21213', '47566', '21733', '22417', '22348'],
 12736: ['23230', '16169E', '21498', '20975', '21975'],
 12738: ['22993', '22739', '22737', '20751', '22851'],
 12739: ['85175', '22555', '22908', '22094', '22556'],
 12740: ['21975', '21088', '23370', '21558', '21985'],
 12743: ['21985', '21135', '22300', '22988', '22831'],
 12744: ['23310', '22566', '21985', '21592', '21789'],
 12747: ['82483', '82583', '22294', '23210', '21181'],
 12748: ['21883', '22390', '22422', '22043', '84077'],
 12749: ['22986', '16156S', '22045', '22987', '22706'],
 12750: ['22485', '22802', '22803', '22982', '23073'],
 12752: ['22492', '21213', '22610', '21498', '21967'],
 12753: ['22355', '22992', '23309', '23369', '22154'],
 12754: ['23251', '16045', '22993', '22544', '22547'],
 12756: ['21592', '23355', '22113', '84755', '23419'],
 12757: ['22469', '23199', '23204', '21930', '21135'],
 12758: ['20727', '85099F', '21930', '20719', '22489'],
 12759: ['16161U', '22555', '21212', '22544', '22540'],
 12762: ['85227', '21700', '22998', '23271', '21915'],
 12763: ['84987', '84692', '84992', '22949', '22951'],
 12764: ['82583', '22697', '22699', '21745', '22138'],
 12766: ['20974', '21833', '22906', '22335', '21975'],
 12769: ['82484', '23245', '22960', '22720', '22784'],
 12770: ['22381', '22380', '21980', '84991', '84836'],
 12772: ['22704', '84991', '22595', '21967', '21945'],
 12775: ['85204', '22300', '22301', '23483', '22984'],
 12778: ['21830', '22609', '23078', '71459', '21634'],
 12779: ['15056BL', '15056N', '20679', '15056P', '21918'],
 12781: ['23360', '23300', '85049G', '22077', '23340'],
 12782: ['22988', '23500', '22558', '84799', '21983'],
 12783: ['85152', '85107', '23090', '90175A', '22297'],
 12784: ['22084', '22993', '21586', '21878', '22457'],
 12785: ['22195', '22384', '22131', '82486', '22433'],
 12787: ['22364', '84945', '22816', '22197', '21328'],
 12789: ['22485', '22982', '23073', '84629'],
 12790: ['22423', '85053', '21467', '22720', '21086'],
 12791: ['22865', '22866', '21916', '22699', '22698'],
 12792: ['37446', '22971', '22970', '85032D', '21992'],
 12793: ['23344', '47504K', '22382', '20727', '84997B'],
 12794: ['21231', '84755', '22644', '23225', '85061W'],
 12795: ['22221', '21429', '22690', '23531', '23525'],
 12797: ['22485', '22802', '22803', '22982', '23073'],
 12798: ['23203', '22386', '22556', '21731', '22554'],
 12802: ['23021', '23041', '23044', '22485', '22982'],
 12808: ['22354', '22147', '21891', '21890', '22384'],
 12809: ['22361', '21913', '85066', '22982', '23073'],
 12811: ['22530', '16218', '17003', '22555', '22554'],
 12812: ['21658', '22960', '84987', '84629', '84378'],
 12814: ['23082', '21136', '84347', '23170', '21731'],

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [21]:
df_recommendations = pd.DataFrame.from_dict(dict_recommendations, orient='index', 
                                columns=['rec1', 'rec2', 'rec3', 'rec4', 'rec5'])
df_recommendations

         rec1    rec2    rec3    rec4    rec5
12347   23077   22418   22614   22029   84375
12348  15056N   22693   21829   22384   20727
12349  85194S   22265   22851   22322   72741
12350   72741   21531   21218   21844   22417
12352   22915   21733   23321   23322   22469
12353   22485   22802   22803   22982   23073
12354   20979   21245   20674   22993   22962
12355   71477   21167   21381   21380   20829
12356  16161P   21210   22961   22952   22986
12357  72351B  85034B   21108  72349B  72225C
12358   16008   85015   84946  15044D   85048
12359  16156S   23170   22915   84947   22921
12360   22631   22993   22962   22966   22659
12361   20979   23371   22352   22138   22617
12362  79190B  85040A  84569D   82552   22973
12363   22961   22909   21975   21880  47591D
12364   23077   23080   21231   23076   21232
12365   22485   22802   22803   22982   23073
12367   22329  15058A   22491   23073   22982
12370   22951   22066   21985   85078   22265
12371   23284   22112   22481   10133   23293
12372   22492   22099   21981   21986   21212
12373   20978   20979   23282   22621   22386
12374   16216   84946   22307   21147   85203
12375   23199  85099F  85099B   22386   23165
12377   22492  16161U   22045   21121   21212
12378   22741   22066   22951   84212  84596B
12379   84799   23172   23171   21980   21985
12380   22418   23445  85099C   21695   22629
12381   22485   22802   22803   23073  46775D
...       ...     ...     ...     ...     ...
18240  15044D   85048  85014B   22766  84279B
18241   21992  85071D   84946   23157   21990
18242   23326   22086   22910   20801   21232
18245   23182   17021   22629   22178   22915
18246   21198   21927   22090  85123A   22992
18248   21386   22161   84755  82494L   22115
18249  51014C  51014A   23076   22219   72586
18250   22530   16218   17003   22554   22555
18251   22961   22316   22951   23295   23307
18252   22488   22178   22469   21333   21773
18255   21294   23017   22915  18097C   22423
18257  84970S   23061   22907   22920   22919
18259   23167   23166  84993A  84030E  84029E
18260   21136   21390   23326   21135   20831
18261   22855   22149   22620   22619   20728
18262   21993   21086   21094   23296   23294
18263   21114   22620   21890   22659   84988
18265   21507   21696   23431   22319  85123A
18269   22485   22802   22803   22982   23073
18270   20724   21319   21318   23040   23042
18272   84987   84692   22303   22851   21400
18273   22485   22802   22803   22982   23073
18276   21213   23058   21714   21989   23215
18277   22485   22802   22803   22982   23073
18278   22645   22178   22302   22457   22188
18280   22485   22982   23073   84629    None
18281   22485   22802   22803   22982   23073
18282   22221   22485   23073   84629    None
18283  85099C   22633   21669   84947   22771
18287   21108   72741   22969   85175   84755

[4304 rows x 5 columns]

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [22]:
#Create a price lookup table
df_price_lookup = pd.DataFrame(df['StockCode'].unique())
df_price_lookup['ModePrice'] = 1.5
df_price_lookup.columns=['StockCode','ModePrice']
df_price_lookup

     StockCode  ModePrice
0        22749        1.5
1        22310        1.5
2        84969        1.5
3        22913        1.5
4        22912        1.5
5        22914        1.5
6        21756        1.5
7        21724        1.5
8        21883        1.5
9        10002        1.5
10       22629        1.5
11       22631        1.5
12       22661        1.5
13       21913        1.5
14       22086        1.5
15       21071        1.5
16       21258        1.5
17       21033        1.5
18      84997B        1.5
19      84997C        1.5
20       21094        1.5
21       21559        1.5
22      84519A        1.5
23      85183B        1.5
24       21929        1.5
25       84854        1.5
26       82567        1.5
27       71270        1.5
28       21166        1.5
29       21175        1.5
...        ...        ...
3606     23442        1.5
3607     23449        1.5
3608    35598A        1.5
3609     23428        1.5
3610    84206B        1.5
3611     23430        1.5
3612     23429        1.5
3613     35400        1.5
3614     23441        1.5
3615     22125        1.5
3616    90130A        1.5
3617    90011A        1.5
3618     23440        1.5
3619     23552        1.5
3620     23498        1.5
3621     84550        1.5
3622     23578        1.5
3623     23580        1.5
3624     23575        1.5
3625     23560        1.5
3626     23576        1.5
3627     23562        1.5
3628     23561        1.5
3629    90214F        1.5
3630    90214O        1.5
3631    90214T        1.5
3632    90214U        1.5
3633    90214W        1.5
3634    90214Z        1.5
3635     90089        1.5

[3636 rows x 2 columns]

In [23]:
#Step 10
#calculate the value of thse
#df_recommendations.iloc[:,1]

for index, row in df_recommendations.head(n=2).iterrows():
    print(row)
     #print(index, row)

rec1    23077
rec2    22418
rec3    22614
rec4    22029
rec5    84375
Name: 12347, dtype: object
rec1    15056N
rec2     22693
rec3     21829
rec4     22384
rec5     20727
Name: 12348, dtype: object

In [ ]:
df_recommendations.head()

In [39]:
def pricelookup(row):
    """
    Input: StockCode taken from row within dataframe
    Output: The corresponding value of that item
    
    The purpose of this funtion is to vlookup value of item from a reference dataframe (df_price_lookup)
    """
    try:
        return float(df_price_lookup.loc[df_price_lookup['StockCode'] == row]["ModePrice"])
    except:
        #print(f"Failed on row {row}")
        pass

In [40]:
df_recommendations['rec1value'] = df_recommendations['rec1'].apply(pricelookup)

In [41]:
df_recommendations['rec1value'] = df_recommendations['rec1'].apply(pricelookup)
df_recommendations['rec2value'] = df_recommendations['rec2'].apply(pricelookup)
df_recommendations['rec3value'] = df_recommendations['rec3'].apply(pricelookup)
df_recommendations['rec4value'] = df_recommendations['rec4'].apply(pricelookup)
df_recommendations['rec5value'] = df_recommendations['rec5'].apply(pricelookup)

In [42]:
df_recommendations.head()

,rec1,rec2,rec3,rec4,rec5,rec1value,rec2value,rec3value,rec4value,rec5value,TotalPossCustRev
12347,23077,22418,22614,22029,84375,1.5,1.5,1.5,1.5,1.5,7.5
12348,15056N,22693,21829,22384,20727,1.5,1.5,1.5,1.5,1.5,7.5
12349,85194S,22265,22851,22322,72741,1.5,1.5,1.5,1.5,1.5,7.5
12350,72741,21531,21218,21844,22417,1.5,1.5,1.5,1.5,1.5,7.5
12352,22915,21733,23321,23322,22469,1.5,1.5,1.5,1.5,1.5,7.5

In [29]:
df_recommendations['TotalPossCustRev'] = df_recommendations.iloc[:,-5:].sum(axis=1)

In [30]:
df_recommendations.head()

,rec1,rec2,rec3,rec4,rec5,rec1value,rec2value,rec3value,rec4value,rec5value,TotalPossCustRev
12347,23077,22418,22614,22029,84375,1.5,1.5,1.5,1.5,1.5,7.5
12348,15056N,22693,21829,22384,20727,1.5,1.5,1.5,1.5,1.5,7.5
12349,85194S,22265,22851,22322,72741,1.5,1.5,1.5,1.5,1.5,7.5
12350,72741,21531,21218,21844,22417,1.5,1.5,1.5,1.5,1.5,7.5
12352,22915,21733,23321,23322,22469,1.5,1.5,1.5,1.5,1.5,7.5

###start to monitor acceptance of recommendations as this will give success rate - which is a valuable metric

In [ ]:
df_price_lookup.duplicated().sum()

In [ ]:
df_distance_matrix = pd.DataFrame(squareform(pdist(df_cust_matrix.T, metric='euclidean')), index=df_cust_matrix.columns, columns=df_cust_matrix.columns)
df_distance_matrix_norm = pd.DataFrame(1/(1 + df_distance_matrix))

In [ ]:
metrics = [ 'cityblock', 'correlation', 'cosine', 'dice', 
           'euclidean', 'hamming', 'jaccard']

#try-the code below       except-what tiem happen if it fails
for i in metrics:
    df_distance_matrix = pd.DataFrame(squareform(pdist(df_cust_matrix.T, metric=i)), index=df_cust_matrix.columns, columns=df_cust_matrix.columns)
    df_distance_matrix_norm = pd.DataFrame(1/(1 + df_distance_matrix))
    dict_recommendations = {}
    unique_ID = df_distance_matrix_norm.columns.unique()

    for customer in unique_ID:
        head = df_distance_matrix_norm[customer].sort_values(ascending = False).head(6)
        df_sample_similar_cust_recomms = df_cust_prod_grouped.loc[(head.index[1:],)]
        df_agg_similar_prod_ranked = df_sample_similar_cust_recomms.groupby('StockCode')[['Quantity']].sum()\
                    .sort_values(by = 'Quantity', ascending = False)
        df_product_recomms = pd.concat([df_agg_similar_prod_ranked, df_cust_matrix[customer]], axis=1, sort=False)
        df_product_recomms.rename(columns = {customer:'customer'}, inplace = True)
        dict_recommendations[customer] = list(df_product_recomms.query('Quantity > 0 and customer == 0').head(5).index)

    df_recommendations = pd.DataFrame.from_dict(dict_recommendations, orient='index', 
                                    columns=['rec1', 'rec2', 'rec3', 'rec4', 'rec5'])    

    df_recommendations['rec1value'] = df_recommendations['rec1'].apply(pricelookup)
    df_recommendations['rec2value'] = df_recommendations['rec2'].apply(pricelookup)
    df_recommendations['rec3value'] = df_recommendations['rec3'].apply(pricelookup)
    df_recommendations['rec4value'] = df_recommendations['rec4'].apply(pricelookup)
    df_recommendations['rec5value'] = df_recommendations['rec5'].apply(pricelookup)

    df_recommendations['TotalPossCustRev'] = df_recommendations.iloc[:,-5:].sum(axis=1)

    Total = df_recommendations['TotalPossCustRev'].sum()
    
    print(f"The total for {i} metric was : {Total}")

print("All done")

#Determine how many of the units that were sold during the time period were later returned, and divide that number by the number of units sold. Multiply your answer by 100 to calculate the percentage of units returned.