# Creation of Insights 

This file contains all the code required to generate bsuiness insights. The code below relies on a clean transaction dataset being loaded. The dataset is cleaned in ''.

In [1]:
#Libraries
#Dataframe and Array
import pandas as pd
import numpy as np

#Graphing/ Charting/ Visualisations
import matplotlib as plt

In [2]:
df = pd.csv_read('../data/****.csv')

In [ ]:
#Revenue by Day of Week - All Countries
df_day_of_week_rev = df_days_week.groupby(['Weekday'])['Rev'].agg('sum')
df_day_of_week_rev.sort_values(ascending=False)#.head(10)

In [9]:
df.InvoiceDate.min()

Timestamp('2010-12-01 08:26:00')

In [10]:
df.InvoiceDate.max()

Timestamp('2011-12-09 12:50:00')

In [14]:
#Top 10 Countries
df_top_countries_stg = df.groupby(['Country'])['Rev'].agg('sum')
df_top_countries = df_top_countries_stg.sort_values(ascending=False).head(10).to_frame()
df_top_countries

                         Rev
Country
United Kingdom  8.187806e+06
Netherlands     2.846615e+05
EIRE            2.632768e+05
Germany         2.216982e+05
France          1.974039e+05
Australia       1.370773e+05
Switzerland     5.638535e+04
Spain           5.477458e+04
Belgium         4.091096e+04
Sweden          3.659591e+04

In [15]:
df_top_countries = df_top_countries.reset_index()

In [16]:
top_country_rev = []
for i in df_top_countries['Country'][:3]:
    top_country_rev.append(i)
top_country_rev

['United Kingdom', 'Netherlands', 'EIRE']

In [17]:
#Top 10 Description by Revenue - All Countries
df_top_items_rev = df.groupby(['Description'])['Rev'].agg('sum')
df_top_items_rev.sort_values(ascending=False).head(10)

Description
DOTCOM POSTAGE                        206245.48
REGENCY CAKESTAND 3 TIER              164762.19
WHITE HANGING HEART T-LIGHT HOLDER     99668.47
PARTY BUNTING                          98302.98
JUMBO BAG RED RETROSPOT                92356.03
RABBIT NIGHT LIGHT                     66756.59
POSTAGE                                66230.64
PAPER CHAIN KIT 50'S CHRISTMAS         63791.94
ASSORTED COLOUR BIRD ORNAMENT          58959.73
CHILLI LIGHTS                          53768.06
Name: Rev, dtype: float64

In [18]:
#Top 10 Description by Quantity - All Countries
df_top_items_vol = df.groupby(['Description'])['Quantity'].agg('sum')
df_top_items_vol.sort_values(ascending=False).head(10)

Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     53847
JUMBO BAG RED RETROSPOT               47363
ASSORTED COLOUR BIRD ORNAMENT         36381
POPCORN HOLDER                        36334
PACK OF 72 RETROSPOT CAKE CASES       36039
WHITE HANGING HEART T-LIGHT HOLDER    35317
RABBIT NIGHT LIGHT                    30680
MINI PAINT SET VINTAGE                26437
PACK OF 12 LONDON TISSUES             26315
PACK OF 60 PINK PAISLEY CAKE CASES    24753
Name: Quantity, dtype: int64

In [19]:



for i in top_country_rev:
    print(df.loc[df['Country'] == i].groupby(['Description'])['Quantity'].agg('sum').sort_values(ascending=False).head(3))

Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS    48326
JUMBO BAG RED RETROSPOT              43167
POPCORN HOLDER                       34365
Name: Quantity, dtype: int64
Description
RABBIT NIGHT LIGHT      4801
SPACEBOY LUNCH BOX      4528
DOLLY GIRL LUNCH BOX    4132
Name: Quantity, dtype: int64
Description
PACK OF 72 RETROSPOT CAKE CASES    1728
60 TEATIME FAIRY CAKE CASES        1536
VINTAGE SNAP CARDS                 1492
Name: Quantity, dtype: int64

In [24]:
#Revenue by Day of Week - All Countries
df_day_of_week_rev = df_days_week.groupby(['Weekday'])['Rev'].agg('sum')
df_day_of_week_rev.sort_values(ascending=False)#.head(10)

Weekday
Thursday     2112519.000
Tuesday      1966182.791
Wednesday    1734147.010
Monday       1588609.431
Friday       1540610.811
Sunday        805678.891
Name: Rev, dtype: float64

In [26]:
#Customers with Negative Qty
#Identify Customer/ Product mix that are negative - i.e. potential returns from outside reporting period

df_cust_neg_qty = df.groupby(['CustomerID', 'StockCode'])['Quantity'].agg('sum').to_frame()
df_cust_neg_qty.reset_index(inplace=True)
df_cust_neg_qty = df_cust_neg_qty.loc[(df_cust_neg_qty['Quantity'] <= 0)]
df_cust_neg_qty

df_new = df[~(df['StockCode'].isin(df_cust_neg_qty.StockCode) & df['CustomerID'].isin(df_cust_neg_qty.CustomerID))]

df_new.shape

(434567, 10)

In [29]:
#Stratisfying Customers based on Spend During Reporting Period

# PART 1
rev_by_cust = df_new.groupby("CustomerID")["Rev"].sum().to_frame()
rev_by_cust

rev_by_cust['quantile'] = pd.qcut(rev_by_cust['Rev'], 100, labels=False)
rev_by_cust

# Emanuele's way didnt work. 
conditions = [
    (rev_by_cust['quantile'] >= 75 ) & (rev_by_cust['quantile'] <= 95),
    (rev_by_cust['quantile'] > 95)]
choices = ['Preferred', 'VIP']
rev_by_cust['Status'] = np.select(conditions, choices, default='Regular')
print(rev_by_cust)

                Rev  quantile     Status
CustomerID
12347.0     4310.00        95  Preferred
12348.0     1437.24        79  Preferred
12349.0     1457.55        79  Preferred
12350.0      294.40        28    Regular
12352.0      245.13        24    Regular
12353.0       89.00         4    Regular
12354.0     1079.40        72    Regular
12355.0      459.40        45    Regular
12356.0     2487.43        89  Preferred
12357.0     6207.67        97        VIP
12358.0      928.06        67    Regular
12359.0     1446.13        79  Preferred
12360.0     2302.06        88  Preferred
12361.0      174.90        15    Regular
12362.0     1679.43        82  Preferred
12363.0      552.00        50    Regular
12364.0     1208.10        75  Preferred
12365.0      140.34        11    Regular
12367.0      150.90        12    Regular
12370.0     3425.69        93  Preferred
12371.0     1527.96        80  Preferred
12372.0     1196.04        74    Regular
12373.0      324.60        32    Regular
12374.0      622.93        54    Regular
12375.0      375.42        38    Regular
12377.0     1548.12        80  Preferred
12378.0     4008.62        95  Preferred
12379.0      775.29        62    Regular
12380.0     2423.56        89  Preferred
12381.0      438.56        43    Regular
...             ...       ...        ...
18240.0      422.58        42    Regular
18241.0      475.77        46    Regular
18242.0     2232.49        88  Preferred
18245.0      719.97        60    Regular
18246.0      596.10        53    Regular
18248.0      246.14        24    Regular
18249.0       95.34         5    Regular
18250.0      342.92        35    Regular
18251.0     4314.72        95  Preferred
18252.0      526.67        49    Regular
18255.0      103.30         6    Regular
18257.0      705.40        59    Regular
18259.0     2338.60        88  Preferred
18260.0     2595.00        90  Preferred
18261.0      324.24        32    Regular
18262.0      149.48        12    Regular
18263.0     1211.08        75  Preferred
18265.0      801.51        63    Regular
18269.0       20.10         0    Regular
18270.0      141.90        11    Regular
18272.0     3064.78        92  Preferred
18273.0      204.00        19    Regular
18276.0       52.68         2    Regular
18277.0       21.10         0    Regular
18278.0      173.90        15    Regular
18280.0      180.60        16    Regular
18281.0       80.82         4    Regular
18282.0      176.60        16    Regular
18283.0     2088.93        86  Preferred
18287.0     1837.28        84  Preferred

[4304 rows x 3 columns]

In [30]:
#Top Returning Customers
df_top_returners = df.groupby(['CustomerID'])['Quantity'].agg('sum').to_frame()
df_top_returners.reset_index(inplace=True)
df_top_returners = df_top_returners.loc[(df_top_returners['Quantity'] < 0)].sort_values(by='Quantity', ascending=True)
df_top_returners

      CustomerID  Quantity
3103     16546.0      -303
2578     15823.0      -283
1384     14213.0      -244
3245     16742.0      -189
2892     16252.0      -158
3650     17307.0      -144
3829     17548.0      -132
4350     18256.0       -70
264      12666.0       -56
2436     15638.0       -52
2506     15728.0       -34
3870     17603.0       -31
1200     13958.0       -23
1106     13829.0       -12
4261     18141.0       -12
3126     16579.0       -12
1799     14777.0        -9
1004     13693.0        -6
2900     16262.0        -5
1688     14627.0        -5
4029     17820.0        -5
3828     17547.0        -4
212      12605.0        -4
415      12870.0        -2
1318     14119.0        -2
2802     16138.0        -1
3020     16428.0        -1
467      12943.0        -1
2745     16061.0        -1
991      13672.0        -1
3435     16995.0        -1
3487     17065.0        -1
2560     15802.0        -1
3756     17448.0        -1
2400     15590.0        -1
127      12505.0        -1
2236     15369.0        -1
1727     14679.0        -1
619      13154.0        -1
125      12503.0        -1

In [32]:
#Top Invoice Values by Rev
df_top_invoices_rev = df.groupby(['InvoiceNo', 'CustomerID'])['Rev'].agg('sum').to_frame()
df_top_invoices_rev.reset_index(inplace=True)
df_top_invoices_rev = df_top_invoices_rev.sort_values(by='Rev', ascending=False)
df_top_invoices_rev

      InvoiceNo  CustomerID        Rev
18503    581483     16446.0  168469.60
1909     541431     12346.0   77183.60
7926     556444     15098.0   38970.00
12419    567423     17450.0   31698.16
8112     556917     12415.0   22775.93
14459    572209     18102.0   22206.00
12411    567381     17450.0   22104.80
10843    563614     12415.0   21880.44
5463     550461     15749.0   21535.90
14371    572035     14646.0   20277.92
10612    563076     14646.0   19150.66
10344    562439     12931.0   18841.48
1824     541220     14156.0   16774.72
3494     545475     12415.0   16726.84
7876     556255     18102.0   16488.00
564      537659     18102.0   15885.49
4541     548011     14646.0   15719.56
13388    569650     12415.0   15643.77
1692     540815     15749.0   15160.90
6437     552883     14646.0   14415.74
2843     543989     12415.0   14022.92
13359    569570     16684.0   13760.02
10131    561901     14156.0   13464.26
8746     558526     17949.0   13355.40
12243    566934     18102.0   13249.94
10840    563590     17450.0   13031.50
1659     540689     17450.0   12797.52
10499    562789     14646.0   12341.21
3076     544479     14646.0   11956.10
6731     553546     12415.0   11924.80
...         ...         ...        ...
19047   C542348     12539.0   -1715.85
21086   C566925     12748.0   -1829.84
19659   C549452     17940.0   -1867.86
19619   C548834     12744.0   -2053.07
21414   C570552     16029.0   -2076.00
21533   C572334     14607.0   -2199.12
21976   C578363     15482.0   -2210.64
20831   C563577     17949.0   -2231.30
21750   C575224     17511.0   -2506.00
19293   C545033     14156.0   -2548.80
21314   C569743     15769.0   -2924.00
21534   C572343     14607.0   -2949.28
20601   C560647     18102.0   -3060.60
20755   C562647     15502.0   -3155.95
20935   C564940     12931.0   -3491.02
21474   C571499     12454.0   -3528.34
21139   C567527     17450.0   -3825.36
20958   C565044     12931.0   -3969.93
19618   C548830     12744.0   -4037.77
20567   C560372     17448.0   -4287.63
20736   C562375     14911.0   -4345.10
21489   C571750     12744.0   -6068.06
19849   C551699     16029.0   -6930.00
19848   C551685     16029.0   -8142.75
21589   C573079     12536.0   -8322.12
21416   C570556     16029.0  -11816.64
19744   C550456     15749.0  -22998.40
20237   C556445     15098.0  -38970.00
18958   C541433     12346.0  -77183.60
22185   C581484     16446.0 -168469.60

[22190 rows x 3 columns]

In [33]:
#Top Invoice Values by Qty
df_top_invoices_qty = df.groupby(['InvoiceNo', 'CustomerID'])['Quantity'].agg('sum').to_frame()
df_top_invoices_qty.reset_index(inplace=True)
df_top_invoices_qty = df_top_invoices_qty.sort_values(by='Quantity', ascending=False)
df_top_invoices_qty

      InvoiceNo  CustomerID  Quantity
18503    581483     16446.0     80995
1909     541431     12346.0     74215
8112     556917     12415.0     15049
10612    563076     14646.0     14730
14371    572035     14646.0     13392
12419    567423     17450.0     12572
17360    578841     13256.0     12540
6437     552883     14646.0     12266
10843    563614     12415.0     12196
10344    562439     12931.0     11848
4541     548011     14646.0     11116
3494     545475     12415.0     10272
7884     556267     13694.0      9811
5463     550461     15749.0      9014
8653     558262     14646.0      8998
2843     543989     12415.0      8384
6731     553546     12415.0      8268
1815     541206     14646.0      8210
3076     544479     14646.0      8174
12100    566595     18251.0      7824
10499    562789     14646.0      7807
18363    581175     14646.0      7366
1692     540815     15749.0      7044
13359    569570     16684.0      7020
12352    567280     14646.0      6932
13388    569650     12415.0      6895
12411    567381     17450.0      6760
15867    575508     14646.0      6712
1363     539731     14646.0      6668
5432     550344     12754.0      6432
...         ...         ...       ...
20326   C557508     16684.0      -720
19324   C545478     16422.0      -720
21266   C568879     14680.0      -739
21139   C567527     17450.0      -756
20926   C564899     14646.0      -768
21699   C574584     15482.0      -786
18787   C539329     16013.0      -800
18552   C536812     16546.0      -852
21976   C578363     15482.0      -948
19904   C552568     12901.0      -960
21474   C571499     12454.0     -1006
21852   C576831     12748.0     -1082
20958   C565044     12931.0     -1161
21414   C570552     16029.0     -1164
21305   C569552     14533.0     -1200
21437   C570867     12607.0     -1228
19934   C552995     18133.0     -1350
21750   C575224     17511.0     -1400
21533   C572334     14607.0     -1416
20245   C556522     16938.0     -1515
21314   C569743     15769.0     -1600
20831   C563577     17949.0     -2105
20736   C562375     14911.0     -2270
21534   C572343     14607.0     -2344
20935   C564940     12931.0     -2518
21416   C570556     16029.0     -6480
19744   C550456     15749.0     -9014
18548   C536757     15838.0     -9360
18958   C541433     12346.0    -74215
22185   C581484     16446.0    -80995

[22190 rows x 3 columns]

In [34]:
#Top Customer by Rev
df_top_customer_rev = df.groupby(['CustomerID'])['Rev'].agg('sum').to_frame()
df_top_customer_rev.reset_index(inplace=True)
df_top_customer_rev = df_top_customer_rev.sort_values(by='Rev', ascending=False)
df_top_customer_rev['CustomerID'] = df_top_customer_rev['CustomerID'].astype(int)
df_top_customer_rev

      CustomerID        Rev
1703       14646  279489.02
4233       18102  256438.49
3758       17450  187482.17
1895       14911  132572.62
55         12415  123725.45
1345       14156  113384.14
3801       17511   88125.38
3202       16684   65892.08
1005       13694   62653.10
2192       15311   59419.34
568        13089   57385.88
1300       14096   57120.91
1999       15061   54228.74
4125       17949   52750.84
2537       15769   51823.72
2722       16029   50992.61
1447       14298   50862.44
1295       14088   50415.49
4042       17841   40340.78
1078       13798   36351.42
3014       16422   33805.69
458        12931   33462.81
2708       16013   33366.25
2590       15838   33350.76
3712       17389   31300.08
3722       17404   30300.82
330        12748   29072.10
576        13098   28658.88
564        13081   27964.48
803        13408   27487.41
...          ...        ...
1318       14119     -19.90
1688       14627     -21.85
4029       17820     -24.05
2745       16061     -29.95
2400       15590     -30.19
3126       16579     -30.60
2900       16262     -31.65
1004       13693     -32.00
4261       18141     -35.40
1544       14437     -43.40
4350       18256     -50.10
991        13672     -71.46
2436       15638     -94.00
3103       16546     -95.93
1106       13829    -102.00
1200       13958    -102.45
3487       17065    -112.35
2506       15728    -134.80
3829       17548    -141.48
3650       17307    -152.64
264        12666    -227.44
2892       16252    -295.09
2560       15802    -451.42
619        13154    -611.86
2578       15823    -840.76
125        12503   -1126.00
3870       17603   -1165.30
1384       14213   -1192.20
2236       15369   -1592.49
3756       17448   -4287.63

[4372 rows x 2 columns]

In [36]:
#Find descriptions with negative works like 'damaged' 'fees' 'mouldy', 'faulty', 'wet', 'lost', 'missing','wrong', 'broke'

In [45]:
#df_new['CustomerID'].isna().sum()

In [46]:
#df_new.dropna(subset=['CustomerID'],inplace=True)

In [50]:
df_new.to_csv('../data/cleaned_df2.csv')