In [1]:
#Libraries
#Dataframe and arrays
import pandas as pd
import numpy as np

#Graphing/ Charting/ Visualisations
import matplotlib as plt

In [2]:
df = pd.read_excel('../data/online_fashion.xlsx')

In [3]:
df_raw = df

In [4]:
#Find & Remove Strange StockCodes
df_unique_stock_codes = df['StockCode'].unique()
df_unique_stock_codes = pd.DataFrame(df_unique_stock_codes)
df_unique_stock_codes['len'] = df_unique_stock_codes[0].astype(str).str.len()
df_unique_stock_codes.rename(columns={0:'StockCode'}, inplace=True)
df_unique_stock_codes.sort_values(by='len')
df_unique_stock_codes['len'] = df_unique_stock_codes['len'].astype(int)
df_stock_to_drop_stg = df_unique_stock_codes.loc[(df_unique_stock_codes['len'] >= 8) | (df_unique_stock_codes['len'] <= 4)].sort_values(by='len')
df_stock_to_drop_stg.reset_index(drop=True)
df_stock_to_drop = pd.concat([df_stock_to_drop_stg.iloc[0:10], df_stock_to_drop_stg.iloc[-6:], df_stock_to_drop_stg.iloc[-9:-8] ])
df_stock_to_drop

df = df[~(df['StockCode'].isin(df_stock_to_drop.StockCode) )]

df.shape

(538959, 8)

In [5]:
df['Month'] = df['InvoiceDate'].dt.month_name()

C:\Users\ellio\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
#Identify if Return(1) or Sale(0)
def transtype(row): 
    """
    Input:
    Output:
    
    The purpose of this function is to .....
    """
    if row['Quantity'] <= 0 : 
        return 1
    else: 
        return 0

df['Return'] = df.apply(transtype, axis=1)
df.head()

C:\Users\ellio\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,December,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,December,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,December,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,December,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,December,0

In [7]:
df['Rev'] = (df.Quantity * df.UnitPrice)
df.head()

C:\Users\ellio\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return,Rev
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,December,0,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,December,0,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,December,0,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,December,0,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,December,0,20.34

In [8]:
#Number of rows with no CustomerID
len(df[df['CustomerID'].isnull()]) #134,050

134050

In [9]:
#Number of items with no CustomerID
df[df['CustomerID'].isnull()].Quantity.sum() #264,390

264390

In [10]:
#Number of items sold with no CustomerID
df[(df['CustomerID'].isnull() &  (df.Return == 0) )].Quantity.sum() #47,3893

473893

In [11]:
#Number of items returned with no CustomerID
df[(df['CustomerID'].isnull() &  (df.Return == 1) )].Quantity.sum() #-209,503

-209503

In [12]:
#Value of items sold with no CustomerID
df[(df['CustomerID'].isnull() &  (df.Return == 0) )].Rev.sum() #1,510,366.41

1510366.41

In [13]:
#Value of items returned with no CustomerID
df[(df['CustomerID'].isnull() &  (df.Return == 1) )].Rev.sum() -4,320.85

(-4324.85, 320.85)

In [14]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
Month                  object
Return                  int64
Rev                   float64
dtype: object

In [15]:
#Number of items returned with no CustomerID in May
df[(df['CustomerID'].isnull() &  (df.Return == 1) & (df.Month == 'May') )].Quantity.sum() #13,172

-13172

In [16]:
#Vale of items returned with no CustomerID in May
df[(df['CustomerID'].isnull() &  (df.Return == 1) & (df.Month == 'May') )].Rev.sum() #-19.98

-19.98

In [17]:
#Number of items returned with no CustomerID in June
df[(df['CustomerID'].isnull() &  (df.Return == 1) & (df.Month == 'June') )].Quantity.sum() #45,917

-45917

In [18]:
#Number of items returned with no CustomerID in June
df[(df['CustomerID'].isnull() &  (df.Return == 1) & (df.Month == 'June') )].Rev.sum() #-1,108.13

-1108.13

In [156]:
df.Return.value_counts()

0    528919
1     10040
Name: Return, dtype: int64

In [157]:
df.Rev.sum()

9792708.879999999

In [158]:
df.groupby('Country').agg({'Rev': ['sum']})

                               Rev
                               sum
Country
Australia             1.369900e+05
Austria               8.698320e+03
Bahrain               5.484000e+02
Belgium               3.666296e+04
Brazil                1.143600e+03
Canada                3.115440e+03
Channel Islands       1.993629e+04
Cyprus                1.293129e+04
Czech Republic        6.717200e+02
Denmark               1.804214e+04
EIRE                  2.596635e+05
European Community    1.150750e+03
Finland               1.830354e+04
France                1.821634e+05
Germany               2.008084e+05
Greece                4.425520e+03
Hong Kong             9.942040e+03
Iceland               4.310000e+03
Israel                7.907820e+03
Italy                 1.527634e+04
Japan                 3.541979e+04
Lebanon               1.693880e+03
Lithuania             1.661060e+03
Malta                 1.980470e+03
Netherlands           2.834795e+05
Norway                3.229296e+04
Poland                6.853140e+03
Portugal              2.687152e+04
RSA                   1.002310e+03
Saudi Arabia          1.311700e+02
Singapore             9.120390e+03
Spain                 5.176520e+04
Sweden                3.517691e+04
Switzerland           5.250535e+04
USA                   1.730920e+03
United Arab Emirates  1.864780e+03
United Kingdom        8.301718e+06
Unspecified           4.749790e+03

In [160]:
#Customer Type - Part 1 of 3

df_custtype = df.groupby('CustomerID').agg({'Rev': ['sum'], 'Quantity':['sum']})
df_custtype = df_custtype.reset_index(drop=False)
df_custtype.columns = ['CustomerID','Rev','Quantity']
df_custtype.head()

   CustomerID      Rev  Quantity
0     12346.0     0.00         0
1     12347.0  4310.00      2458
2     12348.0  1437.24      2332
3     12349.0  1457.55       630
4     12350.0   294.40       196

In [161]:
#Customer Type - Part 2 of 3

def customertype(row):
    """
    Input: Revenue and Total Quantity of Units Purchased
    Output: Flag to determing if a business (B2B) or regular (B2C) customer
    
    The purpose of this funtion is to determine if the customer ID belongs to a business or regular customer
    """
    #try:
        
    if row.Rev > 2500 or  row.Quantity > 50:
        return 1
    else:
        return 0
    #except:
        #pass
    
df_custtype['B2B'] = df_custtype.apply(customertype, axis=1)
df_custtype.head()

   CustomerID      Rev  Quantity  B2B
0     12346.0     0.00         0    0
1     12347.0  4310.00      2458    1
2     12348.0  1437.24      2332    1
3     12349.0  1457.55       630    1
4     12350.0   294.40       196    1

In [162]:
#Customer Type - Part 3 of 3

def customertypelookup(row):
    """
    Input: CustomerID
    Output: Flat to identify if B2B customer or not (1 or 0)
    
    The purpose of this funtion is to vlookup if the customer ID belongs to a business or regular customer
    """
    try:
        return int(df_custtype.loc[df_custtype['CustomerID'] == row]["B2B"])
    except:
        pass
    
df['B2B'] = df['CustomerID'].apply(customertypelookup)
df.head()

C:\Users\ellio\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return,Rev,B2B
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,December,0,15.30,1.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,December,0,20.34,1.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,December,0,22.00,1.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,December,0,20.34,1.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,December,0,20.34,1.0

In [164]:
df_percent = df[df.Return == 1].groupby('B2B').agg({'Rev': ['sum']})

In [165]:
df_percent.head()

           Rev
           sum
B2B
0.0 -259763.97
1.0 -214639.36

In [167]:
df_percent.columns = ['Rev']

In [168]:
df_percent.head()

           Rev
B2B
0.0 -259763.97
1.0 -214639.36

In [170]:
df_percent['Rev'].value_counts(normalize=True) * 100

-259763.97    50.0
-214639.36    50.0
Name: Rev, dtype: float64

In [178]:
df_ret_items = df[(df.Return == 1)&(~df.CustomerID.isna())].groupby('B2B').agg({'Quantity': ['sum']})

In [176]:
df_ret_items

Empty DataFrame
Columns: [(Quantity, sum)]
Index: []

In [179]:
df_raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Return,day,month,year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0,1,12,2010
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,1,12,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0,1,12,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,1,12,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,1,12,2010

In [ ]:
Investigating to determine the relevance of preceding 'C' in the invoice number...

In [180]:
df_raw['FLInv'] = df_raw['InvoiceNo'].astype(str).str[0]

In [184]:
len(df_raw[(df_raw['FLInv'] != 'C') & (df_raw['Return'] ==1)].Description.unique())

139

In [186]:
df_raw[(df_raw['FLInv'] != 'C') & (df_raw['Return'] ==1)].CustomerID.unique()

array([nan])

In [191]:
df_raw[(df_raw['FLInv'] == 'C') & (df_raw['Return'] ==1)].CustomerID.isna().sum()

383

In [ ]:
#now to try with the cleaned Data Set

In [192]:
df['FLInv'] = df['InvoiceNo'].astype(str).str[0]

C:\Users\ellio\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [204]:
df[(df['FLInv'] != 'C') & (df['Return'] == 1)].Rev.sum()

0.0

In [214]:
df_tmp = df[(df['FLInv'] == 'C') & (df['Return'] == 1)].groupby('Country').agg({'Rev': ['sum']})#.sort_values(by=df.columns[0])

In [216]:
df_tmp.sort_values(by=df_tmp.columns[0])

                          Rev
                          sum
Country
United Kingdom     -445843.38
EIRE                -11500.84
Germany              -4761.49
Spain                -3959.91
France               -2419.35
Japan                -1996.58
USA                  -1849.47
Sweden               -1662.42
Australia            -1181.31
Switzerland           -582.55
Italy                 -543.90
Netherlands           -409.80
Cyprus                -323.40
Belgium               -264.38
Israel                -227.44
Bahrain               -205.74
Denmark               -169.20
Norway                -161.68
Portugal              -143.64
Poland                -121.51
Czech Republic        -115.02
Malta                  -90.12
Channel Islands        -71.15
Austria                -44.36
Finland                -41.34
Saudi Arabia           -14.75
Hong Kong              -10.95
European Community      -8.50

In [220]:
df_tmp.value_counts(normalize=True) * 100

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [221]:
df_tmp_item = df[(df['FLInv'] == 'C') & (df['Return'] == 1)].groupby('Country').agg({'Quantity': ['sum']})#.sort_values(by=df.columns[0])

In [227]:
df[(df['FLInv'] == 'C') & (df['Return'] == 1)].Quantity.sum()

-272030

In [228]:
df[(df['FLInv'] == 'C') & (df['Return'] == 1) & (df['CustomerID'] != 15749) & (df['CustomerID'] != 12346)].Quantity.sum()

-188801

In [226]:
df_tmp_item.columns[0]

('Quantity', 'sum')

In [222]:
df_tmp_item.sort_values(by=df_tmp_item.columns[0])

                   Quantity
                        sum
Country
United Kingdom      -258099
EIRE                  -4800
Germany               -1798
France                -1579
USA                   -1424
Spain                 -1124
Japan                  -795
Australia              -555
Sweden                 -443
Netherlands            -324
Switzerland            -300
Italy                  -110
Norway                  -88
Belgium                 -82
Czech Republic          -78
Portugal                -71
Israel                  -56
Bahrain                 -54
Austria                 -54
Denmark                 -46
Cyprus                  -43
Finland                 -33
Poland                  -31
Malta                   -24
Channel Islands         -11
Saudi Arabia             -5
European Community       -2
Hong Kong                -1

In [19]:
df_awp_stg = df[(df['CustomerID'] > 0)]

In [20]:
df_awp = df_awp_stg.groupby('StockCode').agg({'Rev': ['sum'], 'Quantity':['sum']})
df_awp = df_awp.reset_index(drop=False)
df_awp.columns = ['StockCode','Rev','Quantity']
df_awp['AWP'] = df_awp.Rev / df_awp.Quantity
df_awp.head()

  StockCode      Rev  Quantity       AWP
0     10002   699.55       823  0.850000
1     10080   114.41       291  0.393162
2     10120    40.53       193  0.210000
3     10125   930.30      1226  0.758809
4     10133  1139.41      2374  0.479954

In [21]:
#Working version
def awp_lookup(row):
    """
    Input: StockCode taken from row within dataframe
    Output: The corresponding AWP of that item
    
    The purpose of this function is to vlookup value of item from a reference dataframe (df_awp)
    """
    if row is not None:
        try:
            awp = df_awp.loc[(df_awp['StockCode'] == row.StockCode)]["AWP"]
            return awp
        except:
            return 0
    else:
        return 0

In [22]:
df_returns = df[  (df.Return == 1) ]

In [23]:
df_awp = df_awp_stg.groupby('StockCode').agg({'Rev': ['sum'], 'Quantity':['sum']})
df_awp = df_awp.reset_index(drop=False)
df_awp.columns = ['StockCode','Rev','Quantity']
df_awp['AWP'] = df_awp.Rev / df_awp.Quantity
df_awp.head()

  StockCode      Rev  Quantity       AWP
0     10002   699.55       823  0.850000
1     10080   114.41       291  0.393162
2     10120    40.53       193  0.210000
3     10125   930.30      1226  0.758809
4     10133  1139.41      2374  0.479954

In [24]:
df_returns.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return,Rev
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,December,1,-4.65
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,December,1,-19.80
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,December,1,-6.96
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,December,1,-6.96
238,C536391,21980,PACK OF 12 RED RETROSPOT TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,December,1,-6.96

In [25]:
df_returns = df_returns.groupby('StockCode').agg({'Rev': ['sum'], 'Quantity':['sum']})
df_returns = df_returns.reset_index(drop=False)

In [26]:
df_returns.columns = ['StockCode','Rev','Quantity']
df_returns.head()

  StockCode     Rev  Quantity
0     10002    0.00        -3
1     10133   -4.20       -92
2     10134    0.00       -19
3     10135   -1.25        -1
4     11001 -237.05      -185

In [27]:
df_awp.head()

  StockCode      Rev  Quantity       AWP
0     10002   699.55       823  0.850000
1     10080   114.41       291  0.393162
2     10120    40.53       193  0.210000
3     10125   930.30      1226  0.758809
4     10133  1139.41      2374  0.479954

In [28]:
#df_returns = df_returns.join(df_awp, lsuffix='StockCode', rsuffix='StockCode')
df_returns = pd.merge(df_returns, df_awp, how='left', left_on='StockCode', right_on='StockCode')
df_returns.head()

  StockCode   Rev_x  Quantity_x    Rev_y  Quantity_y       AWP
0     10002    0.00          -3   699.55       823.0  0.850000
1     10133   -4.20         -92  1139.41      2374.0  0.479954
2     10134    0.00         -19      NaN         NaN       NaN
3     10135   -1.25          -1  1785.44      1937.0  0.921755
4     11001 -237.05        -185  1715.95      1067.0  1.608201

In [29]:
df_returns.head()

  StockCode   Rev_x  Quantity_x    Rev_y  Quantity_y       AWP
0     10002    0.00          -3   699.55       823.0  0.850000
1     10133   -4.20         -92  1139.41      2374.0  0.479954
2     10134    0.00         -19      NaN         NaN       NaN
3     10135   -1.25          -1  1785.44      1937.0  0.921755
4     11001 -237.05        -185  1715.95      1067.0  1.608201

In [30]:
df_returns['ActRefundGBP'] = df_returns['Quantity_x']*df_returns['AWP']

In [31]:
df_returns.head()

  StockCode   Rev_x  Quantity_x    Rev_y  Quantity_y       AWP  ActRefundGBP
0     10002    0.00          -3   699.55       823.0  0.850000     -2.550000
1     10133   -4.20         -92  1139.41      2374.0  0.479954    -44.155737
2     10134    0.00         -19      NaN         NaN       NaN           NaN
3     10135   -1.25          -1  1785.44      1937.0  0.921755     -0.921755
4     11001 -237.05        -185  1715.95      1067.0  1.608201   -297.517104

In [32]:
df_returns['ActRefundGBP'].sum()

-inf

In [33]:
df_returns['ActRefundGBP'].sort_values()

1964            -inf
1473   -8.570707e+04
2219   -3.265650e+04
2152   -3.133939e+04
1053   -1.654703e+04
2217   -1.357425e+04
1052   -1.246267e+04
1430   -1.109490e+04
902    -1.046405e+04
1356   -7.812775e+03
2431   -7.786722e+03
52     -7.596446e+03
1434   -7.132950e+03
1431   -6.848110e+03
1432   -6.845878e+03
1433   -6.552000e+03
966    -5.818589e+03
190    -4.868209e+03
2196   -4.625068e+03
411    -4.603536e+03
224    -4.590601e+03
1796   -4.413274e+03
1193   -4.036395e+03
539    -4.000119e+03
412    -3.984875e+03
800    -3.950444e+03
2195   -3.809836e+03
1354   -3.780250e+03
1808   -3.759505e+03
1612   -3.729355e+03
            ...
2353             NaN
2367             NaN
2368             NaN
2369             NaN
2370             NaN
2371             NaN
2392             NaN
2447             NaN
2456             NaN
2469             NaN
2478             NaN
2494             NaN
2497             NaN
2500             NaN
2512             NaN
2515             NaN
2517             NaN
2529             NaN
2538             NaN
2539             NaN
2540             NaN
2541             NaN
2542             NaN
2543             NaN
2544             NaN
2545             NaN
2546             NaN
2547             NaN
2548             NaN
2549             NaN
Name: ActRefundGBP, Length: 2550, dtype: float64

In [34]:
df_returns.iloc[1964]

StockCode       85047
Rev_x          -18.25
Quantity_x         -3
Rev_y             0.8
Quantity_y          0
AWP               inf
ActRefundGBP     -inf
Name: 1964, dtype: object

In [35]:
df_awp[df_awp['StockCode'] == '85047']

Empty DataFrame
Columns: [StockCode, Rev, Quantity, AWP]
Index: []

In [36]:
df[df['StockCode'] == '85047']

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Month, Return, Rev]
Index: []

In [37]:
df_raw[df_raw['StockCode'] == '85047']

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [38]:
df_awp[df_awp['StockCode'] == '85047']

Empty DataFrame
Columns: [StockCode, Rev, Quantity, AWP]
Index: []

In [39]:
df_returns[df_returns['StockCode'] == '85047']

Empty DataFrame
Columns: [StockCode, Rev_x, Quantity_x, Rev_y, Quantity_y, AWP, ActRefundGBP]
Index: []

In [40]:
df_returnsB = df_returns.drop(1964)

In [41]:
df_returnsB.head()

  StockCode   Rev_x  Quantity_x    Rev_y  Quantity_y       AWP  ActRefundGBP
0     10002    0.00          -3   699.55       823.0  0.850000     -2.550000
1     10133   -4.20         -92  1139.41      2374.0  0.479954    -44.155737
2     10134    0.00         -19      NaN         NaN       NaN           NaN
3     10135   -1.25          -1  1785.44      1937.0  0.921755     -0.921755
4     11001 -237.05        -185  1715.95      1067.0  1.608201   -297.517104

In [42]:
df_returnsB.ActRefundGBP.sum()

-582089.2195770355

In [43]:
df_raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [44]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return,Rev
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,December,0,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,December,0,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,December,0,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,December,0,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,December,0,20.34

In [48]:
df[df['Return'] ==1 ].Rev.sum()

-478724.18000000005

In [49]:
df[df['Return'] ==1 ].Rev.describe()

count     10040.000000
mean        -47.681691
std        1854.039950
min     -168469.600000
25%         -15.000000
50%          -6.240000
75%          -1.950000
max          -0.000000
Name: Rev, dtype: float64

In [51]:
df[df['Rev'] == -168469.60 ]#.Rev.describe()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return,Rev
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,December,1,-168469.6

In [53]:
df[df['StockCode'] == '23843' ]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Month, Return, Rev]
Index: []

In [59]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
Month                  object
Return                  int64
Rev                   float64
dtype: object

In [60]:
df[df['StockCode'] == 23843 ]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return,Rev
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,December,0,168469.6
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,December,1,-168469.6

In [54]:
df[df['InvoiceNo'] == 'C581484' ]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return,Rev
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,December,1,-168469.6

In [55]:
df[df['CustomerID'] == 16446 ]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return,Rev
194354,553573,22980,PANTRY SCRUBBING BRUSH,1,2011-05-18 09:52:00,1.65,16446.0,United Kingdom,May,0,1.65
194355,553573,22982,PANTRY PASTRY BRUSH,1,2011-05-18 09:52:00,1.25,16446.0,United Kingdom,May,0,1.25
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,December,0,168469.60
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,December,1,-168469.60

In [77]:
df[df['StockCode'] == 23843 ]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return,Rev
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,December,0,168469.6
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,December,1,-168469.6

In [61]:
df_revised = df

In [67]:
df_revised.iloc[540420:540423]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Month, Return, Rev]
Index: []

In [69]:
df_raw_revised = df_raw

In [71]:
df_raw_revised.iloc[540421:540423]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom

In [73]:
df.iloc[540420:540423]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Month, Return, Rev]
Index: []

In [75]:
df_raw.iloc[540421:540423]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom

In [84]:
df[(df['InvoiceDate'].dt.year == 2010) & (df['Return'] ==1)].Rev.sum() #Dec 2010

-17607.86

In [85]:
df[(df['InvoiceDate'].dt.year == 2011) & (df['Return'] ==1) & (df['InvoiceDate'].dt.month == 1) ].Rev.sum() #Jan 2011 GBP

-91526.29999999999

In [87]:
df[(df['InvoiceDate'].dt.year == 2011) & (df['Return'] ==1) & (df['InvoiceDate'].dt.month == 1) ].Quantity.sum() #Jan 2011 Units

-88689

In [88]:
df[ (df['Return'] ==1) & (df['InvoiceDate'].dt.month != 12) ].Quantity.sum() #Jan-Nov 2011 Units

-370244

In [89]:
df[ (df['Return'] ==1) & (df['InvoiceDate'].dt.month != 12) ].Rev.sum() #Jan-Nov 2011 GBP

-286989.56

In [90]:
df[ (df['Return'] ==1) & (df['InvoiceDate'].dt.month != 12) ].Rev.describe()

count     8894.000000
mean       -32.267772
std        830.557990
min     -77183.600000
25%        -15.000000
50%         -5.950000
75%         -1.950000
max         -0.000000
Name: Rev, dtype: float64

In [91]:
df[ (df['Return'] ==1) & (df['InvoiceDate'].dt.month != 12) &  (df['Rev'] ==-77183.6)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return,Rev
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,January,1,-77183.6

In [93]:
df[df['StockCode'] == 23166]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return,Rev
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,January,0,77183.60
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,January,1,-77183.60
186770,552882,23166,MEDIUM CERAMIC TOP STORAGE JAR,96,2011-05-12 10:10:00,1.04,14646.0,Netherlands,May,0,99.84
187196,552953,23166,MEDIUM CERAMIC TOP STORAGE JAR,4,2011-05-12 12:11:00,1.25,16745.0,United Kingdom,May,0,5.00
187718,553005,23166,MEDIUM CERAMIC TOP STORAGE JAR,5,2011-05-12 16:29:00,1.25,14651.0,United Kingdom,May,0,6.25
187868,553009,23166,MEDIUM CERAMIC TOP STORAGE JAR,3,2011-05-12 16:52:00,1.25,13601.0,United Kingdom,May,0,3.75
188644,553052,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-05-13 10:14:00,1.04,15251.0,United Kingdom,May,0,49.92
189398,553149,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-13 14:16:00,1.25,14226.0,United Kingdom,May,0,15.00
189452,553152,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-13 14:55:00,1.25,13089.0,United Kingdom,May,0,15.00
189591,553160,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-13 15:26:00,1.25,14194.0,United Kingdom,May,0,15.00
190854,553212,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-16 09:42:00,1.25,15358.0,United Kingdom,May,0,15.00
191128,553339,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-05-16 12:19:00,1.04,15125.0,United Kingdom,May,0,49.92
191165,553341,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-16 12:25:00,1.25,16293.0,United Kingdom,May,0,15.00
191581,553377,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-16 14:58:00,1.25,14888.0,United Kingdom,May,0,15.00
192039,553389,23166,MEDIUM CERAMIC TOP STORAGE JAR,3,2011-05-16 16:37:00,2.46,NaN,United Kingdom,May,0,7.38
194462,553607,23166,MEDIUM CERAMIC TOP STORAGE JAR,240,2011-05-18 10:47:00,1.04,16684.0,United Kingdom,May,0,249.60
194887,553678,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-18 13:00:00,1.25,14009.0,United Kingdom,May,0,15.00
195455,553718,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-05-18 16:14:00,2.46,NaN,United Kingdom,May,0,2.46
195725,553739,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-19 09:23:00,1.25,14895.0,United Kingdom,May,0,15.00
196707,553860,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-05-19 13:57:00,1.25,17841.0,United Kingdom,May,0,2.50
198115,554013,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-20 13:13:00,1.25,13308.0,United Kingdom,May,0,15.00
198839,554070,23166,MEDIUM CERAMIC TOP STORAGE JAR,9,2011-05-22 11:06:00,1.25,13555.0,United Kingdom,May,0,11.25
199427,554098,23166,MEDIUM CERAMIC TOP STORAGE JAR,6,2011-05-22 13:01:00,1.25,14769.0,United Kingdom,May,0,7.50
199868,554104,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-22 14:03:00,1.25,12705.0,Germany,May,0,15.00
201030,554261,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-05-23 12:32:00,1.25,16033.0,United Kingdom,May,0,2.50
201099,554268,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-05-23 12:59:00,1.25,15311.0,United Kingdom,May,0,1.25
201570,554307,23166,MEDIUM CERAMIC TOP STORAGE JAR,96,2011-05-23 14:59:00,1.04,12989.0,United Kingdom,May,0,99.84
202855,554504,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-24 15:13:00,1.25,17719.0,United Kingdom,May,0,15.00
203207,554512,23166,MEDIUM CERAMIC TOP STORAGE JAR,4,2011-05-24 15:54:00,2.46,NaN,United Kingdom,May,0,9.84
203625,C554527,23166,MEDIUM CERAMIC TOP STORAGE JAR,-9,2011-05-24 17:25:00,1.04,15251.0,United Kingdom,May,1,-9.36
...,...,...,...,...,...,...,...,...,...,...,...
488385,577816,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-11-22 09:17:00,1.25,18139.0,United Kingdom,November,0,60.00
488717,577845,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-11-22 10:44:00,1.04,18139.0,United Kingdom,November,0,49.92
499158,578630,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-11-24 16:06:00,1.04,12748.0,United Kingdom,November,0,49.92
500499,578783,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-11-25 11:58:00,1.25,12748.0,United Kingdom,November,0,1.25
501546,578827,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-11-25 14:25:00,2.46,NaN,United Kingdom,November,0,4.92
501980,578833,23166,MEDIUM CERAMIC TOP STORAGE JAR,3,2011-11-25 15:23:00,2.46,NaN,United Kingdom,November,0,7.38
504011,578941,23166,MEDIUM CERAMIC TOP STORAGE JAR,8,2011-11-27 13:26:00,1.25,16024.0,United Kingdom,November,0,10.00
505500,579087,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-11-28 10:35:00,1.25,13914.0,United Kingdom,November,0,15.00
507119,579167,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-11-28 14:06:00,1.25,16800.0,United Kingdom,November,0,2.50
507755,579187,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-11-28 15:31:00,2.46,NaN,United Kingdom,November,0,4.92
511784,579508,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-11-29 16:33:00,2.46,NaN,United Kingdom,November,0,2.46
512485,579512,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-11-29 16:47:00,2.46,NaN,United Kingdom,November,0,2.46
512817,579516,23166,MEDIUM CERAMIC TOP STORAGE JAR,10,2011-11-29 17:52:00,1.25,17841.0,United Kingdom,November,0,12.50
513276,579541,23166,MEDIUM CERAMIC TOP STORAGE JAR,8,2011-11-30 10:12:00,1.25,14653.0,United Kingdom,November,0,10.00
513981,579667,23166,MEDIUM CERAMIC TOP STORAGE JAR,5,2011-11-30 12:32:00,1.25,16361.0,United Kingdom,November,0,6.25
514299,579692,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-11-30 14:05:00,1.04,12433.0,Norway,November,0,49.92
516656,579940,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-12-01 10:20:00,1.25,16938.0,United Kingdom,December,0,15.00
518471,580115,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-12-01 16:22:00,2.46,NaN,United Kingdom,December,0,2.46
518967,580129,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-12-01 18:03:00,1.25,17426.0,United Kingdom,December,0,15.00
521849,580367,23166,MEDIUM CERAMIC TOP STORAGE JAR,5,2011-12-02 16:39:00,2.46,NaN,United Kingdom,December,0,12.30
524254,580541,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-12-05 09:03:00,1.25,15358.0,United Kingdom,December,0,15.00
524800,580610,23166,MEDIUM CERAMIC TOP STORAGE JAR,9,2011-12-05 11:48:00,2.46,NaN,United Kingdom,December,0,22.14
526381,580665,23166,MEDIUM CERAMIC TOP STORAGE JAR,96,2011-12-05 14:06:00,1.04,16684.0,United Kingdom,December,0,99.84
531499,580956,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-12-06 14:23:00,1.25,17841.0,United Kingdom,December,0,1.25
532826,580997,23166,MEDIUM CERAMIC TOP STORAGE JAR,4,2011-12-06 17:23:00,1.25,15023.0,United Kingdom,December,0,5.00
533742,581108,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-12-07 12:16:00,1.25,15984.0,United Kingdom,December,0,2.50
536248,581219,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-12-08 09:28:00,2.46,NaN,United Kingdom,December,0,2.46
539776,581439,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-12-08 16:30:00,2.46,NaN,United Kingdom,December,0,4.92
540301,581476,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-12-09 08:48:00,1.04,12433.0,Norway,December,0,49.92
541101,581492,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-12-09 10:03:00,2.46,NaN,United Kingdom,December,0,4.92

In [95]:
df.sort_values(by='Rev')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Return,Rev
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,December,1,-168469.60
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,January,1,-77183.60
160145,C550456,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,-3114,2011-04-18 13:08:00,2.10,15749.0,United Kingdom,April,1,-6539.40
160143,C550456,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-1930,2011-04-18 13:08:00,2.55,15749.0,United Kingdom,April,1,-4921.50
160141,C550456,48185,DOORMAT FAIRY CAKE,-670,2011-04-18 13:08:00,6.75,15749.0,United Kingdom,April,1,-4522.50
349750,C567527,23113,PANTRY CHOPPING BOARD,-756,2011-09-21 09:16:00,5.06,17450.0,United Kingdom,September,1,-3825.36
160144,C550456,21175,GIN + TONIC DIET METAL SIGN,-2000,2011-04-18 13:08:00,1.85,15749.0,United Kingdom,April,1,-3700.00
160142,C550456,47566B,TEA TIME PARTY BUNTING,-1300,2011-04-18 13:08:00,2.55,15749.0,United Kingdom,April,1,-3315.00
320580,C565044,22191,IVORY DINER WALL CLOCK,-318,2011-08-31 17:02:00,7.65,12931.0,United Kingdom,August,1,-2432.70
390547,C570556,22273,FELTCRAFT DOLL MOLLY,-720,2011-10-11 11:10:00,2.55,16029.0,United Kingdom,October,1,-1836.00
390541,C570556,22273,FELTCRAFT DOLL MOLLY,-720,2011-10-11 11:10:00,2.30,16029.0,United Kingdom,October,1,-1656.00
309359,C564081,22423,REGENCY CAKESTAND 3 TIER,-150,2011-08-22 17:10:00,10.95,17949.0,United Kingdom,August,1,-1642.50
144190,C548731,22328,ROUND SNACK BOXES SET OF 4 FRUITS,-624,2011-04-04 10:12:00,2.55,12755.0,Japan,April,1,-1591.20
374632,C569387,23284,DOORMAT KEEP CALM AND COME IN,-200,2011-10-03 16:49:00,7.08,14031.0,United Kingdom,October,1,-1416.00
390544,C570556,20971,PINK BLUE FELT CRAFT TRINKET BOX,-1296,2011-10-11 11:10:00,1.06,16029.0,United Kingdom,October,1,-1373.76
390548,C570556,20971,PINK BLUE FELT CRAFT TRINKET BOX,-1296,2011-10-11 11:10:00,1.06,16029.0,United Kingdom,October,1,-1373.76
352944,C567706,22835,HOT WATER BOTTLE I AM SO POORLY,-312,2011-09-22 09:46:00,4.25,15769.0,United Kingdom,September,1,-1326.00
414131,C572343,23056,FLOWERS CHANDELIER T-LIGHT HOLDER,-240,2011-10-24 10:40:00,5.39,14607.0,United Kingdom,October,1,-1293.60
34292,C539329,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-500,2010-12-17 09:37:00,2.55,16013.0,United Kingdom,December,1,-1275.00
102731,C545033,22838,3 TIER CAKE TIN RED AND CREAM,-96,2011-02-25 16:26:00,12.75,14156.0,EIRE,February,1,-1224.00
30078,C538847,85232B,SET OF 3 BABUSHKA STACKING TINS,-240,2010-12-14 13:27:00,4.95,17404.0,Sweden,December,1,-1188.00
228323,C556925,71477,COLOUR GLASS. STAR T-LIGHT HOLDER,-420,2011-06-15 14:23:00,2.75,16013.0,United Kingdom,June,1,-1155.00
390542,C570556,22149,FELTCRAFT 6 FLOWER FRIENDS,-600,2011-10-11 11:10:00,1.85,16029.0,United Kingdom,October,1,-1110.00
390543,C570556,22147,FELTCRAFT BUTTERFLY HEARTS,-840,2011-10-11 11:10:00,1.25,16029.0,United Kingdom,October,1,-1050.00
272143,C560735,71477,COLOUR GLASS. STAR T-LIGHT HOLDER,-360,2011-07-20 14:59:00,2.75,16013.0,United Kingdom,July,1,-990.00
272141,C560733,71477,COLOUR GLASS. STAR T-LIGHT HOLDER,-360,2011-07-20 14:55:00,2.75,15298.0,United Kingdom,July,1,-990.00
367063,C568832,23113,PANTRY CHOPPING BOARD,-186,2011-09-29 11:35:00,5.15,17450.0,United Kingdom,September,1,-957.90
304430,C563577,21877,HOME SWEET HOME MUG,-828,2011-08-17 15:06:00,1.06,17949.0,United Kingdom,August,1,-877.68
244799,C558553,23170,REGENCY TEA PLATE ROSES,-576,2011-06-30 12:44:00,1.45,17949.0,United Kingdom,June,1,-835.20
224419,C556522,22920,HERB MARKER BASIL,-1515,2011-06-13 11:21:00,0.55,16938.0,United Kingdom,June,1,-833.25
...,...,...,...,...,...,...,...,...,...,...,...
411229,572209,23556,LANDMARK FRAME COVENT GARDEN,300,2011-10-21 12:08:00,10.95,18102.0,United Kingdom,October,0,3285.00
411234,572209,23553,LANDMARK FRAME CAMDEN TOWN,300,2011-10-21 12:08:00,10.95,18102.0,United Kingdom,October,0,3285.00
411235,572209,23557,LANDMARK FRAME BAKER STREET,300,2011-10-21 12:08:00,10.95,18102.0,United Kingdom,October,0,3285.00
411232,572209,23558,LANDMARK FRAME LONDON BRIDGE,300,2011-10-21 12:08:00,10.95,18102.0,United Kingdom,October,0,3285.00
52771,540818,47556B,TEA TIME TEA TOWELS,1300,2011-01-11 12:57:00,2.55,15749.0,United Kingdom,January,0,3315.00
447040,574941,22086,PAPER CHAIN KIT 50'S CHRISTMAS,478,2011-11-07 17:42:00,6.95,NaN,United Kingdom,November,0,3322.10
160545,550461,21175,GIN + TONIC DIET METAL SIGN,2000,2011-04-18 13:20:00,1.69,15749.0,United Kingdom,April,0,3380.00
447035,574941,22197,POPCORN HOLDER,1820,2011-11-07 17:42:00,1.95,NaN,United Kingdom,November,0,3549.00
348323,567423,22722,SET OF 6 SPICE TINS PANTRY DESIGN,852,2011-09-20 11:05:00,4.25,17450.0,United Kingdom,September,0,3621.00
511421,579498,23084,RABBIT NIGHT LIGHT,2040,2011-11-29 15:52:00,1.79,12798.0,Japan,November,0,3651.60
52710,540815,21175,GIN + TONIC DIET METAL SIGN,2000,2011-01-11 12:55:00,1.85,15749.0,United Kingdom,January,0,3700.00
19871,537899,22328,ROUND SNACK BOXES SET OF 4 FRUITS,1488,2010-12-09 10:44:00,2.55,12755.0,Japan,December,0,3794.40
348319,567423,23113,PANTRY CHOPPING BOARD,756,2011-09-20 11:05:00,5.06,17450.0,United Kingdom,September,0,3825.36
16438,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102.0,United Kingdom,December,0,3828.00
533812,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195.0,United Kingdom,December,0,3861.00
52134,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450.0,United Kingdom,January,0,4121.64
291249,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931.0,United Kingdom,August,0,4176.00
160544,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749.0,United Kingdom,April,0,4254.50
244419,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949.0,United Kingdom,June,0,4401.00
52772,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749.0,United Kingdom,January,0,4522.50
160542,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749.0,United Kingdom,April,0,4632.00
467804,576365,22086,PAPER CHAIN KIT 50'S CHRISTMAS,688,2011-11-14 17:55:00,6.95,NaN,United Kingdom,November,0,4781.60
52709,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749.0,United Kingdom,January,0,4921.50
421601,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646.0,Netherlands,October,0,4992.00
52711,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749.0,United Kingdom,January,0,6539.40
160546,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749.0,United Kingdom,April,0,6539.40
348325,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450.0,United Kingdom,September,0,7144.72
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098.0,United Kingdom,June,0,38970.00
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,January,0,77183.60
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,December,0,168469.60

In [99]:
#VERSION 1 - Finding Customers with sale and return on the same day - Part 1 of 2
df_buy_return_SD = df.groupby(['CustomerID','StockCode','Return'])['Quantity'].unique()

In [100]:
#VERSION 1 - Finding Customers with sale and return on the same day - Part 2 of 2
df_buy_return_SD.loc[df_buy_return_SD.apply(lambda x:len(x)>1)]

CustomerID  StockCode  Return
12347.0     21064      0                  [6, 24]
            21731      0                 [12, 24]
            21791      0                 [12, 24]
            22195      0                 [12, 24]
            22196      0                 [12, 24]
            22371      0               [4, 8, 12]
            22374      0                   [4, 8]
            22375      0                   [4, 8]
            22423      0                   [3, 6]
            22699      0                  [6, 18]
            22725      0                   [4, 8]
            22726      0                   [4, 8]
            22727      0               [4, 8, 12]
            22728      0                   [4, 8]
            23084      0             [12, 48, 24]
            23146      0                   [4, 8]
            85116      0                  [12, 6]
            84558A     0         [24, 12, 18, 36]
12348.0     21213      0                [24, 120]
            21977      0                [24, 120]
            22952      0                [24, 120]
            23077      0                [80, 120]
            84991      0                [24, 120]
12352.0     22423      0                   [3, 2]
            22654      0                   [3, 6]
12356.0     21843      0                   [4, 3]
            22423      0               [16, 4, 2]
            84378      0                  [48, 3]
            84991      0                [120, 48]
12358.0     20679      0                 [12, 24]
                                       ...
18283.0     23308      0                   [1, 3]
            23318      0                [1, 2, 4]
            23319      0                [1, 2, 4]
            23320      0                   [2, 4]
            23343      0               [5, 1, 10]
            23344      0               [2, 5, 10]
            23349      0                   [2, 1]
            23351      0                   [2, 1]
            23376      0                [3, 5, 2]
            23377      0                   [3, 2]
            23378      0                [3, 5, 2]
            23379      0                   [3, 2]
            23380      0                   [2, 1]
            23381      0                   [2, 1]
            23581      0                   [1, 3]
            23582      0                [1, 2, 3]
            23583      0                   [1, 3]
            23681      0                [1, 2, 3]
            84991      0                   [2, 1]
            84992      0                   [1, 2]
            47559B     0                   [1, 4]
            47591D     0                   [1, 2]
            85099B     0                [2, 1, 3]
            85099F     0                [1, 2, 3]
            85123A     0                [2, 6, 1]
18287.0     21824      0                 [24, 48]
            23264      0                 [12, 36]
            72349B     0                 [12, 48]
            85039B     0             [60, 12, 48]
            85040A     0                 [36, 12]
Name: Quantity, Length: 37677, dtype: object

In [101]:
#VERSION 2 - Finding Customers with sale and return on the same day - Part 1 of 2
df_buy_return_SD = df.groupby(['CustomerID','StockCode','Month','Return'])['Quantity'].unique()

In [102]:
#VERSION 2 - Finding Customers with sale and return on the same day - Part 2 of 2
df_buy_return_SD.loc[df_buy_return_SD.apply(lambda x:len(x)>1)]

CustomerID  StockCode  Month      Return
12347.0     21064      December   0                [6, 24]
            21731      December   0               [12, 24]
12348.0     21213      December   0              [24, 120]
            21977      December   0              [24, 120]
            22952      December   0              [24, 120]
            84991      December   0              [24, 120]
12359.0     22423      October    0              [4, 6, 3]
12362.0     22352      October    0                [12, 6]
12391.0     20985      November   0                 [1, 2]
12393.0     23389      September  0                 [4, 8]
12395.0     22661      November   0               [20, 10]
12406.0     22383      June       0              [100, 25]
12407.0     84536B     July       0              [16, 272]
12409.0     23298      September  0                [1, 50]
12415.0     21503      July       0               [200, 1]
            22722      October    0             [240, 120]
            23084      November   0         [96, 960, 240]
            23232      July       0               [200, 1]
            23293      July       0               [384, 2]
            23294      July       0               [384, 2]
            23295      July       0               [384, 2]
            23296      July       0               [384, 2]
            23297      July       0               [240, 2]
12417.0     21135      December   0                [16, 8]
12428.0     21394      March      0               [18, 48]
            35809A     March      0                [6, 24]
            35810A     March      0                [6, 24]
12431.0     21731      July       0               [24, 72]
            22138      July       0                 [3, 6]
            22195      December   0               [24, 12]
                                                 ...
18283.0     23204      November   0                 [1, 3]
            23206      May        0                 [1, 3]
                       November   0                 [1, 2]
            23208      November   0                 [1, 2]
            23209      June       0                 [2, 1]
                       November   0                 [1, 2]
            23307      November   0                 [1, 3]
            23308      November   0                 [3, 1]
            23318      November   0                 [2, 4]
            23319      November   0                 [2, 4]
            23320      November   0                 [2, 4]
            23343      November   0                [1, 10]
            23349      November   0                 [1, 2]
            23376      November   0                 [3, 5]
            23380      November   0                 [2, 1]
            23381      November   0                 [2, 1]
            23581      November   0                 [1, 3]
            23582      November   0              [1, 2, 3]
            23583      November   0                 [1, 3]
            23681      November   0                 [1, 2]
            84992      November   0                 [1, 2]
            47559B     June       0                 [4, 1]
            85099B     June       0                 [2, 1]
                       November   0              [1, 2, 3]
            85099F     November   0                 [1, 2]
            85123A     June       0                 [6, 1]
18287.0     21824      October    0               [24, 48]
            23264      October    0               [12, 36]
            85039B     May        0               [60, 12]
            85040A     May        0               [36, 12]
Name: Quantity, Length: 15730, dtype: object

In [112]:
df_raw['Return'] = df_raw.apply(transtype, axis=1)
df_raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Return
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0

In [113]:
#VERSION 3 - Finding Customers with sale and return on the same day - Part 1 of 2
df_buy_return_SDr = df_raw.groupby(['CustomerID','StockCode','Quantity'])['Return'].unique()

In [114]:
#VERSION 3 - Finding Customers with sale and return on the same day - Part 2 of 2
df_buy_return_SDr.loc[df_buy_return_SDr.apply(lambda x:len(x)>1)]

Series([], Name: Return, dtype: object)

In [115]:
df_buy_return_SDr.head()

CustomerID  StockCode  Quantity
12346.0     23166      -74215      [1]
                        74215      [0]
12347.0     16008       24         [0]
            17021       36         [0]
            20665       6          [0]
Name: Return, dtype: object

In [116]:
df_raw[df_raw.InvoiceNo == 'C550456']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Return
160141,C550456,48185,DOORMAT FAIRY CAKE,-670,2011-04-18 13:08:00,6.75,15749.0,United Kingdom,1
160142,C550456,47566B,TEA TIME PARTY BUNTING,-1300,2011-04-18 13:08:00,2.55,15749.0,United Kingdom,1
160143,C550456,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-1930,2011-04-18 13:08:00,2.55,15749.0,United Kingdom,1
160144,C550456,21175,GIN + TONIC DIET METAL SIGN,-2000,2011-04-18 13:08:00,1.85,15749.0,United Kingdom,1
160145,C550456,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,-3114,2011-04-18 13:08:00,2.10,15749.0,United Kingdom,1

In [117]:
df_raw[(df_raw.CustomerID == 15749.0) ]#& ()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Return
52709,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749.0,United Kingdom,0
52710,540815,21175,GIN + TONIC DIET METAL SIGN,2000,2011-01-11 12:55:00,1.85,15749.0,United Kingdom,0
52711,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749.0,United Kingdom,0
52771,540818,47556B,TEA TIME TEA TOWELS,1300,2011-01-11 12:57:00,2.55,15749.0,United Kingdom,0
52772,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749.0,United Kingdom,0
160141,C550456,48185,DOORMAT FAIRY CAKE,-670,2011-04-18 13:08:00,6.75,15749.0,United Kingdom,1
160142,C550456,47566B,TEA TIME PARTY BUNTING,-1300,2011-04-18 13:08:00,2.55,15749.0,United Kingdom,1
160143,C550456,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-1930,2011-04-18 13:08:00,2.55,15749.0,United Kingdom,1
160144,C550456,21175,GIN + TONIC DIET METAL SIGN,-2000,2011-04-18 13:08:00,1.85,15749.0,United Kingdom,1
160145,C550456,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,-3114,2011-04-18 13:08:00,2.10,15749.0,United Kingdom,1
160542,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749.0,United Kingdom,0
160543,550461,47556B,TEA TIME TEA TOWELS,1300,2011-04-18 13:20:00,2.10,15749.0,United Kingdom,0
160544,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749.0,United Kingdom,0
160545,550461,21175,GIN + TONIC DIET METAL SIGN,2000,2011-04-18 13:20:00,1.69,15749.0,United Kingdom,0
160546,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749.0,United Kingdom,0

In [119]:
df_raw[df_raw.StockCode == 23166].sort_values(by='')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Return
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,0
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,1
186770,552882,23166,MEDIUM CERAMIC TOP STORAGE JAR,96,2011-05-12 10:10:00,1.04,14646.0,Netherlands,0
187196,552953,23166,MEDIUM CERAMIC TOP STORAGE JAR,4,2011-05-12 12:11:00,1.25,16745.0,United Kingdom,0
187718,553005,23166,MEDIUM CERAMIC TOP STORAGE JAR,5,2011-05-12 16:29:00,1.25,14651.0,United Kingdom,0
187868,553009,23166,MEDIUM CERAMIC TOP STORAGE JAR,3,2011-05-12 16:52:00,1.25,13601.0,United Kingdom,0
188644,553052,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-05-13 10:14:00,1.04,15251.0,United Kingdom,0
189398,553149,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-13 14:16:00,1.25,14226.0,United Kingdom,0
189452,553152,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-13 14:55:00,1.25,13089.0,United Kingdom,0
189591,553160,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-13 15:26:00,1.25,14194.0,United Kingdom,0
190854,553212,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-16 09:42:00,1.25,15358.0,United Kingdom,0
191128,553339,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-05-16 12:19:00,1.04,15125.0,United Kingdom,0
191165,553341,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-16 12:25:00,1.25,16293.0,United Kingdom,0
191581,553377,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-16 14:58:00,1.25,14888.0,United Kingdom,0
192039,553389,23166,MEDIUM CERAMIC TOP STORAGE JAR,3,2011-05-16 16:37:00,2.46,NaN,United Kingdom,0
194462,553607,23166,MEDIUM CERAMIC TOP STORAGE JAR,240,2011-05-18 10:47:00,1.04,16684.0,United Kingdom,0
194887,553678,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-18 13:00:00,1.25,14009.0,United Kingdom,0
195455,553718,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-05-18 16:14:00,2.46,NaN,United Kingdom,0
195725,553739,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-19 09:23:00,1.25,14895.0,United Kingdom,0
196707,553860,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-05-19 13:57:00,1.25,17841.0,United Kingdom,0
198115,554013,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-20 13:13:00,1.25,13308.0,United Kingdom,0
198839,554070,23166,MEDIUM CERAMIC TOP STORAGE JAR,9,2011-05-22 11:06:00,1.25,13555.0,United Kingdom,0
199427,554098,23166,MEDIUM CERAMIC TOP STORAGE JAR,6,2011-05-22 13:01:00,1.25,14769.0,United Kingdom,0
199868,554104,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-22 14:03:00,1.25,12705.0,Germany,0
201030,554261,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-05-23 12:32:00,1.25,16033.0,United Kingdom,0
201099,554268,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-05-23 12:59:00,1.25,15311.0,United Kingdom,0
201570,554307,23166,MEDIUM CERAMIC TOP STORAGE JAR,96,2011-05-23 14:59:00,1.04,12989.0,United Kingdom,0
202855,554504,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-05-24 15:13:00,1.25,17719.0,United Kingdom,0
203207,554512,23166,MEDIUM CERAMIC TOP STORAGE JAR,4,2011-05-24 15:54:00,2.46,NaN,United Kingdom,0
203625,C554527,23166,MEDIUM CERAMIC TOP STORAGE JAR,-9,2011-05-24 17:25:00,1.04,15251.0,United Kingdom,1
...,...,...,...,...,...,...,...,...,...
488385,577816,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-11-22 09:17:00,1.25,18139.0,United Kingdom,0
488717,577845,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-11-22 10:44:00,1.04,18139.0,United Kingdom,0
499158,578630,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-11-24 16:06:00,1.04,12748.0,United Kingdom,0
500499,578783,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-11-25 11:58:00,1.25,12748.0,United Kingdom,0
501546,578827,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-11-25 14:25:00,2.46,NaN,United Kingdom,0
501980,578833,23166,MEDIUM CERAMIC TOP STORAGE JAR,3,2011-11-25 15:23:00,2.46,NaN,United Kingdom,0
504011,578941,23166,MEDIUM CERAMIC TOP STORAGE JAR,8,2011-11-27 13:26:00,1.25,16024.0,United Kingdom,0
505500,579087,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-11-28 10:35:00,1.25,13914.0,United Kingdom,0
507119,579167,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-11-28 14:06:00,1.25,16800.0,United Kingdom,0
507755,579187,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-11-28 15:31:00,2.46,NaN,United Kingdom,0
511784,579508,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-11-29 16:33:00,2.46,NaN,United Kingdom,0
512485,579512,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-11-29 16:47:00,2.46,NaN,United Kingdom,0
512817,579516,23166,MEDIUM CERAMIC TOP STORAGE JAR,10,2011-11-29 17:52:00,1.25,17841.0,United Kingdom,0
513276,579541,23166,MEDIUM CERAMIC TOP STORAGE JAR,8,2011-11-30 10:12:00,1.25,14653.0,United Kingdom,0
513981,579667,23166,MEDIUM CERAMIC TOP STORAGE JAR,5,2011-11-30 12:32:00,1.25,16361.0,United Kingdom,0
514299,579692,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-11-30 14:05:00,1.04,12433.0,Norway,0
516656,579940,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-12-01 10:20:00,1.25,16938.0,United Kingdom,0
518471,580115,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-12-01 16:22:00,2.46,NaN,United Kingdom,0
518967,580129,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-12-01 18:03:00,1.25,17426.0,United Kingdom,0
521849,580367,23166,MEDIUM CERAMIC TOP STORAGE JAR,5,2011-12-02 16:39:00,2.46,NaN,United Kingdom,0
524254,580541,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,2011-12-05 09:03:00,1.25,15358.0,United Kingdom,0
524800,580610,23166,MEDIUM CERAMIC TOP STORAGE JAR,9,2011-12-05 11:48:00,2.46,NaN,United Kingdom,0
526381,580665,23166,MEDIUM CERAMIC TOP STORAGE JAR,96,2011-12-05 14:06:00,1.04,16684.0,United Kingdom,0
531499,580956,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-12-06 14:23:00,1.25,17841.0,United Kingdom,0
532826,580997,23166,MEDIUM CERAMIC TOP STORAGE JAR,4,2011-12-06 17:23:00,1.25,15023.0,United Kingdom,0
533742,581108,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-12-07 12:16:00,1.25,15984.0,United Kingdom,0
536248,581219,23166,MEDIUM CERAMIC TOP STORAGE JAR,1,2011-12-08 09:28:00,2.46,NaN,United Kingdom,0
539776,581439,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-12-08 16:30:00,2.46,NaN,United Kingdom,0
540301,581476,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-12-09 08:48:00,1.04,12433.0,Norway,0
541101,581492,23166,MEDIUM CERAMIC TOP STORAGE JAR,2,2011-12-09 10:03:00,2.46,NaN,United Kingdom,0

In [ ]:
df['year'] = df['date'].year
df['month'] = df['date'].month

In [127]:
df_raw['day'] = df_raw['InvoiceDate'].dt.day
df_raw['month'] = df_raw['InvoiceDate'].dt.month
df_raw['year'] = df_raw['InvoiceDate'].dt.year

In [128]:
df_raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Return,day,month,year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0,1,12,2010
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,1,12,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0,1,12,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,1,12,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0,1,12,2010

In [135]:
#VERSION 5 - Finding Customers with sale and return on the same day - Part 1 of 2
df_buy_return_SDr = df_raw.groupby(['CustomerID','StockCode','day','month','year'])[('Quantity')].unique()

In [136]:
#VERSION 5 - Finding Customers with sale and return on the same day - Part 2 of 2
df_buy_return_SDr.loc[df_buy_return_SDr.apply(lambda x:len(x)>1)]

CustomerID  StockCode  day  month  year
12346.0     23166      18   1      2011    [74215, -74215]
12348.0     21213      16   12     2010          [24, 120]
            21977      16   12     2010          [24, 120]
            22952      16   12     2010          [24, 120]
            84991      16   12     2010          [24, 120]
12352.0     21914      22   3      2011          [-12, 12]
            22413      22   3      2011            [-6, 6]
            22645      22   3      2011          [-12, 12]
            22701      22   3      2011            [-6, 6]
            22784      22   3      2011            [-3, 3]
            37448      22   3      2011          [-12, 12]
            84050      22   3      2011          [-12, 12]
            M          1    3      2011            [-1, 1]
12359.0     22423      13   10     2011          [4, 6, 3]
12365.0     M          21   2      2011            [-1, 1]
12391.0     20985      18   11     2011             [1, 2]
12393.0     23389      28   9      2011             [4, 8]
12395.0     POST       8    11     2011             [1, 2]
12403.0     POST       21   10     2011            [2, -1]
12406.0     22383      9    6      2011          [100, 25]
12408.0     POST       7    11     2011            [5, -1]
12409.0     23298      21   9      2011            [1, -1]
12413.0     POST       6    1      2011            [3, -3]
12415.0     20725      19   7      2011            [1, -1]
            20979      19   7      2011            [1, -1]
            21210      19   7      2011            [1, -1]
            21503      19   7      2011            [1, -1]
            21843      19   7      2011            [1, -1]
            21917      19   7      2011            [1, -1]
            21918      19   7      2011            [1, -1]
                                                ...
18283.0     20725      23   6      2011             [2, 1]
            20726      23   5      2011             [1, 2]
                       30   11     2011             [1, 2]
            20727      30   11     2011             [1, 2]
            20728      23   5      2011             [1, 2]
            21212      23   11     2011             [1, 2]
            21213      23   11     2011             [1, 3]
            21874      14   7      2011             [1, 2]
            21931      23   6      2011             [1, 2]
            21975      23   11     2011             [1, 3]
            22356      30   11     2011             [2, 1]
            22384      30   11     2011             [1, 2]
            22386      23   6      2011             [1, 2]
            22661      30   11     2011             [2, 1]
            22662      30   11     2011             [1, 2]
            23199      23   6      2011             [1, 2]
            23204      23   5      2011             [1, 3]
            23206      23   5      2011             [1, 3]
                       30   11     2011             [1, 2]
            23209      23   6      2011             [1, 2]
                       30   11     2011             [2, 1]
            23307      23   11     2011             [1, 3]
            23308      23   11     2011             [3, 1]
            23380      23   11     2011             [2, 1]
            23381      23   11     2011             [2, 1]
            23681      30   11     2011             [1, 2]
            84992      23   11     2011             [1, 2]
            85099B     23   6      2011             [2, 1]
18287.0     85039B     22   5      2011           [60, 12]
            85040A     22   5      2011           [36, 12]
Name: Quantity, Length: 6804, dtype: object

In [140]:
df_raw.sort_values(by='Quantity').head(80)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Return,day,month,year
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,1,9,12,2011
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,1,18,1,2011
225529,556690,23005,printing smudges/thrown away,-9600,2011-06-14 10:37:00,0.00,NaN,United Kingdom,1,14,6,2011
225530,556691,23005,printing smudges/thrown away,-9600,2011-06-14 10:37:00,0.00,NaN,United Kingdom,1,14,6,2011
4287,C536757,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,-9360,2010-12-02 14:23:00,0.03,15838.0,United Kingdom,1,2,12,2010
225528,556687,23003,Printing smudges/thrown away,-9058,2011-06-14 10:36:00,0.00,NaN,United Kingdom,1,14,6,2011
115818,546152,72140F,throw away,-5368,2011-03-09 17:25:00,0.00,NaN,United Kingdom,1,9,3,2011
431381,573596,79323W,"Unsaleable, destroyed.",-4830,2011-10-31 15:17:00,0.00,NaN,United Kingdom,1,31,10,2011
341601,566768,16045,NaN,-3667,2011-09-14 17:53:00,0.00,NaN,United Kingdom,1,14,9,2011
323458,565304,16259,NaN,-3167,2011-09-02 12:18:00,0.00,NaN,United Kingdom,1,2,9,2011
160145,C550456,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,-3114,2011-04-18 13:08:00,2.10,15749.0,United Kingdom,1,18,4,2011
263884,560039,20713,wrongly marked. 23343 in box,-3100,2011-07-14 14:27:00,0.00,NaN,United Kingdom,1,14,7,2011
113580,545990,84598,check,-3000,2011-03-08 13:07:00,0.00,NaN,United Kingdom,1,8,3,2011
375429,569466,23270,incorrect stock entry.,-2880,2011-10-04 11:42:00,0.00,NaN,United Kingdom,1,4,10,2011
270886,560600,18007,NaN,-2834,2011-07-19 17:04:00,0.00,NaN,United Kingdom,1,19,7,2011
431378,573593,79323LP,"Unsaleable, destroyed.",-2618,2011-10-31 15:16:00,0.00,NaN,United Kingdom,1,31,10,2011
50849,540564,22617,"mouldy, thrown away.",-2600,2011-01-10 10:36:00,0.00,NaN,United Kingdom,1,10,1,2011
131399,547560,72732,thrown away-can't sell,-2472,2011-03-23 17:28:00,0.00,NaN,United Kingdom,1,23,3,2011
185113,552733,23059,Thrown away-rusty,-2376,2011-05-11 10:48:00,0.00,NaN,United Kingdom,1,11,5,2011
431379,573594,79323P,"Unsaleable, destroyed.",-2003,2011-10-31 15:16:00,0.00,NaN,United Kingdom,1,31,10,2011
160144,C550456,21175,GIN + TONIC DIET METAL SIGN,-2000,2011-04-18 13:08:00,1.85,15749.0,United Kingdom,1,18,4,2011
160143,C550456,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-1930,2011-04-18 13:08:00,2.55,15749.0,United Kingdom,1,18,4,2011
323469,565310,21829,?missing,-1897,2011-09-02 12:26:00,0.00,NaN,United Kingdom,1,2,9,2011
242906,558379,22618,"mouldy, unsaleable.",-1681,2011-06-28 16:34:00,0.00,NaN,United Kingdom,1,28,6,2011
431376,573591,79323B,"Unsaleable, destroyed.",-1671,2011-10-31 15:15:00,0.00,NaN,United Kingdom,1,31,10,2011
445127,574816,85036C,damages wax,-1560,2011-11-07 10:37:00,0.00,NaN,United Kingdom,1,7,11,2011
224419,C556522,22920,HERB MARKER BASIL,-1515,2011-06-13 11:21:00,0.55,16938.0,United Kingdom,1,13,6,2011
174654,551837,79164,damages/credits from ASOS.,-1512,2011-05-04 13:23:00,0.00,NaN,United Kingdom,1,4,5,2011
472841,576764,16008,check,-1510,2011-11-16 13:10:00,0.00,NaN,United Kingdom,1,16,11,2011
151033,549527,21620,mystery! Only ever imported 1800,-1479,2011-04-08 16:03:00,0.00,NaN,United Kingdom,1,8,4,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
431377,573592,79323GR,"Unsaleable, destroyed.",-1158,2011-10-31 15:16:00,0.00,NaN,United Kingdom,1,31,10,2011
514735,579742,85204,lost??,-1131,2011-11-30 14:34:00,0.00,NaN,United Kingdom,1,30,11,2011
431383,573598,79342B,"Unsaleable, destroyed.",-1128,2011-10-31 15:18:00,0.00,NaN,United Kingdom,1,31,10,2011
115488,546124,35610C,Thrown away.,-1121,2011-03-09 14:50:00,0.00,NaN,United Kingdom,1,9,3,2011
115810,546142,40016,damaged stock,-1100,2011-03-09 16:37:00,0.00,NaN,United Kingdom,1,9,3,2011
156350,550133,85099F,NaN,-1092,2011-04-14 13:49:00,0.00,NaN,United Kingdom,1,14,4,2011
285886,561927,22740,?,-1060,2011-08-01 12:49:00,0.00,NaN,United Kingdom,1,1,8,2011
535335,581212,22578,lost,-1050,2011-12-07 18:38:00,0.00,NaN,United Kingdom,1,7,12,2011
422751,573115,23343,wrongly coded 20713,-1000,2011-10-27 15:37:00,0.00,NaN,United Kingdom,1,27,10,2011
51049,540638,72038P,damages,-990,2011-01-10 12:14:00,0.00,NaN,United Kingdom,1,10,1,2011
114538,546023,85175,wrongly sold sets,-975,2011-03-08 17:29:00,0.00,NaN,United Kingdom,1,8,3,2011
323389,565296,84929,code mix up? 84930,-967,2011-09-02 12:04:00,0.00,NaN,United Kingdom,1,2,9,2011
182728,C552568,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,-960,2011-05-10 12:04:00,0.21,12901.0,United Kingdom,1,10,5,2011
44863,540241,35957,NaN,-939,2011-01-05 15:17:00,0.00,NaN,United Kingdom,1,5,1,2011
431382,573597,79341,"Unsaleable, destroyed.",-905,2011-10-31 15:18:00,0.00,NaN,United Kingdom,1,31,10,2011
522163,580382,16045,check,-900,2011-12-02 17:59:00,0.00,NaN,United Kingdom,1,2,12,2011
467820,576368,21135,wet rusty,-864,2011-11-14 18:33:00,0.00,NaN,United Kingdom,1,14,11,2011
390543,C570556,22147,FELTCRAFT BUTTERFLY HEARTS,-840,2011-10-11 11:10:00,1.25,16029.0,United Kingdom,1,11,10,2011
418129,572701,85078,missing,-840,2011-10-25 14:31:00,0.00,NaN,United Kingdom,1,25,10,2011
304430,C563577,21877,HOME SWEET HOME MUG,-828,2011-08-17 15:06:00,1.06,17949.0,United Kingdom,1,17,8,2011
380688,569831,20713,wrongly coded-23343,-800,2011-10-06 12:38:00,0.00,NaN,United Kingdom,1,6,10,2011
192166,553391,37370,sold as set/6 by dotcom,-786,2011-05-16 16:42:00,0.00,NaN,United Kingdom,1,16,5,2011
349750,C567527,23113,PANTRY CHOPPING BOARD,-756,2011-09-21 09:16:00,5.06,17450.0,United Kingdom,1,21,9,2011
350350,567629,40016,?,-752,2011-09-21 13:21:00,0.00,NaN,United Kingdom,1,21,9,2011
151038,549531,21622,POSSIBLE DAMAGES OR LOST?,-750,2011-04-08 17:05:00,0.00,NaN,United Kingdom,1,8,4,2011
94765,544410,84997C,?,-741,2011-02-18 13:54:00,0.00,NaN,United Kingdom,1,18,2,2011
21518,538090,20956,?,-723,2010-12-09 14:48:00,0.00,NaN,United Kingdom,1,9,12,2010
390541,C570556,22273,FELTCRAFT DOLL MOLLY,-720,2011-10-11 11:10:00,2.30,16029.0,United Kingdom,1,11,10,2011
414136,C572343,22102,MIRROR MOSAIC T-LIGHT HOLDER,-720,2011-10-24 10:40:00,0.39,14607.0,United Kingdom,1,24,10,2011
108088,C545478,D,Discount,-720,2011-03-03 11:08:00,0.01,16422.0,United Kingdom,1,3,3,2011

In [148]:
df_raw[df_raw.CustomerID.isnull()].sort_values(by='Quantity').head(300)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Return,day,month,year
225530,556691,23005,printing smudges/thrown away,-9600,2011-06-14 10:37:00,0.0,NaN,United Kingdom,1,14,6,2011
225529,556690,23005,printing smudges/thrown away,-9600,2011-06-14 10:37:00,0.0,NaN,United Kingdom,1,14,6,2011
225528,556687,23003,Printing smudges/thrown away,-9058,2011-06-14 10:36:00,0.0,NaN,United Kingdom,1,14,6,2011
115818,546152,72140F,throw away,-5368,2011-03-09 17:25:00,0.0,NaN,United Kingdom,1,9,3,2011
431381,573596,79323W,"Unsaleable, destroyed.",-4830,2011-10-31 15:17:00,0.0,NaN,United Kingdom,1,31,10,2011
341601,566768,16045,NaN,-3667,2011-09-14 17:53:00,0.0,NaN,United Kingdom,1,14,9,2011
323458,565304,16259,NaN,-3167,2011-09-02 12:18:00,0.0,NaN,United Kingdom,1,2,9,2011
263884,560039,20713,wrongly marked. 23343 in box,-3100,2011-07-14 14:27:00,0.0,NaN,United Kingdom,1,14,7,2011
113580,545990,84598,check,-3000,2011-03-08 13:07:00,0.0,NaN,United Kingdom,1,8,3,2011
375429,569466,23270,incorrect stock entry.,-2880,2011-10-04 11:42:00,0.0,NaN,United Kingdom,1,4,10,2011
270886,560600,18007,NaN,-2834,2011-07-19 17:04:00,0.0,NaN,United Kingdom,1,19,7,2011
431378,573593,79323LP,"Unsaleable, destroyed.",-2618,2011-10-31 15:16:00,0.0,NaN,United Kingdom,1,31,10,2011
50849,540564,22617,"mouldy, thrown away.",-2600,2011-01-10 10:36:00,0.0,NaN,United Kingdom,1,10,1,2011
131399,547560,72732,thrown away-can't sell,-2472,2011-03-23 17:28:00,0.0,NaN,United Kingdom,1,23,3,2011
185113,552733,23059,Thrown away-rusty,-2376,2011-05-11 10:48:00,0.0,NaN,United Kingdom,1,11,5,2011
431379,573594,79323P,"Unsaleable, destroyed.",-2003,2011-10-31 15:16:00,0.0,NaN,United Kingdom,1,31,10,2011
323469,565310,21829,?missing,-1897,2011-09-02 12:26:00,0.0,NaN,United Kingdom,1,2,9,2011
242906,558379,22618,"mouldy, unsaleable.",-1681,2011-06-28 16:34:00,0.0,NaN,United Kingdom,1,28,6,2011
431376,573591,79323B,"Unsaleable, destroyed.",-1671,2011-10-31 15:15:00,0.0,NaN,United Kingdom,1,31,10,2011
445127,574816,85036C,damages wax,-1560,2011-11-07 10:37:00,0.0,NaN,United Kingdom,1,7,11,2011
174654,551837,79164,damages/credits from ASOS.,-1512,2011-05-04 13:23:00,0.0,NaN,United Kingdom,1,4,5,2011
472841,576764,16008,check,-1510,2011-11-16 13:10:00,0.0,NaN,United Kingdom,1,16,11,2011
151033,549527,21620,mystery! Only ever imported 1800,-1479,2011-04-08 16:03:00,0.0,NaN,United Kingdom,1,8,4,2011
234740,557597,23115,Damaged,-1440,2011-06-21 11:33:00,0.0,NaN,United Kingdom,1,21,6,2011
234739,557596,23114,Damaged,-1440,2011-06-21 11:33:00,0.0,NaN,United Kingdom,1,21,6,2011
234765,557600,23117,Damaged,-1440,2011-06-21 11:35:00,0.0,NaN,United Kingdom,1,21,6,2011
229728,557108,23113,Damaged,-1440,2011-06-16 15:58:00,0.0,NaN,United Kingdom,1,16,6,2011
375428,569465,23269,incorrect stock entry.,-1440,2011-10-04 11:41:00,0.0,NaN,United Kingdom,1,4,10,2011
234764,557599,23116,Damaged,-1440,2011-06-21 11:34:00,0.0,NaN,United Kingdom,1,21,6,2011
375427,569464,23268,Incorrect stock entry.,-1440,2011-10-04 11:40:00,0.0,NaN,United Kingdom,1,4,10,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
168325,551020,22719,wrong code,-110,2011-04-26 11:19:00,0.0,NaN,United Kingdom,1,26,4,2011
255899,559373,16156S,NaN,-110,2011-07-08 10:36:00,0.0,NaN,United Kingdom,1,8,7,2011
319895,564914,85132C,damages,-109,2011-08-31 12:40:00,0.0,NaN,United Kingdom,1,31,8,2011
272157,560737,84798B,NaN,-109,2011-07-20 15:34:00,0.0,NaN,United Kingdom,1,20,7,2011
468448,576473,21868,NaN,-108,2011-11-15 11:40:00,0.0,NaN,United Kingdom,1,15,11,2011
416901,572564,40016,NaN,-108,2011-10-25 09:56:00,0.0,NaN,United Kingdom,1,25,10,2011
222015,556315,22948,sold as set on dotcom,-108,2011-06-10 10:47:00,0.0,NaN,United Kingdom,1,10,6,2011
220141,556122,85019C,Damaged,-108,2011-06-09 10:12:00,0.0,NaN,United Kingdom,1,9,6,2011
282875,561663,22501,incorrectly put back into stock,-108,2011-07-28 16:40:00,0.0,NaN,United Kingdom,1,28,7,2011
43662,540100,22837,?,-106,2011-01-04 16:53:00,0.0,NaN,United Kingdom,1,4,1,2011
132813,547700,21147,NaN,-105,2011-03-24 16:39:00,0.0,NaN,United Kingdom,1,24,3,2011
395152,571013,23306,NaN,-104,2011-10-13 12:16:00,0.0,NaN,United Kingdom,1,13,10,2011
441510,574582,84279P,check,-104,2011-11-04 17:46:00,0.0,NaN,United Kingdom,1,4,11,2011
418839,572748,21824,check,-103,2011-10-25 16:50:00,0.0,NaN,United Kingdom,1,25,10,2011
221896,556289,20823,NaN,-102,2011-06-10 09:23:00,0.0,NaN,United Kingdom,1,10,6,2011
201756,554320,16053,NaN,-102,2011-05-23 15:32:00,0.0,NaN,United Kingdom,1,23,5,2011
535134,581190,84801A,check,-102,2011-12-07 16:55:00,0.0,NaN,United Kingdom,1,7,12,2011
497816,578473,72807B,damages,-101,2011-11-24 12:43:00,0.0,NaN,United Kingdom,1,24,11,2011
198214,554017,22520,NaN,-101,2011-05-20 13:15:00,0.0,NaN,United Kingdom,1,20,5,2011
22297,538162,46000M,Dotcom sales,-100,2010-12-09 17:25:00,0.0,NaN,United Kingdom,1,9,12,2010
22296,538161,46000S,Dotcom sales,-100,2010-12-09 17:25:00,0.0,NaN,United Kingdom,1,9,12,2010
42564,540010,22501,reverse 21/5/10 adjustment,-100,2011-01-04 11:13:00,0.0,NaN,United Kingdom,1,4,1,2011
168324,551019,22467,wrong code?,-100,2011-04-26 11:19:00,0.0,NaN,United Kingdom,1,26,4,2011
255900,559374,22050,NaN,-100,2011-07-08 10:37:00,0.0,NaN,United Kingdom,1,8,7,2011
115814,546148,85049D,?,-100,2011-03-09 16:43:00,0.0,NaN,United Kingdom,1,9,3,2011
45150,540252,22198,NaN,-100,2011-01-05 16:25:00,0.0,NaN,United Kingdom,1,5,1,2011
136831,547989,21621,re dotcom quick fix.,-100,2011-03-29 09:36:00,0.0,NaN,United Kingdom,1,29,3,2011
414729,572480,22049,damaged,-100,2011-10-24 13:44:00,0.0,NaN,United Kingdom,1,24,10,2011
42566,540012,22502,reverse 21/5/10 adjustment,-100,2011-01-04 11:14:00,0.0,NaN,United Kingdom,1,4,1,2011
397024,571114,23159,NaN,-99,2011-10-13 17:40:00,0.0,NaN,United Kingdom,1,13,10,2011

In [144]:
df_raw[df_raw.CustomerID.isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Return,day,month,year
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom,0,1,12,2010
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,0,1,12,2010
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,0,1,12,2010
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom,0,1,12,2010
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom,0,1,12,2010
1447,536544,21790,VINTAGE SNAP CARDS,9,2010-12-01 14:32:00,1.66,NaN,United Kingdom,0,1,12,2010
1448,536544,21791,VINTAGE HEADS AND TAILS CARD GAME,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,0,1,12,2010
1449,536544,21801,CHRISTMAS TREE DECORATION WITH BELL,10,2010-12-01 14:32:00,0.43,NaN,United Kingdom,0,1,12,2010
1450,536544,21802,CHRISTMAS TREE HEART DECORATION,9,2010-12-01 14:32:00,0.43,NaN,United Kingdom,0,1,12,2010
1451,536544,21803,CHRISTMAS TREE STAR DECORATION,11,2010-12-01 14:32:00,0.43,NaN,United Kingdom,0,1,12,2010
1452,536544,21809,CHRISTMAS HANGING TREE WITH BELL,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,0,1,12,2010
1453,536544,21810,CHRISTMAS HANGING STAR WITH BELL,3,2010-12-01 14:32:00,2.51,NaN,United Kingdom,0,1,12,2010
1454,536544,21811,CHRISTMAS HANGING HEART WITH BELL,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,0,1,12,2010
1455,536544,21821,GLITTER STAR GARLAND WITH BELLS,1,2010-12-01 14:32:00,7.62,NaN,United Kingdom,0,1,12,2010
1456,536544,21822,GLITTER CHRISTMAS TREE WITH BELLS,1,2010-12-01 14:32:00,4.21,NaN,United Kingdom,0,1,12,2010
1457,536544,21823,PAINTED METAL HEART WITH HOLLY BELL,2,2010-12-01 14:32:00,2.98,NaN,United Kingdom,0,1,12,2010
1458,536544,21844,RED RETROSPOT MUG,2,2010-12-01 14:32:00,5.91,NaN,United Kingdom,0,1,12,2010
1459,536544,21851,LILAC DIAMANTE PEN IN GIFT BOX,1,2010-12-01 14:32:00,4.21,NaN,United Kingdom,0,1,12,2010
1460,536544,21870,I CAN ONLY PLEASE ONE PERSON MUG,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom,0,1,12,2010
1461,536544,21871,SAVE THE PLANET MUG,5,2010-12-01 14:32:00,3.36,NaN,United Kingdom,0,1,12,2010
1462,536544,21874,GIN AND TONIC MUG,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom,0,1,12,2010
1463,536544,21879,HEARTS GIFT TAPE,1,2010-12-01 14:32:00,1.66,NaN,United Kingdom,0,1,12,2010
1464,536544,21884,CAKES AND BOWS GIFT TAPE,1,2010-12-01 14:32:00,1.66,NaN,United Kingdom,0,1,12,2010
1465,536544,21888,BINGO SET,1,2010-12-01 14:32:00,7.62,NaN,United Kingdom,0,1,12,2010
1466,536544,21889,WOODEN BOX OF DOMINOES,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,0,1,12,2010
1467,536544,21892,TRADITIONAL WOODEN CATCH CUP GAME,3,2010-12-01 14:32:00,2.51,NaN,United Kingdom,0,1,12,2010
1468,536544,21894,POTTING SHED SEED ENVELOPES,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,0,1,12,2010
1469,536544,21911,GARDEN METAL SIGN,1,2010-12-01 14:32:00,3.36,NaN,United Kingdom,0,1,12,2010
1470,536544,21912,VINTAGE SNAKES & LADDERS,3,2010-12-01 14:32:00,7.62,NaN,United Kingdom,0,1,12,2010
1471,536544,21913,VINTAGE SEASIDE JIGSAW PUZZLES,1,2010-12-01 14:32:00,7.62,NaN,United Kingdom,0,1,12,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
541511,581498,71053,WHITE MOROCCAN METAL LANTERN,1,2011-12-09 10:26:00,8.29,NaN,United Kingdom,0,9,12,2011
541512,581498,72349b,SET/6 PURPLE BUTTERFLY T-LIGHTS,2,2011-12-09 10:26:00,4.13,NaN,United Kingdom,0,9,12,2011
541513,581498,79321,CHILLI LIGHTS,10,2011-12-09 10:26:00,12.46,NaN,United Kingdom,0,9,12,2011
541514,581498,82001s,SILVER RECORD COVER FRAME,2,2011-12-09 10:26:00,7.46,NaN,United Kingdom,0,9,12,2011
541515,581498,82482,WOODEN PICTURE FRAME WHITE FINISH,4,2011-12-09 10:26:00,4.96,NaN,United Kingdom,0,9,12,2011
541516,581498,82552,WASHROOM METAL SIGN,1,2011-12-09 10:26:00,2.46,NaN,United Kingdom,0,9,12,2011
541517,581498,82580,BATHROOM METAL SIGN,1,2011-12-09 10:26:00,1.25,NaN,United Kingdom,0,9,12,2011
541518,581498,82581,TOILET METAL SIGN,1,2011-12-09 10:26:00,1.25,NaN,United Kingdom,0,9,12,2011
541519,581498,82600,N0 SINGING METAL SIGN,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom,0,9,12,2011
541520,581498,84029E,RED WOOLLY HOTTIE WHITE HEART.,4,2011-12-09 10:26:00,8.29,NaN,United Kingdom,0,9,12,2011
541521,581498,84032A,CHARLIE+LOLA PINK HOT WATER BOTTLE,4,2011-12-09 10:26:00,5.79,NaN,United Kingdom,0,9,12,2011
541522,581498,84032B,CHARLIE + LOLA RED HOT WATER BOTTLE,3,2011-12-09 10:26:00,3.29,NaN,United Kingdom,0,9,12,2011
541523,581498,84375,SET OF 20 KIDS COOKIE CUTTERS,3,2011-12-09 10:26:00,4.13,NaN,United Kingdom,0,9,12,2011
541524,581498,84509a,SET OF 4 ENGLISH ROSE PLACEMATS,1,2011-12-09 10:26:00,7.46,NaN,United Kingdom,0,9,12,2011
541525,581498,84558a,3D DOG PICTURE PLAYING CARDS,1,2011-12-09 10:26:00,5.79,NaN,United Kingdom,0,9,12,2011
541526,581498,84832,ZINC WILLIE WINKIE CANDLE STICK,26,2011-12-09 10:26:00,1.63,NaN,United Kingdom,0,9,12,2011
541527,581498,84968e,SET OF 16 VINTAGE BLACK CUTLERY,1,2011-12-09 10:26:00,24.96,NaN,United Kingdom,0,9,12,2011
541528,581498,84970s,HANGING HEART ZINC T-LIGHT HOLDER,1,2011-12-09 10:26:00,2.08,NaN,United Kingdom,0,9,12,2011
541529,581498,84997a,CHILDRENS CUTLERY POLKADOT GREEN,2,2011-12-09 10:26:00,8.29,NaN,United Kingdom,0,9,12,2011
541530,581498,84997b,CHILDRENS CUTLERY RETROSPOT RED,3,2011-12-09 10:26:00,8.29,NaN,United Kingdom,0,9,12,2011
541531,581498,84997d,CHILDRENS CUTLERY POLKADOT PINK,1,2011-12-09 10:26:00,8.29,NaN,United Kingdom,0,9,12,2011
541532,581498,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,1,2011-12-09 10:26:00,4.13,NaN,United Kingdom,0,9,12,2011
541533,581498,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,1,2011-12-09 10:26:00,16.63,NaN,United Kingdom,0,9,12,2011
541534,581498,85049a,TRADITIONAL CHRISTMAS RIBBONS,5,2011-12-09 10:26:00,3.29,NaN,United Kingdom,0,9,12,2011
541535,581498,85049e,SCANDINAVIAN REDS RIBBONS,4,2011-12-09 10:26:00,3.29,NaN,United Kingdom,0,9,12,2011
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom,0,9,12,2011
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom,0,9,12,2011
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom,0,9,12,2011
541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom,0,9,12,2011
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom,0,9,12,2011

In [ ]:
.isnull()

In [150]:
df_raw[df_raw['CustomerID'] == 12607]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Return,day,month,year
389350,570467,22551,PLASTERS IN TIN SPACEBOY,12,2011-10-10 16:06:00,1.65,12607.0,USA,0,10,10,2011
389351,570467,21915,RED HARMONICA IN BOX,12,2011-10-10 16:06:00,1.25,12607.0,USA,0,10,10,2011
389352,570467,22619,SET OF 6 SOLDIER SKITTLES,4,2011-10-10 16:06:00,3.75,12607.0,USA,0,10,10,2011
389353,570467,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-10-10 16:06:00,4.95,12607.0,USA,0,10,10,2011
389354,570467,21524,DOORMAT SPOTTY HOME SWEET HOME,2,2011-10-10 16:06:00,8.25,12607.0,USA,0,10,10,2011
389355,570467,21668,RED STRIPE CERAMIC DRAWER KNOB,12,2011-10-10 16:06:00,1.45,12607.0,USA,0,10,10,2011
389356,570467,21671,RED SPOT CERAMIC DRAWER KNOB,12,2011-10-10 16:06:00,1.45,12607.0,USA,0,10,10,2011
389357,570467,21669,BLUE STRIPE CERAMIC DRAWER KNOB,12,2011-10-10 16:06:00,1.45,12607.0,USA,0,10,10,2011
389358,570467,22090,PAPER BUNTING RETROSPOT,6,2011-10-10 16:06:00,2.95,12607.0,USA,0,10,10,2011
389359,570467,22668,PINK BABY BUNTING,5,2011-10-10 16:06:00,2.95,12607.0,USA,0,10,10,2011
389360,570467,47590A,BLUE HAPPY BIRTHDAY BUNTING,3,2011-10-10 16:06:00,5.45,12607.0,USA,0,10,10,2011
389361,570467,47590B,PINK HAPPY BIRTHDAY BUNTING,3,2011-10-10 16:06:00,5.45,12607.0,USA,0,10,10,2011
389362,570467,22974,CHILDRENS DOLLY GIRL MUG,12,2011-10-10 16:06:00,1.65,12607.0,USA,0,10,10,2011
389363,570467,22972,CHILDREN'S SPACEBOY MUG,12,2011-10-10 16:06:00,1.65,12607.0,USA,0,10,10,2011
389364,570467,22326,ROUND SNACK BOXES SET OF4 WOODLAND,6,2011-10-10 16:06:00,2.95,12607.0,USA,0,10,10,2011
389365,570467,21231,SWEETHEART CERAMIC TRINKET BOX,12,2011-10-10 16:06:00,1.25,12607.0,USA,0,10,10,2011
389366,570467,21232,STRAWBERRY CERAMIC TRINKET BOX,12,2011-10-10 16:06:00,1.25,12607.0,USA,0,10,10,2011
389367,570467,22949,36 DOILIES DOLLY GIRL,12,2011-10-10 16:06:00,1.45,12607.0,USA,0,10,10,2011
389368,570467,21974,SET OF 36 PAISLEY FLOWER DOILIES,12,2011-10-10 16:06:00,1.45,12607.0,USA,0,10,10,2011
389369,570467,84987,SET OF 36 TEATIME PAPER DOILIES,12,2011-10-10 16:06:00,1.45,12607.0,USA,0,10,10,2011
389370,570467,84509A,SET OF 4 ENGLISH ROSE PLACEMATS,4,2011-10-10 16:06:00,3.75,12607.0,USA,0,10,10,2011
389371,570467,37448,CERAMIC CAKE DESIGN SPOTTED MUG,12,2011-10-10 16:06:00,1.49,12607.0,USA,0,10,10,2011
389372,570467,22649,STRAWBERRY FAIRY CAKE TEAPOT,8,2011-10-10 16:06:00,4.95,12607.0,USA,0,10,10,2011
389373,570467,22951,60 CAKE CASES DOLLY GIRL DESIGN,24,2011-10-10 16:06:00,0.55,12607.0,USA,0,10,10,2011
389374,570467,21976,PACK OF 60 MUSHROOM CAKE CASES,24,2011-10-10 16:06:00,0.55,12607.0,USA,0,10,10,2011
389375,570467,22417,PACK OF 60 SPACEBOY CAKE CASES,24,2011-10-10 16:06:00,0.55,12607.0,USA,0,10,10,2011
389376,570467,21212,PACK OF 72 RETROSPOT CAKE CASES,24,2011-10-10 16:06:00,0.55,12607.0,USA,0,10,10,2011
389377,570467,22938,CUPCAKE LACE PAPER SET 6,12,2011-10-10 16:06:00,1.95,12607.0,USA,0,10,10,2011
389378,570467,84991,60 TEATIME FAIRY CAKE CASES,24,2011-10-10 16:06:00,0.55,12607.0,USA,0,10,10,2011
389379,570467,22199,FRYING PAN RED RETROSPOT,4,2011-10-10 16:06:00,4.25,12607.0,USA,0,10,10,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
394066,C570867,21122,SET/10 PINK POLKADOT PARTY CANDLES,-24,2011-10-12 16:17:00,1.25,12607.0,USA,1,12,10,2011
394067,C570867,21121,SET/10 RED POLKADOT PARTY CANDLES,-24,2011-10-12 16:17:00,1.25,12607.0,USA,1,12,10,2011
394068,C570867,21059,PARTY INVITES DINOSAURS,-12,2011-10-12 16:17:00,0.85,12607.0,USA,1,12,10,2011
394069,C570867,20750,RED RETROSPOT MINI CASES,-2,2011-10-12 16:17:00,7.95,12607.0,USA,1,12,10,2011
394070,C570867,16161P,WRAP ENGLISH ROSE,-25,2011-10-12 16:17:00,0.42,12607.0,USA,1,12,10,2011
394071,C570867,84991,60 TEATIME FAIRY CAKE CASES,-24,2011-10-12 16:17:00,0.55,12607.0,USA,1,12,10,2011
394072,C570867,84987,SET OF 36 TEATIME PAPER DOILIES,-12,2011-10-12 16:17:00,1.45,12607.0,USA,1,12,10,2011
394073,C570867,84509A,SET OF 4 ENGLISH ROSE PLACEMATS,-4,2011-10-12 16:17:00,3.75,12607.0,USA,1,12,10,2011
394074,C570867,48185,DOORMAT FAIRY CAKE,-2,2011-10-12 16:17:00,8.25,12607.0,USA,1,12,10,2011
394075,C570867,47590B,PINK HAPPY BIRTHDAY BUNTING,-3,2011-10-12 16:17:00,5.45,12607.0,USA,1,12,10,2011
394076,C570867,47590A,BLUE HAPPY BIRTHDAY BUNTING,-3,2011-10-12 16:17:00,5.45,12607.0,USA,1,12,10,2011
394077,C570867,47559B,TEA TIME OVEN GLOVE,-10,2011-10-12 16:17:00,1.25,12607.0,USA,1,12,10,2011
394078,C570867,37495,FAIRY CAKE BIRTHDAY CANDLE SET,-4,2011-10-12 16:17:00,3.75,12607.0,USA,1,12,10,2011
394079,C570867,37448,CERAMIC CAKE DESIGN SPOTTED MUG,-12,2011-10-12 16:17:00,1.49,12607.0,USA,1,12,10,2011
394080,C570867,23518,EMBROIDERED RIBBON REEL RACHEL,-6,2011-10-12 16:17:00,2.89,12607.0,USA,1,12,10,2011
394081,C570867,23514,EMBROIDERED RIBBON REEL SALLY,-6,2011-10-12 16:17:00,2.08,12607.0,USA,1,12,10,2011
394082,C570867,23434,3 RAFFIA RIBBONS 50'S CHRISTMAS,-10,2011-10-12 16:17:00,0.79,12607.0,USA,1,12,10,2011
394083,C570867,23372,SET 36 COLOUR PENCILS DOLLY GIRL,-16,2011-10-12 16:17:00,1.25,12607.0,USA,1,12,10,2011
394084,C570867,23367,SET 12 COLOUR PENCILS SPACEBOY,-16,2011-10-12 16:17:00,0.65,12607.0,USA,1,12,10,2011
394085,C570867,23354,6 GIFT TAGS 50'S CHRISTMAS,-12,2011-10-12 16:17:00,0.83,12607.0,USA,1,12,10,2011
394086,C570867,23353,6 GIFT TAGS VINTAGE CHRISTMAS,-12,2011-10-12 16:17:00,0.83,12607.0,USA,1,12,10,2011
394087,C570867,23351,ROLL WRAP 50'S CHRISTMAS,-12,2011-10-12 16:17:00,1.25,12607.0,USA,1,12,10,2011
394088,C570867,23349,ROLL WRAP VINTAGE CHRISTMAS,-12,2011-10-12 16:17:00,1.25,12607.0,USA,1,12,10,2011
394089,C570867,23311,VINTAGE CHRISTMAS STOCKING,-6,2011-10-12 16:17:00,2.55,12607.0,USA,1,12,10,2011
394090,C570867,23309,SET OF 60 I LOVE LONDON CAKE CASES,-24,2011-10-12 16:17:00,0.55,12607.0,USA,1,12,10,2011
394091,C570867,23293,SET OF 12 FAIRY CAKE BAKING CASES,-8,2011-10-12 16:17:00,0.83,12607.0,USA,1,12,10,2011
394092,C570867,23292,SPACEBOY CHILDRENS CUP,-8,2011-10-12 16:17:00,1.25,12607.0,USA,1,12,10,2011
394093,C570867,23291,DOLLY GIRL CHILDRENS CUP,-8,2011-10-12 16:17:00,1.25,12607.0,USA,1,12,10,2011
394094,C570867,23513,EMBROIDERED RIBBON REEL SUSIE,-6,2011-10-12 16:17:00,2.08,12607.0,USA,1,12,10,2011
394095,C570867,21058,PARTY INVITES WOODLAND,-12,2011-10-12 16:17:00,0.85,12607.0,USA,1,12,10,2011